@font-face {
  font-family: PoppinsSemiBold;
  src: url("Poppins/Poppins-SemiBold.ttf") format("truetype");
} 

$positiveBg: #0d6efd;
$negativeBg: #dc3545;
$neutralBg: #ffc107;
$outlineColor : #3d7efd;

$backgroundColor: #212529;
$cardColor: #242a34;
$cardBorderColor: #131b23;

$color-0: #01161E;
$color-1: #124559;
$color-2: #598392;
$color-3: #AEC3B0;
$color-4: #EFF6E0;

// $backgroundColor: #01121E;
// $cardColor: #124554;

$btnBackgroundColor: #598392;
$btnBorderColor: black;
$btnBorderRadius: 0.6rem;
$btnClickBackground: #5983928f;

html {
  height: 100vh;
}

body {
  background-color: $backgroundColor; 
}

/*data-polarity color variables*/
.fighter-grid-container{
  display: flex; 
  column-gap: 1rem;
  width: 100%;
}


@media(max-width: 720px){
  .fighter-card{
    width: fit-content;
    margin: auto;
    row-gap: 1rem;
    .content-wrapper{
      flex-direction: column;
    }
  }
}

@media(max-width: 576px){
  .fighter-card{
    flex-direction: column;
  }
}

/*
  blinking outline animation called flicker
*/
@keyframes flicker {
  0% {
    outline-color: transparent;
  }
  49%{
    outline-color: transparent;
  }
  50% {
    outline-color: $outlineColor;
  }
  100% {
    outline-color: $outlineColor;
  }
}

$cardPadding: 1.2rem;
$cardStatePadding: 0.3rem;
$optionPadding: 0.8rem;
$descriptionPadding: 0.5rem;
$borderRadius: 0.5rem;
$flickerDuration: 400ms;

.main-container{
  width: 100%;
}

.main-container button{
  // outline: 2px solid lavender;
  outline-offset: 2px;

  border: 2px solid $btnBorderColor;
  border-radius: $btnBorderRadius;

  margin-left: 0.4rem;
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;

  background-color: $btnBackgroundColor;
  font-family: PoppinsSemiBold;

  transition: all 0.1s ease-out;
}

@mixin button-active{
  box-shadow: black 2px 2px 0 0;
  background-color: $btnClickBackground;
}

.bio-edit-button.active{
  @include button-active;
}

.main-container button:hover{
  box-shadow: black 4px 4px 0 0;
}

.main-container button:active{
  // box-shadow: black 2px 2px 0 0;
  // background-color: $btnClickBackground;
  @include button-active;
}


.fighter-info-container{
  margin-bottom: 1rem;
  .img-link{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    opacity: 0; 
  }
}

.fighter-card[data-edit-mode-enabled="true"]{ 
  .bio-edit-button{
    @include button-active;
  }
}

.fighter-card{
  display: flex;
  align-items: center;
  border-radius: $borderRadius;
  border: 1px solid $cardBorderColor;
  padding: 1rem;

  .img-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
  }

  .img-wrapper .next-matchup{
    margin-top: 0.4rem;
    padding: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    
    border-radius: 99rem;
    border: 2px solid lavender;
    
    a{
      margin: 0px;
      text-decoration: none;
      color: whitesmoke;
    }
  }

  .img-wrapper .fighter-image{
    clip-path: inset(0% 0% round 0.8rem);
    max-width: 10rem;
    max-height: 10rem;
  }

  .content-wrapper{
    display: flex;
    
    border-radius: $borderRadius;
    border: 1px solid $cardBorderColor;
    background-color: $cardColor;

    margin-left: 0.8rem;
    padding: 1.2rem;
    .button-container{
      display: flex;
      align-items: start;
    }
  }
  .card-content{
    margin-left: 0.8rem;
    .card-header{
      margin-bottom: 0.5rem;
      .fighter-name{
        margin: 0px;
      }
      .fighter-weight{
        text-transform: uppercase;
      }
    }
    
    .card-body{
      // border: 2px solid lavender;
      border-radius: $borderRadius;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.4rem;
      column-gap: 0.5rem;
      padding-top: 0.4rem;
    }
  }

  
  .info-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h6{
      margin: 0px;
    }
    p{
      margin: 0px;
    } 
  }
}

.attrib-card[data-attrib-state="positive"]{
  .card-state{
    background-color: $positiveBg;
  }
}

.attrib-card[data-attrib-state="neutral"]{
  .card-state{
    background-color: $neutralBg;
    color: whitesmoke;
  }
}

.attrib-card[data-attrib-state="negative"]{
  .card-state{
    background-color: $negativeBg;
    color: whitesmoke;
  }
}



.attrib-card{
  background-color: $cardColor;
  
  border: 2px solid $cardBorderColor;
  border-radius: $borderRadius;
  outline: 3px solid transparent;
  outline-offset: 2px;
  
  padding: $cardPadding;
  margin-bottom: 0.7rem;

  p{
    margin: 0px;
  }
  .card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    .state-container{
      display: flex;
      align-items: center;
      text-transform: capitalize;
      h4 {
        margin: 0px;
      }

      .card-state{
        display: flex;
        align-items: center;

        border-radius: 0.4rem;
        border: 2px solid lavender;
        padding: $cardStatePadding;

        font-family: PoppinsSemiBold;
      }
    }
    .button-container{
      display: flex;
    }
  }
  .card-body{
    // display: flex;
    // justify-content: space-evenly;
    
    height: 0px;
    opacity: 0;
    
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.58,-0.02,.19,.85);
  
    .attrib-option{
      display: flex;
      align-items: center;

      // padding: $optionPadding;
      margin: $optionPadding;
      cursor: pointer;

      font-family: PoppinsSemiBold;
      text-transform: uppercase;

      .option{
        margin: 0px;  
        margin-right: 0.5rem;
        padding: $optionPadding;

        border-radius: $borderRadius;
        border: 2px solid lavender;
      }

      .description{
        padding: $optionPadding;
        border-radius: $borderRadius;
        border: 2px solid lavender;
        text-transform: capitalize;
      }
    }

    .attrib-option[data-option-state="positive"]{
        .option, .description{
          border-color: $positiveBg;
        }
        .option{
          color: $positiveBg;
        }
    }
    .attrib-option[data-option-state="neutral"]{
      .option, .description{
        border-color: $neutralBg;
      }
      .option{
        color: $neutralBg;
      }
    }

    .attrib-option[data-option-state="negative"]{
      .option, .description{
        border-color: $negativeBg;
      }
      .option{
        color: $negativeBg;
      }
    }
    
    .attrib-option[data-option-state="positive"][selected]{
      border-color: whitesmoke;
      color: whitesmoke;
      background-color: $positiveBg;
    }
    .attrib-option[data-option-state="neutral"][selected]{
      border-color: whitesmoke;
      color: whitesmoke;
      background-color: $neutralBg;
    }
    .attrib-option[data-option-state="negative"][selected]{
      border-color: whitesmoke;
      color: whitesmoke;
      background-color: $negativeBg;
    }

    .attrib-option[selected]{
      border-color: whitesmoke;
      color: whitesmoke;
      .option{
        border-color: whitesmoke;
        color: whitesmoke;
      }
    }

    .attrib-option[data-option-state="untested"]{
      display: none; 
    }
  }

  .card-footer{
    margin-top: 0.4rem;
    .card-state-description{
      
      border: 2px solid lavender;
      border-radius: $borderRadius;

      padding: $descriptionPadding;
    }
    .card-state-description[data-option-state="positive"]{
      border-color: $positiveBg !important;
    }
    
    .card-state-description[data-option-state="neutral"]{
      border-color: $neutralBg !important;
    }
    
    .card-state-description[data-option-state="negative"]{
      border-color: $negativeBg !important;
    }
    // .card-state-description[data-option-state="untested"]{
    //   display: none;
    // }
  }
}

//disable button click on attrib options when card edit mode disabled
.attrib-card[data-edit-mode-enabled="false"]{
   //reset outling color for animation
   outline-color: transparent !important;
   animation-play-state: paused;
  .card-body{
    .attrib-option{
      pointer-events: none;
    }
  }
}
.attrib-card[data-edit-mode-enabled="true"]{
  border-color: lavender !important;
  animation-play-state: running;

  .card-state{
    background-color: transparent;
  }
  .attrib-edit-button{
    @include button-active;
  }
}

.attrib-card[data-edit-mode-enabled="true"][data-attrib-state="positive"]{
  .card-state{
    border-color: $positiveBg;
    color: $positiveBg;
  }
}
  
.attrib-card[data-edit-mode-enabled="true"][data-attrib-state="neutral"]{
  .card-state{
    border-color: $neutralBg;
    color: $neutralBg;
  }
}

.attrib-card[data-edit-mode-enabled="true"][data-attrib-state="negative"]{
  .card-state{
    border-color: $negativeBg;
    color: $negativeBg;
  }
}


.list-group-item {
  margin-bottom: 1rem;
  background-color: $cardColor;
  border: 2px solid #242a30 !important;
  outline: 3px solid transparent !important;
  outline-offset: 2px !important;
  border-radius: 0.5rem !important;  
}

.dx-none {
  display: none;
  border: none;
}


.fighter-notes {
  max-width: 48ch;
  padding: 1rem;

  .notes-title{
    padding: 0.5rem;
  }

  .note-editor-container {
    row-gap: 0.5rem;

    .note-submit-btn {
      margin-left: auto;
      max-width: fit-content;
    }
    .note-editor {
      overflow: hidden;
      background-color: #212529;
      border: 1px solid #343a40;
      border-radius: 0.5rem;
      outline: 0px solid #3d7efd;
      padding-top: 0.2rem;
      padding-left: 0.4rem;
      padding-right: 0.2rem;

      width: 100%;
      // max-width: 32ch;
      word-break: break-word;
      min-height: 4rem;
      transition: outline 0.05s ease-out;
    }

    /* show light electric blue outline when note-editor is focused */
    .note-editor:focus {
      outline-width: 3px;
      border-color: transparent;
    }
  }

  .notes-list {
    width: 100%;

    ul {
      // border: 1px solid #343a40 !important
      border-radius: 0.5rem;
      overflow-y: scroll;
      overflow-x: hidden;
      margin: 0px;
      width: 100%;
      padding: 0px;
      .note {
        background-color: #212529;
        border: 2px solid lavender;
        border-radius: 0.6rem;
        list-style: None;
        display: flex;
        padding: 1rem;
        margin: 0.6rem;
        p {
          word-break: break-word; 
          text-wrap: wrap;
          min-width: 32ch;
          max-width: 100%;
          margin: 0px;
        }
      }
    }
  }
}

.content-container{
  margin: auto;
  width: 72%;
}


.xmodal{
  position: absolute;
  z-index: 10000; 
  background-color: rgba($color: #000000, $alpha: 0);
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-in-out;
  
  display: flex;
  align-items: center;
  justify-content: center;
  //rises up from bottom
  .xmodal-container{
    z-index: 10001;
    display: flex;
    width: fit-content;
    
    padding: 1.5rem; 
    border-radius: 0.5rem;
    
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
}
.xmodal.show {
    pointer-events: all;
    background-color: rgba($color: #000000, $alpha: 0.5);
    .xmodal-container{
      opacity: 1;
      transform: translateY(0%);
    }
}

.xmodal.hide {
  background-color: rgba($color: #000000, $alpha: 0);
  pointer-events: none;
  .xmodal-container{
    opacity: 0;
    transform: translateY(100%);
  }
}

.fighter-creator form{
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  input#first_name, input#last_name{
    text-transform: capitalize;
  } 
} 

@media (max-width: 1280px) {
  .content-container{
    margin: 0px;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .fighter-grid-container{
    flex-direction: column;
  }
  .fighter-notes{
    max-width: 100%;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 640px) {

}

