.event-container{
    .date-title{
        margin: auto;
    }
}

ul.event-list{
    list-style-type: none;
    padding: 0.4rem;
    margin: 0;
    background-color: #111519 !important;

    li {
        padding: 0px;
        outline: 2px solid transparent;
        outline-offset: 2px;

        a{
            text-decoration: none;
            color: lavender;
        }
    }
    li:hover{
        outline-color: whitesmoke;
        a{
            text-decoration: underline;
        }
    }
}  