.graph-container{
    margin: auto;
    width: 80%;
    

    ul.lines{
        li.line{
            width: fit-content;
            
            .line-text{
                margin: 0.6rem;
                p{
                    margin: 0px;
                }
            }
            
        }
    }

    .graph{
        width: 100%;
        height: 400px;
    } 
}