.title-container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.fighter-creator{
  height: 0px;
  opacity: 0;
  margin: 1rem;
  padding: 0.4rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
 
.fighter-selector{
  display: flex;
  justify-content: center;
  .fighter-name{
    text-transform: capitalize;
  }
}

.fighter-creator.show{
  opacity: 1;
}

.search-suggestion{
  position: absolute;
  height: 0px;
  overflow: visible;
  z-index: 100;
  ul{
    margin: 0px;
    padding: 0px;
    li{
      list-style: none;
      margin: 0px;
    }
    li:hover{
      cursor: pointer;
      background-color: hsl(0, 0%, 10%);
    }
    .suggestion{
      p{
        margin: 0px;
      }
    }
  }
}

 /* fighter-img has rounded corners using crop */
 .fighter-img {
  border-radius: 50%;
}


/*horizontally centered event-title*/
.event-title {
  margin: 0rem;
}

$tableBorderRadius: 0.68em;
$cardBorderColor: #131b23;

.title-container{
  margin:auto;
  width: 100%;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  padding: 0rem;
}
 

.table-container{
  // border: 2px solid red;
  // border-radius: 2rem;
  margin-bottom: 1rem;

  padding: 1rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

.tables-wrapper, .title-container{
  margin: auto;
  max-width: 52%;
}

#watchlist {
  .table-note{
    border-top: 1px solid whitesmoke ;
  }
}

.matchups-container{
  margin-bottom: 1.4rem;
  .matchup {
    padding: 0.4rem;
    border-radius: 0.8rem;
    h1{
      margin: 0px;
    }
    .fighter {
      align-items: center;
      img{
        height: fit-content;
        border-radius: 50%;
      }
      a {
        width: 18ch;
        text-align: center;
        text-decoration: none;
        .fighter-name {
          margin: 0px;
          color: #dee2e6;
          text-transform: capitalize;
        }
        .fighter-name:hover {
          text-decoration: underline;
        }
      }
    }
    .weightclass {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      p {
        margin: 0px;
      }
      h6{
        margin: 0px;
      }
    }
  }
  .matchup:hover {
    background-color: hsl(0, 0%, 12%);
    cursor: pointer;
    .weightclass {
      h6 { 
        text-decoration: underline;
        margin: 0px;
      }
    }
  }
  .matchup.active{
    border-color: #598392 !important;
    // border-bottom: 1px solid gray;
  }
  .matchup.watching{
    //overlay darkens
    background-color: hsl(0, 0%, 12%, 0.5);
    pointer-events: none;
    //change all colors to greyed out versions of them selves
    color: darkslategray;
    .fighter{
      .fighter-name{
          color: darkslategray;
      }
    }
  }
}

.xmodal{
  position: absolute;
  z-index: 10000; 
  background-color: rgba($color: #000000, $alpha: 0);
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-in-out;
  //rises up from bottom
  .xmodal-container{
    z-index: 10001;
    position: absolute;
    display: flex;
    width: fit-content;
    padding: 1rem;
    right: 1rem;
    bottom: 0px;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
    opacity: 0;
    transition: all 0.3s ease-in-out;

    .matchup-actions{
      width: 100%;
      .action-wrapper{
        display: flex;
        align-items: center;
        padding: 0.2rem;
        border-bottom: 1px solid whitesmoke;
        :first-child{
          min-width: 7ch;
        }
        p{
          margin: 0px;
          margin-left: 0.5rem;
        }
      }
      .action-wrapper:last-child{
        border-bottom: none;
      }
    }
  }
  
}
.xmodal.show {
    pointer-events: all;
    background-color: rgba($color: #000000, $alpha: 0.5);
    .xmodal-container{
      opacity: 1;
      transform: translateY(0%);
    }
}

.xmodal.hide {
  background-color: rgba($color: #000000, $alpha: 0);
  pointer-events: none;
  .xmodal-container{
    opacity: 0;
    transform: translateY(100%);
  }
}

.confirmation-dialog{
  position: absolute;
  left: 0px;
  top: 0px;

  width: 100%;
  height: 100%;
  z-index: 20000;

  display: flex;
  justify-content: center;
  align-items: center;
  .dialog-container{
    padding: 1.4rem;
    width: fit-content;
    .dialog-title{
      margin-right: 1rem;
    } 
    .dialog-body{
      p{
        text-transform: capitalize;
        text-align: center;
      }
    }
    .dialog-actions{
      display: flex;
      justify-content: end;
      .cancel{
        margin-right: 0.8rem;
      }
    }
  }
}

.action-wrapper{
  // border : 1px solid whitesmoke;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  p{
    margin: 0px;
  }
}

@media (max-width: 1280px) {
    .tables-wrapper, .title-container{
      max-width: 85%;
    }
}

@media (max-width: 1024px) {
  .tables-wrapper, .title-container{
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .tables-wrapper, .title-container{
      max-width: 100%;
   }
}

@media (max-width: 640px) {

}

/* overriding bootstrap style example */
// .btn{
//   // $bs-btn-bg: #598392 !important;
//   --bs-btn-bg: #598392 !important;
//   // background-color: #598392 !important;
// }

// .btn:hover {
//   // color: var(--bs-btn-hover-color);
//   // background-color: var(--bs-btn-hover-bg);
//   // border-color: var(--bs-btn-hover-border-color);
//   --bs-btn-hover-color: lavender !important;
//   --bs-btn-hover-bg: initial !important;
//   box-shadow: black 4px 4px 0 0;
// }

// .btn:active{
//   box-shadow: black 2px 2px 0 0;
//   --bs-btn-active-bg: hsl(0, 0%, 90%) !important;
// }
