.title-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.fighter-creator {
  height: 0px;
  opacity: 0;
  margin: 1rem;
  padding: 0.4rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.fighter-selector {
  display: flex;
  justify-content: center;
}
.fighter-selector .fighter-name {
  text-transform: capitalize;
}
.fighter-selector .matchup-info-wrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.4rem;
}
.fighter-selector .matchup-info-wrapper .rounds-wrapper, .fighter-selector .matchup-info-wrapper .prelims-wrapper {
  grid-column: 1;
}
.fighter-selector .matchup-info-wrapper .rounds-wrapper {
  grid-row: 1;
  display: flex;
  align-items: center;
}
.fighter-selector .matchup-info-wrapper .weight-class {
  grid-column: 2;
}

.fighter-creator.show {
  opacity: 1;
}

.search-suggestion {
  position: absolute;
  height: 0px;
  overflow: visible;
  z-index: 100;
}
.search-suggestion ul {
  margin: 0px;
  padding: 0px;
}
.search-suggestion ul li {
  list-style: none;
  margin: 0px;
}
.search-suggestion ul li:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 10%);
}
.search-suggestion ul .suggestion p {
  margin: 0px;
  text-transform: capitalize;
}

.search-container .search-box input {
  text-transform: capitalize;
}

/* fighter-img has rounded corners using crop */
.fighter-img {
  border-radius: 50%;
}

/*horizontally centered event-title*/
.event-title {
  margin: 0rem;
}

.title-container {
  margin: auto;
  width: 100%;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  padding: 0rem;
}

.table-container {
  margin-bottom: 1rem;
  padding: 1rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

.tables-wrapper, .title-container {
  margin: auto;
  max-width: 57%;
}

#watchlist .table-note {
  border-top: 1px solid whitesmoke;
}

.matchups-container {
  margin-bottom: 1.4rem;
}
.matchups-container .matchups {
  border: 1px solid lavender;
  background-color: #111519;
}
.matchups-container .matchup-columns {
  padding: 0.4rem;
  border-bottom: 1px solid lavender;
  text-transform: capitalize;
}
.matchups-container .matchup {
  padding: 0.4rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
.matchups-container .matchup .fighters {
  display: flex;
  align-items: center;
  justify-content: center;
}
.matchups-container .matchup .fighters p.vs {
  margin: 0px;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.matchups-container .matchup .fighters a.fighter-link {
  color: whitesmoke;
  text-decoration: none;
}
.matchups-container .matchup .fighters .fighter-link:hover {
  text-decoration: underline;
}
.matchups-container .matchup .weightclass {
  display: flex;
  align-items: center;
  justify-content: center;
}
.matchups-container .matchup .weightclass p {
  margin: 0px;
  text-transform: capitalize;
}
.matchups-container .matchup .rounds {
  display: flex;
  align-items: center;
  justify-content: center;
}
.matchups-container .matchup .rounds p {
  margin: 0px;
}
.matchups-container .matchup:hover {
  background-color: hsl(210, 18%, 3%);
  cursor: pointer;
}
.matchups-container .matchup:hover .weightclass {
  text-decoration: underline;
}
.matchups-container .matchup.active {
  background-color: hsl(210, 18%, 15%);
  cursor: pointer;
}
.matchups-container .matchup.active .weightclass {
  text-decoration: underline;
}
.matchups-container .matchup:focus {
  background-color: hsl(210, 18%, 3%);
}
.matchups-container .matchup.watching {
  background-color: hsla(0, 0%, 12%, 0.5);
  pointer-events: none;
  color: darkslategray !important;
}
.matchups-container .matchup.watching .fighter-link {
  color: darkslategray !important;
}

.xmodal {
  position: absolute;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0);
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.xmodal .xmodal-container {
  z-index: 10001;
  position: absolute;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  right: 1rem;
  bottom: 0px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.xmodal .xmodal-container .matchup-actions {
  width: 100%;
}
.xmodal .xmodal-container .matchup-actions .action-wrapper {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  border-bottom: 1px solid whitesmoke;
}
.xmodal .xmodal-container .matchup-actions .action-wrapper :first-child {
  min-width: 7ch;
}
.xmodal .xmodal-container .matchup-actions .action-wrapper p {
  margin: 0px;
  margin-left: 0.5rem;
}
.xmodal .xmodal-container .matchup-actions .action-wrapper:last-child {
  border-bottom: none;
}

.xmodal.show {
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.5);
}
.xmodal.show .xmodal-container {
  opacity: 1;
  transform: translateY(0%);
}

.xmodal.hide {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}
.xmodal.hide .xmodal-container {
  opacity: 0;
  transform: translateY(100%);
}

.confirmation-dialog {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 20000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 10%, 0.75);
}
.confirmation-dialog .dialog-container {
  border: 2px solid #dc3545;
  padding: 1.4rem;
  width: -moz-fit-content;
  width: fit-content;
}
.confirmation-dialog .dialog-container .dialog-title {
  margin-right: 1rem;
}
.confirmation-dialog .dialog-container .dialog-body {
  border-color: #dc3545 !important;
}
.confirmation-dialog .dialog-container .dialog-body p {
  text-transform: capitalize;
  text-align: center;
}
.confirmation-dialog .dialog-container .dialog-actions {
  display: flex;
  justify-content: end;
}
.confirmation-dialog .dialog-container .dialog-actions .cancel {
  margin-right: 0.8rem;
}

.action-wrapper {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.action-wrapper p {
  margin: 0px;
}

.action-bar .matchup-actions {
  padding: 1rem;
  gap: 0.4rem;
}
.action-bar .matchup-actions .action-wrapper p {
  white-space: nowrap;
}

@media (max-width: 1280px) {
  .tables-wrapper, .title-container {
    max-width: 85%;
  }
}
@media (max-width: 1024px) {
  .tables-wrapper, .title-container {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .tables-wrapper, .title-container {
    max-width: 100%;
  }
}
/* overriding bootstrap style example *//*# sourceMappingURL=index.css.map */