@import url(outcomes.css);
@import url(prediction.css);
/*data-polarity color variables*/
/*horizontally centered event-title*/
.event-title {
  text-align: center;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
}

h5,
h6 {
  margin: 0px;
}

.fighter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.fighter-container .vs-wrapper {
  margin: 1rem;
}
.fighter-container .fighter-info.win {
  outline-color: #00FF00;
}
.fighter-container .fighter-info.lose {
  outline-color: #FF0000;
}
.fighter-container .fighter-info {
  padding: 1.2rem;
  border-radius: 1rem;
  background-color: #12161A;
  outline: 3px solid transparent;
  outline-offset: 1px;
}
.fighter-container .fighter-info .fighter-info-wrapper {
  display: flex;
}
.fighter-container .fighter-info .fight-result-label {
  color: #00FF00;
}
.fighter-container .fighter-info img {
  margin: auto;
  max-width: 10rem;
  border-radius: 1rem;
}
.fighter-container .fighter-info .fighter-bio > div {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0.5rem;
}
.fighter-container .fighter-info .fighter-bio .name {
  text-transform: capitalize;
}
.fighter-container .fighter-info .fighter-bio .name a {
  text-decoration: none;
  color: lavender;
}
.fighter-container .fighter-info .fighter-bio :not(:first-child) p {
  margin: 0px;
}

.matchup-container {
  display: flex;
  flex-direction: column;
}

.matchup-info {
  display: flex;
  justify-content: center;
}
.matchup-info h4 {
  text-align: center;
  text-transform: capitalize;
}

.attrib-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.attrib-row h3 {
  text-transform: capitalize;
  text-align: center;
  grid-column: span 2;
}
.attrib-row .attrib-col {
  border: 3px solid lavender;
  border-radius: 0.8rem;
  margin: 0.4rem;
  padding: 0.3rem;
}
.attrib-row .attrib-left {
  text-align: end;
}
.attrib-row div[data-polarity=positive] {
  border-color: #0d6efd;
}
.attrib-row div[data-polarity=positive] h5 {
  background-color: #0d6efd;
}
.attrib-row div[data-polarity=negative] {
  border-color: #dc3545;
}
.attrib-row div[data-polarity=negative] h5 {
  background-color: #dc3545;
}
.attrib-row div[data-polarity=neutral] {
  border-color: #ffc107;
}
.attrib-row div[data-polarity=neutral] .state-container {
  background-color: #ffc107;
}
.attrib-row div[data-polarity=neutral] .state-container h5 {
  color: black;
}
.attrib-row div[data-polarity=null] .state-container {
  background-color: lightgray;
}
.attrib-row div[data-polarity=null] .state-container h5 {
  color: darkslategray;
}

.content-grid > * {
  grid-row: 1;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.content-grid .notes-section .fighter-name {
  text-transform: capitalize;
}
.content-grid .notes-section .notes {
  border-radius: 0.4rem;
  list-style: none;
  padding: 0.5rem;
  background-color: #12161A;
}
.content-grid .notes-section .notes li p {
  max-width: 36ch;
}
.content-grid .notes-section .notes .note {
  background-color: #212529;
  border: 2px solid lavender;
  border-radius: 0.6rem;
  list-style: None;
  display: flex;
  padding: 1rem;
  margin: 0.6rem;
}
.content-grid .notes-section .notes .note p {
  word-break: break-word;
  text-wrap: wrap;
  max-width: 32ch;
  margin: 0px;
}
.content-grid .notes-section .notes .note[data-tag=positive] {
  border: 3px solid #0d6efd;
}
.content-grid .notes-section .notes .note[data-tag=negative] {
  border: 3px solid #dc3545;
}
.content-grid .notes-left {
  grid-column: span 1;
}
.content-grid .notes-right {
  grid-column: 4;
}
.content-grid .attrib-compare-table {
  grid-column: 2/4;
}

.analysis-check-container {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  outline: 2px solid rgba(230, 230, 250, 0.1333333333);
  border-radius: 0.4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: outline 0.15s ease-in;
}
.analysis-check-container * {
  cursor: pointer;
}

.analysis-check-container:hover {
  cursor: pointer;
}

.analysis-check-container.checked {
  outline-color: #00FF00;
}

@media (max-width: 1280px) {
  .content-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }
  .content-grid .attrib-compare-table {
    grid-row: 1;
    grid-column: span 4;
  }
  .content-grid .notes-section {
    grid-row: 2;
    grid-column: span 2;
  }
}
@media (max-width: 640px) {
  .fighter-container {
    flex-direction: column;
  }
}/*# sourceMappingURL=matchup.css.map */