$tableBackground: #111519;

.tables-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matchups-container {
    position: relative;
    ul {
        padding: 0px;
        // border: 1px solid red !important;
    }
    li {
        list-style: none;        
        .matchup:hover{
            background-color: hsl(50, 10%, 50%); 
        }
        .matchup.active{
            background-color: violet;
            color: black;
        }
    } 

}

.watchlist-matchups{
    width: 100%;
    table{
        width: 100%;
        p.weight-class{
            text-transform: capitalize;
        }
    }
}
.watchlist-empty-message{
    border: 1px solid lavender;
    border-radius: 0.4rem;
    width: fit-content;
    padding: 0.4rem;
    * {
        margin: 0px;
    }
}

table{
    transition: all 0.3s ease-out;
    background-color: $tableBackground !important;
    thead{
        border: 1px solid lavender;
        text-transform: capitalize;
    };
    tbody{
        border: 1px solid lavender;
    }
    th, td{
        text-align: center;
        vertical-align: middle;
        padding: 0.4rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    } 
    td{
        p{
            margin: 0px;
        }
    }
}

.guide{
    background-color: cyan;
    position: absolute;
}
.guide-horizontal{
    width: 100%;
    height: 1px;
}
.guide-vertical{
    width: 1px;
    height: 100%;
    top:0%;
}

.matchup-actions-menu-container{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1000;
    min-width: 13.5ch;
    ul{
        background-color: #111519;
        // box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;        
        // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        border: 1px solid gray;
        border-radius: 0.4rem;
    
        li:first-child{
            border-top: none;
        }
        li {
            border-top: 1px solid gray;
            padding: 0.6rem;
        }
    }

    li:hover{
        cursor: pointer;
        background-color: violet;
        color: black;
    }

    .menu-item{
        text-transform: capitalize;       
    }
}

.table-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    table{
        width: 100%;
    }
} 


@media (max-width: 1280px) {

}

@media (max-width: 924px) {
  .table-grid{
        grid-template-columns: 1fr;
    } 
}

@media (max-width: 768px) {
  
}

@media (max-width: 640px) {

}