$tableBackground: #111519;

.tables-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matchups-container {
    position: relative;
    ul {
        padding: 0px;
        // border: 1px solid red !important;
    }
    li {
        list-style: none;
        padding: 0px !important;
        
        .matchup:hover{
            background-color: hsl(50, 10%, 50%); 
        }
        .matchup.active{
            background-color: violet;
            color: black;
        }
    } 

}

table{
    background-color: $tableBackground !important;
    thead{
        border: 1px solid lavender;
    };
    tr{
        border: 1px solid #fff0f5aa;
    };

    th, td{
        text-transform: capitalize;
        text-align: center;
        vertical-align: middle;
        padding: 0.4rem;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
    }
    td{
        padding: 0px !important;
        p{
            margin: 0px;
        }
    }
}

.guide{
    background-color: cyan;
    position: absolute;
}
.guide-horizontal{
    width: 100%;
    height: 1px;
}
.guide-vertical{
    width: 1px;
    height: 100%;
    top:0%;
}

.matchup-actions-menu-container{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1000;
    li:hover{
        cursor: pointer;
        background-color: violet;
        color: black;
    }
}