/*
   5 colors representing very likely, likely, neutral, unlikely, very unlikely
  */
@font-face {
  font-family: PoppinsThin;
  src: url("Poppins/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: PoppinsLight;
  src: url("Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: PoppinsRegular;
  src: url("Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: PoppinsMedium;
  src: url("Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: PoppinsBold;
  src: url("Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url("Poppins/Poppins-SemiBold.ttf") format("truetype");
}

.likely-5 {
  background-color: #dc3545;
}

.likely-4 {
  background-color: #ed7b26;
}

.likely-3 {
  background-color: #ffc107;
}

.likely-2 {
  background-color: #80ff00;
}

.likely-1 {
  background-color: #00ff00;
}

.confidence-selector{
  border: 1px solid lavender;
  border-radius: 0.4rem;
  padding: 0.3rem;

  .current-confidence{
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
  }
}

ul.confidence-list {
  list-style-type: none;
  
  padding: 0px;
  margin-bottom: 0rem;
  height: 0px;

  overflow: hidden;
  
  transition: all 0.3s ease-in-out;
  font-family: PoppinsSemiBold;

  li {
    padding: 0.3rem;
    margin-bottom: 0.1rem;
    color: black;
  }

  li .likelihood {
    border-radius: 0.4rem;
    padding: 0.3rem;
    text-align: center;
    text-transform: capitalize;
  }

  li:hover {
    cursor: pointer;
  }

  li.active .likelihood{
    outline: 2px solid white;
    outline-offset: 2px;
  }
}

.outcome-card{
  background-color: #12161A;
  border-radius: 0.8rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  height: fit-content;
}

.outcomes-container {

  .confidence {
    min-width: fit-content;
    border-radius: 0.4rem;
    padding: 0.3rem;
    text-align: center;
    text-transform: capitalize;
    font-family: PoppinsSemiBold;
  }

  .outcomes-wrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 0.6rem;
    .outcome {
      display: flex;
      flex-direction: column;

      padding: 0.2rem;
      position: relative;

      .save-outcome-btn{
        position: absolute;
        right: 0px;
      }

      .wrapper {
        margin: auto;
        width: 4rem;
        height: 4rem;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid lavender;
        border-radius: 99rem;

        h6 {
          text-transform: capitalize;
          width: fit-content;
          text-align: center;
        }
      
      }

      p {
        border-radius: 0.5rem;

        margin: 0px;
        margin-top: 1rem;

        text-align: center;
        text-transform: capitalize;
      }
    }
  }
}

.justification{
  margin-top: 0.4rem;
  padding: 0.3rem;
  .title-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .justification-container{
    margin-top: 0.4rem;
    .editor-wrapper{
      border: 1px solid lavender;
      border-radius: 0.4rem; 
      // height: auto;
      overflow: hidden;
      transition: all 0.3s ease-in-out;

      .editor {
        margin: 0px;
        padding: 0.3rem;
        width: 100%;
        text-transform: capitalize;
        text-align: left;
        // max-width: 32ch;
        word-break: break-word;
        min-height: 4rem;
      }
    }
  }
}