@font-face {
    font-family: PoppinsSemiBold;
    src: url("Poppins/Poppins-SemiBold.ttf") format("truetype");
}

.prediction-table{
    ul {
        background-color: #12161A;
    }
    margin-bottom: 1rem;
}

ul {
    padding: 0px;
    padding-bottom: 0.8rem;
    list-style: none; 
    li{
        margin: 0.2rem;
        padding: 0.4rem
    }

    li.data-row {
        border:1px solid lavender;
        border-radius: 0.4rem;
        .col{
            text-transform: capitalize;
        }
    }
    .data-result{    
        p{  
            font-family: PoppinsSemiBold;
            outline: 2px solid lavender;
            outline-offset: 1px;
            border-radius: 0.4rem;
            margin: 0px;

            width: 6ch;
            text-align: center;
            text-transform: lowercase;
            color: black;
        }
        p.data-correct{
            background-color: #00ff00;
        }
        p.data-incorrect{
            background-color: #dc3545;
        }
        p.data-tbd{
            background-color: slategrey;
        }
    }

    .column-label{
        padding: 0.2rem; 
        display: flex;
        p{
            margin: 0px;
        }
        // justify-content: space-between; 
        align-items: center;
        .icon{
            color: #313539;//set fill="currentColor"
        }
    }

    // #result.column-label{
    //     justify-content: end !important;
    //     p{
    //         margin-right: 1rem;
    //     }
    // }

    .column-label:hover{
        cursor: pointer;
        background-color: #414549;
    }
    .column-label.sort-by{
        background-color: #111519;
        .icon{
            color: #818589;//set fill="currentColor"
        }
    }
    
    .column-label[data-sort="dec"]{
        //flip icon upside down
        .icon {
            transform: rotateZ(180deg);
        }
    }
} 

.outcome-type-stats{
    // background-color: red;
    .stat-wrapper{
        border-right: 1px solid #495057;
    }
     > :last-child{
        // background-color: red;
        border-right: none !important;
    }
} 