.prediction-result-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-select-container form select{
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
    }  
    
    .prediction-selector{
        background-color: #12161A;
        border-radius: 0.8rem;
        outline: 3px solid transparent;
        outline-offset: 1px;
        
        padding: 1.2rem;
        height: fit-content;
        width: fit-content; 
        
        .title-container{
            position: relative;
            margin-bottom: 0.5rem;
        }
        
        .title-container .save-prediction-btn{
            position: absolute;
            right: 0px;
            top: 0px;
        }
        .confidence {
            min-width: fit-content;
            border-radius: 0.4rem;
            border-top-left-radius: 0rem;
            border-top-right-radius: 0rem;
            padding: 0.3rem;
            text-align: center;
            text-transform: capitalize;
            font-family: PoppinsSemiBold;
        }
    }
    
    .prediction-selector.correct{
        outline-color: #00FF00;
    }

    .prediction-selector.incorrect{
        outline-color: #FF0000;
    }

    .reveal-result-container{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        p{
            margin-right: 1rem;
        }
    }
}