.table-wrapper {
  display: flex;
  align-items: center;
  max-width: 60%;
  margin: auto;
  padding: 0.5rem;
}

.odds-table {
  text-transform: capitalize;
  p {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  p.odds {
    color: rgb(0, 255, 0);
  }
}

@media (max-width: 1280px) {
  .table-wrapper {
    max-width: 70%;
  }
}

@media (max-width: 1024px) {
  .table-wrapper {
    max-width: 75%;
  }
}

@media (max-width: 740px) {
  .table-wrapper {
    max-width: 100% !important;
  }
}
