@import url(fonts.css);

.likely-5 {
  background-color: #dc3545;
}

.likely-4 {
  background-color: #ed7b26;
}

.likely-3 {
  background-color: #ffc107;
}

.likely-2 {
  background-color: #80ff00;
}

.likely-1 {
  background-color: #00ff00;
}

.likely-0 {
  background-color: #52565a;
}

.matchup-wrapper {
  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

// .likelihood-cell{
//   &:hover{
//     cursor: pointer;
//   }
// }

.seperator-vert {
  height: 1rem;
  width: 1px;
  background-color: white;
}

.likelihood {
  border-radius: 0.2rem;
  font-family: PoppinsSemiBold;
  width: 18ch;
  user-select: none;
  margin: 0.2rem;
  height: fit-content;

  span {
    color: black;
    padding: 1rem;
    padding-left: 0.6rem;
  }

  &.selected {
    outline: 2px solid whitesmoke;
    outline-offset: 1px;
  }

  &:hover {
    cursor: pointer;
  }
}

.main-container{
    width: 100%;
    margin: auto;
    padding-top: 2.4rem;
}

table.prediction-table{
  th{
     text-transform: capitalize; 
  }
  tbody {
    span{
      text-align: center; 
    }
  }
}

.line-container{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  .line{
    height: fit-content;
    width: fit-content;
    
    display: flex;
    .matchup{
      .event-node{
        padding-left: 0.6rem; 
      }
    }
  }
}


@media (min-width: 640px) {
   .main-container{
    max-width: 100%;
   }
}

@media (max-width: 640px){
  table.prediction-table{
    tr{
      display: flex;
      flex-direction: column;

      .win{
        flex-direction: column;
        align-items: start !important;
        :first-child{
          margin-bottom: 0.4rem;
        }
      }
    } 
  }
}

@media (min-width: 768px) {
  .main-container{
    max-width: 95%;
   }
}
@media (min-width: 1024px) {
  .main-container{
    max-width: 84%;
  }
}
@media (min-width: 1280px) {
  .main-container{
    max-width: 72%;
  }
}