.main-container{
  transition: height 0.5s ease-out;
}

.table-wrapper {
  display: flex;
  align-items: center;
  max-width: 60%;
  margin: auto;
  padding: 0.5rem;
}

.transparent{
  opacity: 0;
}
 
.odds-table {
  transition: opacity 0.5s ease-out;
  text-transform: capitalize;
  td.odds {
    cursor: pointer;
  }
  p { 
    margin: 0px;
    padding: 0px;
    text-align: center;
    user-select: none;
  }
  .odds {
    color: rgb(0, 255, 0);
  }

  .selected{
    background-color: whitesmoke;
  }
}

@media (max-width: 1280px) {
  .table-wrapper {
    max-width: 70%;
  }
}

@media (max-width: 1024px) {
  .table-wrapper {
    max-width: 75%;
  }
}

@media (max-width: 740px) {
  .table-wrapper {
    max-width: 100% !important;
  }
}


.line-list{
  .xline{
    // width: fit-content;
    .node { 
      // padding-left: 0.4rem;
      // padding-right: 0.4rem;
      // width: fit-content; 
    //  .name {
    //   // border-bottom: 1px solid slategray;
    //  }  
     .odd{
      text-align: center;
     }
    }
  }
}