/* import font as variable */

/* poppins thin light and regular bold semi-bold font-face declarations  */
@font-face {
    font-family: PoppinsThin;
    src: url("Poppins/Poppins-Thin.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsLight;
    src: url("Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsRegular;
    src: url("Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsMedium;
    src: url("Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsBold;
    src: url("Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url("Poppins/Poppins-SemiBold.ttf") format("truetype");
}

/* use font as variable */
$backgroundColor: #212529;

html, body {
    height: 100%;
    min-height: 800px;
    font-family: PoppinsLight;
    font-size: 16px; 
    background-color: $backgroundColor;
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: PoppinsBold;
}

h4{
    font-family: PoppinsSemiBold;
}
 
h5,
h6 {
    font-family: PoppinsMedium;
}

$backgroundColor: #212529;
$cardColor: #242a34;
$cardBorderColor: #131b23;
$linkWrapperBorderRadius: 0.5rem;
$sideBarPadding: 0.8rem;

$color-0: #01161E;
$color-1: #124559;
$color-2: #598392;
$color-3: #AEC3B0;
$color-4: #EFF6E0;

@import url(sidebar.scss);

$sidebar-width: 15ch;
$sidebar-button-width: 8ch;
$sidebar-sublink-title-width: 11ch;
$main-container-leftpadding: calc($sidebar-width + 2ch);
.main-container{
    overflow: auto;
}

nav{
    position: absolute;
    top: 0px;
    left: 0px;
}

/*
    tailwind responsive media queries
*/
// @media (min-width: 640px) {
   
// }
// @media (min-width: 768px) {
    
// @media (min-width: 1024px) {
  
// }
// @media (min-width: 1280px) {
    
// }
