{% extends "fightEvaluator/base.html" %}
{% load static %}
{% load custom_filters %}

{% block styles %}
<link rel="stylesheet" href="{% static  'fightEvaluator/styles/assessment_styles.css' %}" />
{% endblock %}
{% block title %}Fighter Assessment: {{ fighter.name }}{% endblock %}

{% block content %}
    {% include 'fightEvaluator/navbar.html' %}
    <div class="main-container">
      <div class="content-container">
        <div class="fighter-info-container">
          <div class="fighter-card">
            <div class="img-wrapper">
              <img class="fighter-image" src={% if fighter.img_link %}"{{fighter.img_link}}"{% else %}"{% static 'fightEvaluator/media/sample_150.png' %}"{% endif %}  alt="">
              <div class="next-matchup d-flex">
                    {% if nextMatchup %}
                    <a class="text-center" href="/matchup/{{ nextMatchup.id }}">
                      <p class="m-0">{{ nextMatchup.fighter_a.last_name }} vs {{ nextMatchup.fighter_b.last_name }}</p>
                    </a>
                    {% else %}
                    <a href="#">
                      no upcoming matchup
                    {% endif %}
                    </a>
              </div>
            </div>
            <div class="content-wrapper">
              <div class="card-content">
                <div class="card-header">
                  <h2 class="fighter-name">
                    <!-- {{ fighter.first_name }} {{ fighter.last_name }} -->
                    <span id="first_name">{{ fighter.first_name }}</span>&nbsp; 
                    <span id="last_name">{{ fighter.last_name }}</span>
                  </h2>
                  <div class="info-wrapper">
                    <p class="fighter-weight" id="weight_class">{{ fighter.weight_class|rmscores }}</p>
                  </div>
                </div>
                <div class="card-body">
                  <div class="info-wrapper">
                    <h6>height:&nbsp;</h6>
                    <p class="fighter-height">{{ fighter.height|height_str }}</p>
                  </div>
                  <div class="info-wrapper">
                    <h6>age:&nbsp;</h6>
                    <p class="fighter-age">age</p>
                  </div>
                  <div class="info-wrapper">
                    <h6>record:&nbsp;</h6>
                    <p class="fighter-record">
                      <span id="wins">{{ fighter.wins }}</span>&#45;<span id="losses">{{ fighter.losses }}</span id="draws">&#45;<span id="draws">{{ fighter.draws }}</span>
                    </p>
                  </div>
                  <div class="info-wrapper">
                    <h6>reach:&nbsp;</h6>
                    <p class="fighter-reach" id="reach">{{ fighter.reach }}</p>
                  </div>
                  <div class="info-wrapper">
                    <h6>stance:&nbsp;</h6>
                    <p class="fighter-stance" id="stance">{{ fighter.stance }}</p>
                  </div>
                  <div class="info-wrapper">
                    <button class="event-link-btn btn btn-outline-info" id="data_api_link" data-url="{{ fighter.data_api_link|default_if_none:""}}" style="width: 140px;">
                   
                      {% include 'fightEvaluator/tapology_logo.html' %}
                      
                    </button>
                    <script>
                      document.querySelector(".event-link-btn").addEventListener("click",(event)=>{
                          window.open(event.currentTarget.dataset.url,"_blank");
                      });
                    </script>
                  </div>
                </div> 
              </div>
              <div class="button-container">
                <button class="bio-edit-button" onclick="onEditFighter(event)">edit</button>
              </div>
            </div>
          </div>
        </div>
        <div class="fighter-grid-container">
            <!--list of 8 fighter attributes-->
          <div class="fighter-attrib-list" data-edit-mode-enabled="false">
            <!-- <div class="attrib-card" data-edit-mode-enabled="false" data-attrib-state="null">
              <div class="card-header">
                <div class="state-container">
                  <h4>Attribute-X</h4>
                   <svg
                    class="arrow"
                      xmlns="http://www.w3.org/2000/svg"
                      height="24"
                      viewBox="0 -960 960 960"
                      width="24">
                      <path
                        fill="white"
                        d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z" />
                    </svg>
                <div class="card-state">State X</div>
                </div>
                <div class="button-container">
                  <button class="attrib-edit-button">edit</button>
                  <button class="attrib-commit-button">commit</button>
                </div>
              </div>
              <div class="card-body d-flex flex-column">
                  <div class="attrib-option d-flex" data-option-state="positive">
                    <h5 class="mx-0">Option-0</h5>
                    <p class="attrib-description">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit eos unde, qui numquam reiciendis voluptate sint accusamus tempora ullam pariatur, quod distinctio neque veritatis, perferendis quidem. Totam expedita ad accusamus!
                    </p>
                  </div>
                  <div class="attrib-option" data-option-state="neutral">
                    Option 1
                  </div>
                  <div class="attrib-option" data-option-state="negative">
                    Option 2
                  </div>
              </div>
              <div class="card-footer">
                <div class="attrib-option-description" data-option-state="positive">
                  <p>Option 0 description</p>
                </div>
                <div class="attrib-option-description" data-option-state="neutral">
                  <p>Option 1 description</p>
                </div>
                <div class="attrib-option-description" data-option-state="negative">
                  <p>Option 2 description</p>
                </div>
              </div>
            </div> -->
            {% for attrib_name,attrib_value in attribs %}
                <div class="attrib-card" data-edit-mode-enabled="false" data-attrib-state="{{ attrib_value }}" data-attrib-name="{{ attrib_name }}">
                  <div class="card-header">
                    <div class="state-container">
                      <h4>{{ attrib_name|rmscores }}</h4>
                       <svg
                        class="arrow"
                          xmlns="http://www.w3.org/2000/svg"
                          height="24"
                          viewBox="0 -960 960 960"
                          width="24">
                          <path
                            fill="white"
                            d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z" />
                        </svg>
                    <div class="card-state">{{ attrib_value }}</div>
                    </div>
                    <div class="button-container">
                      <button class="attrib-edit-button">edit</button>
                      <button class="attrib-commit-button">commit</button>
                    </div>
                  </div>
                  <div class="card-body">
                    <!--attribute state options container-->
                      <div class="attrib-option" data-option-state="positive" {% if attrib_value == "positive" %} selected {% endif %}>
                          <h5 class="option">Option 0</h5>
                          <p class="description"></p>
                      </div>
                      {% if attrib_name != 'grappling_offense' and attrib_name != 'grappling_defense' %}
                      <div class="attrib-option" data-option-state="neutral" {% if attrib_value == "neutral" %}selected{% endif %}>
                        <h5 class="option">Option 0</h5>
                        <p class="description"></p>
                      </div>
                      {% endif %}
                      <div class="attrib-option" data-option-state="negative" {% if attrib_value == "negative" %}selected{% endif %} >
                        <h5 class="option">Option 0</h5>
                        <p class="description"></p>
                      </div>
                      <div class="attrib-option" data-option-state="untested" {% if attrib_value == "untested" %}selected{% endif %} >
                        <h5 class="option">Option 0</h5>
                        <p class="description"></p> 
                      </div>
                  </div>
                  <div class="card-footer">
                    <div class="card-state-description" data-option-state="{{ attrib_value }}">
                      <p>Option 0 description</p>
                    </div>
                  </div>
                </div>
            {% endfor %}
            
          </div>
          <!--additional notes and context info to consider about a particular fighter-->
          <div class="fighter-notes list-group-item d-flex flex-column">
            <!--list of text notes about a the fighter in jot note style-->
            <div class="notes-title">
              <h4>Notes - Things to consider about this fighter...</h4>
            </div>
            <!--unordered scrollable list of p tags wrapped in li-->
            <!--textarea made with div and contenteditable -->
            <div class="note-editor-container d-flex flex-column">
              <div class="note-editor-actions">
                <div class="action-wrapper">
                  <button
                  class="btn btn-success note-submit-btn"
                  onclick="addNote(event)">
                  submit
                </button>
                </div>
                <div class="action-wrapper">
                  <button class="btn btn-danger note-delete-btn disabled" onclick="deleteNote(event)">
                    delete
                  </button>
                </div>

              </div>
              <div
                class="note-editor align-self-center"
                data-tag="NEUTRAL"
                contenteditable="plaintext-only"></div>
            </div>
            <div class="notes-list align-self-center mt-4">
              <ul class="dx-none">
                {% for note in notes %}
                <li class="note" data-note-id="{{ note.id }}" tabindex="100" data-tag="{{note.get_tag_display}}">
                  <p>{{ note.data }}</p>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!--modal containing matchup edit options-->
    <div class="xmodal hide" >
      <div class="xmodal-container bg-dark flex-column">
        <div class="fighter-creator">
          <!--form to create a fighter
                  first name
                  last name
                  weight class
                  height
                  reach
                  stance
                  date_of_birth
                  wins
                  losses
                  draws
            -->
          <h3 class="text-start mb-2">Edit Fighter</h3>
          <form class="border rounded p-2">
            {% csrf_token %}
            <div class="row">
              <div class="col">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name"
                  placeholder="First Name" />
              </div>
              <div class="col">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" />
              </div>
              <div class="col">
                <label for="date_of_birth" class="form-label">Date of Birth</label>
                <input type="date" class="form-control" id="date_of_birth" name="date_of_birth"
                  placeholder="Date of Birth" />
              </div>
            </div>
            <div class="row">    
              <div class="col">
                <label for="height" class="form-label">Height</label>
                <input type="number" class="form-control" name="height" id="height" max="99" maxlength="2"
                  placeholder="Height" />
              </div>
              <div class="col">
                <label for="reach" class="form-label">Reach</label>
                <input type="number" class="form-control" id="reach" name="reach" max="99" maxlength="2"
                  placeholder="Reach" />
              </div>
            </div>
            <div class="row record-edit justify-content-around">
               <div class="col col-3">
                <label for="wins" class="form-label ">Wins</label>
                <input type="number" class="form-control" id="wins" name="wins" placeholder="Wins"/>  
               </div>
              <div class="col col-3">
                <label for="losses" class="form-label ">Losses</label>
                <input type="number" class="form-control" id="losses" name="losses" placeholder="Losses"/>
              </div>
              <div class="col col-3">
                <label for="draws" class="form-label ">Draws</label>
                <input type="number" class="form-control" id="draws" name="draws" placeholder="Draws"/>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="weight_class" class="form-label">Weight Class</label>
                <select class="form-select" id="weight_class" name="weight_class">
                  <option value="" selected>Choose...</option>
                  <option value="flyweight">Flyweight</option>
                  <option value="bantamweight">Bantamweight</option>
                  <option value="featherweight">Featherweight</option>
                  <option value="lightweight">Lightweight</option>
                  <option value="welterweight">Welterweight</option>
                  <option value="middleweight">Middleweight</option>
                  <option value="light_heavyweight">Light Heavyweight</option>
                  <option value="heavyweight">Heavyweight</option>
                </select>
              </div>
              <div class="col">
                <label for="stance" class="form-label">Stance</label>
                <select class="form-select" id="stance" name="stance">
                  <option value="" selected>Choose...</option>
                  <option value="orthodox">Orthodox</option>
                  <option value="southpaw">Southpaw</option>
                  <option value="switch">Switch</option>
                  <option value="open_stance">Open Stance</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <!--img-link-->
                <label for="img_link" class="form-label">Image Link</label>
                <input type="text" class="form-control img-link" id="img_link" name="img_link" placeholder="Image Link" />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <!--img-link-->
                <label for="data_api_link" class="form-label">Data Api Link</label>
                <input type="text" class="form-control data-api-link" id="data_api_link" name="data_api_link" placeholder="Data Api Link" />
              </div>
            </div>
            <div class="row">
              <!--close button-->
              <button class="btn btn-secondary my-2 w-auto" style="margin-left: auto;margin-right: 1rem;" onclick="mFighterEditor.hide()" type="button">Close</button>
              <button class="btn btn-primary my-2 w-auto" style="margin-right: 1rem;" onclick="mFighterEditor.save()" type="button">Save Changes</button>
            </div>
            
          </form>
        </div>
      </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{% static 'fightEvaluator/js/attribute-interaction.js' %}"></script>
    <script src="{% static 'fightEvaluator/js/server.js' %}"></script>

    <script>
      const server = new Server({
        accept: "application/json",
        "Content-Type": "application/json",
        "X-CSRFToken": Cookies.get("csrftoken"),
      });
      function updateFighterBio(data){
        for (key in data){
          if (key == 'id' || key =='middle_name' || key=='nick_name') continue;
          
          switch (key){
              case "weight_class":
                //fighter-weight
                document.querySelector('.fighter-weight').textContent = data.weight_class.replace("_"," ");
                break;
              case "img_link":
                //fighter-image
                if (data.img_link != null && data.img_link != ""){
                  document.querySelector('.fighter-image').setAttribute('src',data.img_link);
                }
                break;
              case "data_api_link":
                document.querySelector(`.fighter-card button#${key}`).dataset.url=`${data.data_api_link}`;
                break;
              case "date_of_birth":
                //fighter-age
                document.querySelector('.fighter-age').textContent = dobToAge(data.date_of_birth);
                break;
              case "height":
                //fighter-height height id is already taken
                document.querySelector(`.fighter-card .fighter-${key}`).textContent = `${Math.floor(data.height / 12)}'${data.height % 12}`;
                break;
              default:
                document.querySelector(`.fighter-card #${key}`).textContent = `${data[key]}`;
            }
          }
      }

      class FighterEditor{
        constructor(editorElement,server){
          this.editor = editorElement;
          this.visible = false;
          this.editor.querySelectorAll("[name]").forEach((inputElement) => {
              //  console.log('editor.element',inputElement);
              inputElement.addEventListener("input",(event)=>{
                  let element = event.currentTarget;
                  // console.log('changed added => ',element);
                  element.classList.add('changed');//classList.add only adds non present classes into the classlist
              });
          });
          this.server = server
        }

        save(){
          let data = {}
          let changed = this.editor.querySelectorAll("form .changed");
          changed.forEach((element) => {
              data[element.name] = element.value;
          });
          console.log('Changed data...',data);
          this.server.update_fighter(data,this.onFighterUpdate,fighter_id);
        }

        onFighterUpdate(latestFighterData){
          for (let key in latestFighterData){
              fighter_data[key] = latestFighterData[key];
          }
          updateFighterBio(latestFighterData);
        }

        hide(){
          //hide editor ui element
          this.editor.classList.remove('show');
          this.editor.classList.add('hide');
          
          document.querySelector('.bio-edit-button').classList.remove('active');
          this.visible = false;
          //reset input element changed states
          this.editor.querySelectorAll("[name]").forEach((inputElement) => {
            //  console.log('editor.element',inputElement);
            inputElement.classList.remove('changed');
         });
        }

        show(){
          //show editor ui element
          this.editor.classList.remove('hide');
          this.editor.classList.add('show');
          this.visible = true;

          this.updateEditorForm();
          let form = this.editor.querySelector("form");
          let input_data = {};
          let formData = new FormData(form);
          for (let key of formData.keys()){
            let data = formData.get(key).trim();
            if (data == ""){
              continue;
            }
            input_data[key] = formData.get(key).trim();
            if (key == "first_name" || key == "last_name"){
              input_data[key] = input_data[key].toLowerCase();
            }
          }
          input_data['id'] = fighter_id;
          //send fighter link update to server
          // console.log(input_data);
        }
        updateEditorForm(){
          //write values from fighter_data to the form
          let form = this.editor.querySelector("form");
          for (let key in fighter_data) {
            if (key == "id" || fighter_data[key] == null || key=="nick_name" || key =="middle_name") {
              continue;
            }
            let input = form.querySelector(`[name="${key}"]`);
            input.value = fighter_data[key];
          }
        }
      
      }
      
      const editorElement = document.querySelector(".xmodal");
      const mFighterEditor = new FighterEditor(editorElement,server);
     
    </script>
    <script>
      class NoteEditor {
        constructor(noteEditorElement,noteListContainer,server) {
          this.noteEditor = noteEditorElement;
          this.noteListContainer = noteListContainer;
          this.noteList = noteListContainer.querySelector("ul");
          this.server = server;
        }

        showIfNonEmpty(){
          if (this.noteList.children.length > 0){
            this.noteList.classList.remove('dx-none');
          }
        }
        
        createNote(){
          let noteText = this.noteEditor.textContent.trim();
          let tag = this.noteEditor.dataset.tag;
          this.server.send_note({
            assessment_id:assessment_id,
            tag:tag,
            data:noteText},
            this.onNoteCreated.bind(this));
        }

        deleteNote(){
          let activeNote = this.noteList.querySelector('.active');
          let noteId = parseInt(activeNote.getAttribute("data-note-id"));
          this.server.remove_note(this.onNoteDeleted.bind(this),noteId);
        }

        onNoteCreated(noteData){
          console.log('Note Created Callback...',noteData);
          this.noteListContainer.classList.remove('dx-none');
          //create a new li element with the noteText
          let newNote = NoteEditor.createNoteElement(noteData.id,noteData.data);
          newNote.addEventListener('click',onClickNote);
          //append the new li element to the notes-list
          this.noteList.classList.remove('dx-none');//if there are no notes, remove the d-none class
          this.noteList.prepend(newNote);
          this.clearEditor();
        }

        onNoteDeleted(data){
          console.log('Delete Note Callback...',data);
          this.noteList.querySelector('.active').remove();
          //disable delete button
          document.querySelector('.note-delete-btn').classList.add('disabled');
        }

        clearEditor(){
          this.noteEditor.textContent = "";//remove all text from the noteEditor element
        }

        onNoteClick(currentNote){
          let activeNote = this.noteList.querySelector('.active');
          if (currentNote === activeNote){
            activeNote.classList.remove('active');
            document.querySelector('.note-delete-btn').classList.add('disabled');
            return;
          }
          if (activeNote != null){
            activeNote.classList.remove('active');
          }
          currentNote.classList.add('active');
          document.querySelector('.note-delete-btn').classList.remove('disabled');
        }

        static createNoteElement(noteId,noteText){
          return $(`<li class="note" data-note-id="${noteId}" tabindex="100" data-tag="neutral">
                        <p>${noteText}</p>
                    </li>`)[0];}
      }
      let noteEditor = document.querySelector(".note-editor");
      let noteContainer = document.querySelector(".notes-list");
      const mNoteEditor = new NoteEditor(noteEditor,noteContainer,server);

    </script>
    <script>
      var editModeEnabled = false;

      //destructure serialized model
      const { model, pk, fields} = {{ fighterjson|safe }}[0];
      const fighter_id = pk;
      const fighter_data = fields;

      const assessment_id = {{ assessment.id }};
      const assessment_data = {
        id: {{ assessment.id }},
        head_movement: '{{ assessment.get_head_movement_display }}',
        gas_tank: '{{ assessment.get_gas_tank_display }}',
        aggression: '{{ assessment.get_aggression_display }}',
        striking: '{{ assessment.get_striking_display }}',
        desire_to_win: '{{ assessment.get_desire_to_win_display }}',
        chinny: '{{ assessment.get_chinny_display }}',
        grappling_offense: '{{ assessment.get_grappling_offense_display }}',
        grappling_defense: '{{ assessment.get_grappling_defense_display }}',
      };
      // console.log(Cookies.get('csrftoken'));
      //set a cookie for the assessment_id so that i know which assessment was viewed last
      document.cookie = `assessment_id=${assessment_id};SameSite=strict;path=/;max-age=31536000`;
      //print all cookies
      
      for (key in attribInfoMap){
        //grab attrib-card
        let attribCard = document.querySelector(`[data-attrib-name="${key}"]`);
        // console.log(key);
        let cardState = attribCard.querySelector('.card-state');
        cardState.textContent = attribInfoMap[key][assessment_data[key]].state;
        attribCard.querySelectorAll('.attrib-option').forEach((attribOption)=>{
          //grab option state
          let optionState = attribOption.getAttribute('data-option-state');
          attribOption.querySelector('.option').textContent = attribInfoMap[key][optionState].state;
          // console.log(key,optionState,attribInfoMap[key][optionState].description);
          attribOption.querySelector('.description').textContent = attribInfoMap[key][optionState].description;
        });
      }

      //for every key in assessment data
      for (key in assessment_data){
        if (key == 'id'){
          continue;
        }
        if (assessment_data[key] == null){
          assessment_data[key] = 'untested';
        }
        //grab attrib-card
        let attribCard = document.querySelector(`[data-attrib-name="${key}"]`);
        //grab card description
        // console.log(key,assessment_data[key]);
        let cardDescription = attribCard.querySelector('.card-state-description p');
        cardDescription.textContent = attribInfoMap[key][assessment_data[key]].description;
      }

      //reorder attrib-cards to match attribCardOrder
      let attribList = document.querySelector('.fighter-attrib-list');
      attribCardOrder.forEach((attribName)=>{
        let attribCard = document.querySelector(`[data-attrib-name="${attribName}"]`);
        attribList.appendChild(attribCard);
      });

      //grab content from note-editor and send it to the server
      //update the notes-list with the new note
      function addNote(event){
        mNoteEditor.createNote();
      }
      function deleteNote(event) {
        mNoteEditor.deleteNote();
      }

      function dobToAge(dob) {
        let today = new Date();
        let birthDate = new Date(dob);
        let age = today.getFullYear() - birthDate.getFullYear();
        let m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
          age--;
        }
        return age;
      }

     
      let fighterAge = document.querySelector(".fighter-age");
      fighterAge.textContent = dobToAge('{{ fighter.date_of_birth }}');
      
      let notesList = document.querySelector('.notes-list');
      let notesListUl = document.querySelector(".notes-list ul");

      mNoteEditor.showIfNonEmpty();

      function onClickNote(event){
        // console.log('note clicked');
        let note = event.currentTarget;
        mNoteEditor.onNoteClick(note);
      }
      
      //on click a note make it active and enable delete button
      for (const note of notesListUl.children){
        note.addEventListener('click',onClickNote);
      }

      document.querySelector('.note-editor').addEventListener('input',(event)=>{
        let editor = event.currentTarget;
        let text = editor.innerHTML;
        // console.log(text);
        //search text for flag !positive,!negative
        if (text.includes('!positive')){
          editor.dataset.tag='POSITIVE';
          text = text.replace("!positive","");
          editor.innerHTML = text;
        }
        else if (text.includes('!negative')){
          editor.dataset.tag='NEGATIVE';
          text = text.replace("!negative","");
          editor.innerHTML = text;
        }else if (text.includes('!neutral')){
          editor.dataset.tag='NEUTRAL';
          text = text.replace("!neutral","");
          editor.innerHTML = text;
        }

      });
      
    </script>
    <script>
      function onEditFighter(event){
        event.currentTarget.classList.toggle('active');
        mFighterEditor.show();
      }
      
      let xmodal = document.querySelector(".xmodal");
      //xmodal on click hide
      xmodal.addEventListener("click", (event) => {
        if (event.target == event.currentTarget){
          // toggleXModal();
          mFighterEditor.hide();
        }
      });
      mFighterEditor.updateEditorForm();
    
    </script>
   
{% endblock %}

