{% extends "fightEvaluator/base.html" %}
{% load static %}
{% load custom_filters %}

{% block styles %}
<link rel="stylesheet" href="{% static  'fightEvaluator/styles/assessment_styles.css' %}" />
{% endblock %}
{% block title %}Fighter Assessment: {{ fighter.name }}{% endblock %}

{% block content %}
    {% include 'fightEvaluator/navbar.html' %}
    <div class="main-container">
      <div class="content-container">
        <div class="fighter-info-container">
          <div class="fighter-card">
            <div class="img-wrapper">
              <img class="fighter-image" src={% if fighter.img_link %}"{{fighter.img_link}}"{% else %}"{% static 'fightEvaluator/media/sample_150.png' %}"{% endif %}  alt="">
              <div class="next-matchup d-flex">
                    {% if nextMatchup %}
                    <a class="text-center" href="/matchup/{{ nextMatchup.id }}">
                      <p class="m-0">{{ nextMatchup.fighter_a.last_name }} vs {{ nextMatchup.fighter_b.last_name }}</p>
                    </a>
                    {% else %}
                    <a href="#">
                      no upcoming matchup
                    {% endif %}
                    </a>
              </div>
            </div>
            <div class="content-wrapper">
              <div class="card-content">
                <div class="card-header">
                  <h2 class="fighter-name">{{ fighter.first_name }} {{ fighter.last_name }}</h2>
                  <div class="info-wrapper">
                    <h5 class="fighter-weight">{{ fighter.weight_class|rmscores }}</h5>
                  </div>
                </div>
                <div class="card-body">
                  <div class="info-wrapper">
                    <h6>height:&nbsp;</h6>
                    <p class="fighter-height">{{ fighter.height|height_str }}</p>
                  </div>
                  <div class="info-wrapper">
                    <h6>age:&nbsp;</h6>
                    <p class="fighter-age">age</p>
                  </div>
                  <div class="info-wrapper">
                    <h6>record:&nbsp;</h6>
                    <p class="fighter-record">{{ fighter.record }}</p>
                  </div>
                  <div class="info-wrapper">
                    <h6>reach:&nbsp;</h6>
                    <p class="fighter-reach">{{ fighter.reach }}</p>
                  </div>
                  <div class="info-wrapper">
                    <h6>stance:&nbsp;</h6>
                    <p class="fighter-stance">{{ fighter.stance }}</p>
                  </div>
                </div>
              </div>
              <div class="button-container">
                <button class="bio-edit-button" onclick="onEditFighter(event)">edit</button>
              </div>
            </div>
          </div>
        </div>
        <div class="fighter-grid-container">
            <!--list of 8 fighter attributes-->
          <div class="fighter-attrib-list" data-edit-mode-enabled="false">
            <!-- <div class="attrib-card" data-edit-mode-enabled="false" data-attrib-state="null">
              <div class="card-header">
                <div class="state-container">
                  <h4>Attribute-X</h4>
                   <svg
                    class="arrow"
                      xmlns="http://www.w3.org/2000/svg"
                      height="24"
                      viewBox="0 -960 960 960"
                      width="24">
                      <path
                        fill="white"
                        d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z" />
                    </svg>
                <div class="card-state">State X</div>
                </div>
                <div class="button-container">
                  <button class="attrib-edit-button">edit</button>
                  <button class="attrib-commit-button">commit</button>
                </div>
              </div>
              <div class="card-body d-flex flex-column">
                  <div class="attrib-option d-flex" data-option-state="positive">
                    <h5 class="mx-0">Option-0</h5>
                    <p class="attrib-description">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit eos unde, qui numquam reiciendis voluptate sint accusamus tempora ullam pariatur, quod distinctio neque veritatis, perferendis quidem. Totam expedita ad accusamus!
                    </p>
                  </div>
                  <div class="attrib-option" data-option-state="neutral">
                    Option 1
                  </div>
                  <div class="attrib-option" data-option-state="negative">
                    Option 2
                  </div>
              </div>
              <div class="card-footer">
                <div class="attrib-option-description" data-option-state="positive">
                  <p>Option 0 description</p>
                </div>
                <div class="attrib-option-description" data-option-state="neutral">
                  <p>Option 1 description</p>
                </div>
                <div class="attrib-option-description" data-option-state="negative">
                  <p>Option 2 description</p>
                </div>
              </div>
            </div> -->
            {% for attrib_name,attrib_value in attribs %}
                <div class="attrib-card" data-edit-mode-enabled="false" data-attrib-state="{{ attrib_value }}" data-attrib-name="{{ attrib_name }}">
                  <div class="card-header">
                    <div class="state-container">
                      <h4>{{ attrib_name|rmscores }}</h4>
                       <svg
                        class="arrow"
                          xmlns="http://www.w3.org/2000/svg"
                          height="24"
                          viewBox="0 -960 960 960"
                          width="24">
                          <path
                            fill="white"
                            d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z" />
                        </svg>
                    <div class="card-state">{{ attrib_value }}</div>
                    </div>
                    <div class="button-container">
                      <button class="attrib-edit-button">edit</button>
                      <button class="attrib-commit-button">commit</button>
                    </div>
                  </div>
                  <div class="card-body">
                    <!--attribute state options container-->
                      <div class="attrib-option" data-option-state="positive" {% if attrib_value == "positive" %} selected {% endif %}>
                          <h5 class="option">Option 0</h5>
                          <p class="description"></p>
                      </div>
                      {% if attrib_name != 'grappling_offense' and attrib_name != 'grappling_defense' %}
                      <div class="attrib-option" data-option-state="neutral" {% if attrib_value == "neutral" %}selected{% endif %}>
                        <h5 class="option">Option 0</h5>
                        <p class="description"></p>
                      </div>
                      {% endif %}
                      <div class="attrib-option" data-option-state="negative" {% if attrib_value == "negative" %}selected{% endif %} >
                        <h5 class="option">Option 0</h5>
                        <p class="description"></p>
                      </div>
                      <div class="attrib-option" data-option-state="untested" {% if attrib_value == "untested" %}selected{% endif %} >
                        <h5 class="option">Option 0</h5>
                        <p class="description"></p> 
                      </div>
                  </div>
                  <div class="card-footer">
                    <div class="card-state-description" data-option-state="{{ attrib_value }}">
                      <p>Option 0 description</p>
                    </div>
                  </div>
                </div>
            {% endfor %}
            
          </div>
          <!--additional notes and context info to consider about a particular fighter-->
          <div class="fighter-notes list-group-item d-flex flex-column">
            <!--list of text notes about a the fighter in jot note style-->
            <div class="notes-title">
              <h4>Notes - Things to consider about this fighter...</h4>
            </div>
            <!--unordered scrollable list of p tags wrapped in li-->
            <!--textarea made with div and contenteditable -->
            <div class="note-editor-container d-flex flex-column">
              <div class="note-editor-actions">
                <div class="action-wrapper">
                  <button
                  class="btn btn-success note-submit-btn"
                  onclick="addNote(event)">
                  submit
                </button>
                </div>
                <div class="action-wrapper">
                  <button class="btn btn-danger note-delete-btn disabled" onclick="deleteNote(event)">
                    delete
                  </button>
                </div>

              </div>
              <div
                class="note-editor align-self-center"
                data-tag="NEUTRAL"
                contenteditable="plaintext-only"></div>
            </div>
            <div class="notes-list align-self-center mt-4">
              <ul class="dx-none">
                {% for note in notes %}
                <li class="note" data-note-id="{{ note.id }}" tabindex="100" data-tag="{{note.get_tag_display}}">
                  <p>{{ note.data }}</p>
                  <!-- <button
                    class="btn btn-danger note-delete-btn"
                    data-note-id="{{ note.id }}"
                    onclick="deleteNote(event)">
                    delete
                  </button> -->
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!--modal containing matchup edit options-->
    <div class="xmodal hide" >
      <div class="xmodal-container bg-dark flex-column">
        <div class="fighter-creator">
          <!--form to create a fighter
                  first name
                  last name
                  weight class
                  height
                  reach
                  stance
                  date_of_birth
                  wins
                  losses
                  draws
            -->
          <h3 class="text-start mb-2">Edit Fighter</h3>
          <form class="border rounded p-2">
            {% csrf_token %}
            <div class="row">
              <div class="col">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name"
                  placeholder="First Name" />
              </div>
              <div class="col">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" />
              </div>
              <div class="col">
                <label for="date_of_birth" class="form-label">Date of Birth</label>
                <input type="date" class="form-control" id="date_of_birth" name="date_of_birth"
                  placeholder="Date of Birth" />
              </div>
            </div>
            <div class="row">    
              <div class="col">
                <label for="height" class="form-label">Height</label>
                <input type="number" class="form-control" name="height" id="height" max="99" maxlength="2"
                  placeholder="Height" />
              </div>
              <div class="col">
                <label for="reach" class="form-label">Reach</label>
                <input type="number" class="form-control" id="reach" name="reach" max="99" maxlength="2"
                  placeholder="Reach" />
              </div>
            </div>
            <div class="row record-edit justify-content-around">
               <div class="col col-3">
                <label for="wins" class="form-label ">Wins</label>
                <input type="number" class="form-control" id="wins" name="wins" placeholder="Wins"/>  
               </div>
              <div class="col col-3">
                <label for="losses" class="form-label ">Losses</label>
                <input type="number" class="form-control" id="losses" name="losses" placeholder="Losses"/>
              </div>
              <div class="col col-3">
                <label for="draws" class="form-label ">Draws</label>
                <input type="number" class="form-control" id="draws" name="draws" placeholder="Draws"/>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="weight_class" class="form-label">Weight Class</label>
                <select class="form-select" id="weight_class" name="weight_class">
                  <option value="" selected>Choose...</option>
                  <option value="flyweight">Flyweight</option>
                  <option value="bantamweight">Bantamweight</option>
                  <option value="featherweight">Featherweight</option>
                  <option value="lightweight">Lightweight</option>
                  <option value="welterweight">Welterweight</option>
                  <option value="middleweight">Middleweight</option>
                  <option value="light_heavyweight">Light Heavyweight</option>
                  <option value="heavy_weight">Heavyweight</option>
                </select>
              </div>
              <div class="col">
                <label for="stance" class="form-label">Stance</label>
                <select class="form-select" id="stance" name="stance">
                  <option value="" selected>Choose...</option>
                  <option value="orthodox">Orthodox</option>
                  <option value="southpaw">Southpaw</option>
                  <option value="switch">Switch</option>
                  <option value="open_stance">Open Stance</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <!--img-link-->
                <label for="img_link" class="form-label">Image Link</label>
                <input type="text" class="form-control img-link" id="img_link" name="img_link" placeholder="Image Link" />
              </div>
            </div>
            <div class="row">
              <!--close button-->
              <button class="btn btn-secondary my-2 w-auto" style="margin-left: auto;margin-right: 1rem;" onclick="toggleXModal(event)" type="button">Close</button>
              <button class="btn btn-primary my-2 w-auto" style="margin-right: 1rem;"
                onclick="updateFighter(event)" type="button">Save Changes</button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'fightEvaluator/js/attribute-interaction.js' %}"></script>
    <script>
      var editModeEnabled = false;
      const fighter_id = {{ fighter.id }};//parseInt(window.location.href.split("/").pop());
      const fighter_data = {{ fighterjson|safe }};//contains fighter bio info
      const assessment_id = {{ assessment.id }};
      const assessment_data = {
        id: {{ assessment.id }},
        head_movement: '{{ assessment.get_head_movement_display }}',
        gas_tank: '{{ assessment.get_gas_tank_display }}',
        aggression: '{{ assessment.get_aggression_display }}',
        striking: '{{ assessment.get_striking_display }}',
        desire_to_win: '{{ assessment.get_desire_to_win_display }}',
        chinny: '{{ assessment.get_chinny_display }}',
        grappling_offense: '{{ assessment.get_grappling_offense_display }}',
        grappling_defense: '{{ assessment.get_grappling_defense_display }}',
      };
      // console.log(Cookies.get('csrftoken'));
      //set a cookie for the assessment_id so that i know which assessment was viewed last
      document.cookie = `assessment_id=${assessment_id};SameSite=strict;path=/;max-age=31536000`;
      //print all cookies
      
      for (key in attribInfoMap){
        //grab attrib-card
        let attribCard = document.querySelector(`[data-attrib-name="${key}"]`);
        // console.log(key);
        let cardState = attribCard.querySelector('.card-state');
        cardState.textContent = attribInfoMap[key][assessment_data[key]].state;
        attribCard.querySelectorAll('.attrib-option').forEach((attribOption)=>{
          //grab option state
          let optionState = attribOption.getAttribute('data-option-state');
          attribOption.querySelector('.option').textContent = attribInfoMap[key][optionState].state;
          // console.log(key,optionState,attribInfoMap[key][optionState].description);
          attribOption.querySelector('.description').textContent = attribInfoMap[key][optionState].description;
        });
      }

      //for every key in assessment data
      for (key in assessment_data){
        if (key == 'id'){
          continue;
        }
        if (assessment_data[key] == null){
          assessment_data[key] = 'untested';
        }
        //grab attrib-card
        let attribCard = document.querySelector(`[data-attrib-name="${key}"]`);
        //grab card description
        // console.log(key,assessment_data[key]);
        let cardDescription = attribCard.querySelector('.card-state-description p');
        cardDescription.textContent = attribInfoMap[key][assessment_data[key]].description;
      }

      //reorder attrib-cards to match attribCardOrder
      let attribList = document.querySelector('.fighter-attrib-list');
      attribCardOrder.forEach((attribName)=>{
        let attribCard = document.querySelector(`[data-attrib-name="${attribName}"]`);
        attribList.appendChild(attribCard);
      });


      //grab content from note-editor and send it to the server
      //update the notes-list with the new note
      async function addNote(event) {
        //from note-editor get the text content make sure it is non empty
        let noteEditor = document.querySelector(".note-editor");
        let noteText = noteEditor.textContent.trim();
        let tag = noteEditor.dataset.tag;
        if (noteText.length > 0) {
          //post request to server with new note
          let response = await fetch("/notes/create-note", {
            method: "POST",
            headers: {
              accept: "application/json",
              "Content-Type": "application/json",
              "X-CSRFToken": Cookies.get("csrftoken"),
            },
            body: JSON.stringify({
              assessment_id: assessment_id,
              tag:tag,
              data: noteText,
            }),
          });
          let noteData = await response.json();
          let notesContainer = document.querySelector(".notes-list");
          notesContainer.classList.remove('dx-none');
          //create a new li element with the noteText
          let newNote = document.createElement("li");
          newNote.setAttribute("tabindex","100");
          newNote.classList.add("note");
          // newNote.setAttribute("data-note-id", noteData.id);
          newNote.innerHTML = "<p>" + noteText + "</p>";
          newNote.dataset.noteId = noteData.id;
          newNote.addEventListener('click',onClickNote);
          // newNote.addEventListener('focusin',onNoteFocusIn);
          // newNote.addEventListener('focusout',onNoteFocusOut);
          //append the new li element to the notes-list
          let notesList = document.querySelector(".notes-list ul");
          notesList.classList.remove('dx-none');//if there are no notes, remove the d-none class
          notesList.prepend(newNote);
          //clear the note-editor
          noteEditor.textContent = "";
        }
      }

      async function deleteNote(event) {
        //get the note id from the note element
        //send delete request to server
        //remove note from notes-list
        let activeNote = document.querySelector('.notes-list .active');
        // console.log(activeNote);
        let note_id = parseInt(activeNote.getAttribute("data-note-id"));
        // console.log(note_id);
        let response = await fetch(`/notes/delete-note/${note_id}`, {
          method: "DELETE",
          headers: {
            accept: "application/json",
            "Content-Type": "application/json",
            "X-CSRFToken": Cookies.get("csrftoken"),
          },
        });
        // console.log(response);
        if (response.status == 200){
          activeNote.remove();
          //disable delete button
          document.querySelector('.note-delete-btn').classList.add('disabled');
        }
      }

      function dobToAge(dob) {
        let today = new Date();
        let birthDate = new Date(dob);
        let age = today.getFullYear() - birthDate.getFullYear();
        let m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
          age--;
        }
        return age;
      }

     
      let fighterAge = document.querySelector(".fighter-age");
      fighterAge.textContent = dobToAge('{{ fighter.date_of_birth }}');
      
      let notesList = document.querySelector('.notes-list');
      let notesListUl = document.querySelector(".notes-list ul");
      //fix .fighter-notes to have max height as the height of attribute list
      let notesContainer = document.querySelector(".fighter-notes");
      // let attribList = document.querySelector(".fighter-attrib-list");
      //get padding of notesContainer
      let notesContainerStyle = window.getComputedStyle(notesContainer);
      let paddingMarginOffset = parseInt(notesContainerStyle.paddingBottom) + parseInt(notesContainerStyle.marginBottom);
      notesListUl.style.maxHeight = (attribList.offsetHeight - notesList.offsetTop - paddingMarginOffset) + "px";
      if (notesListUl.children.length > 0){
        notesListUl.classList.remove('dx-none');
      }

      // function onNoteFocusIn(event){
      //   document.querySelector('.note-delete-btn').classList.remove('disabled');
      // }

      // function onNoteFocusOut(event){
      //   document.querySelector('.note-delete-btn').classList.add('disabled');
      // }

      function onClickNote(event){
        // console.log('note clicked');
        //remove active class from all notes
        let list = event.currentTarget.parentElement;
        let note = event.currentTarget;
        //check if note is active note
        let activeNote = list.querySelector('.active');
        if (note === activeNote){
          // console.log('note is active note');
          activeNote.classList.remove('active');
          document.querySelector('.note-delete-btn').classList.add('disabled');
          return;
        }
        if (activeNote != null){
          activeNote.classList.remove('active');
        }
        note.classList.add('active');
        document.querySelector('.note-delete-btn').classList.remove('disabled');
      }
      
      //on click a note make it active and enable delete button
      for (const note of notesListUl.children){
        note.addEventListener('click',onClickNote);
        // note.addEventListener('focusin',onNoteFocusIn);
        // note.addEventListener('focusout',onNoteFocusOut);
      }

      document.querySelector('.note-editor').addEventListener('input',(event)=>{
        let editor = event.currentTarget;
        let text = editor.innerHTML;
        // console.log(text);
        //search text for flag !positive,!negative
        if (text.includes('!positive')){
          editor.dataset.tag='POSITIVE';
          text = text.replace("!positive","");
          editor.innerHTML = text;
        }
        else if (text.includes('!negative')){
          editor.dataset.tag='NEGATIVE';
          text = text.replace("!negative","");
          editor.innerHTML = text;
        }else if (text.includes('!neutral')){
          editor.dataset.tag='NEUTRAL';
          text = text.replace("!neutral","");
          editor.innerHTML = text;
        }

      });
      
    </script>
    <script>
      function onEditFighter(event){
        event.currentTarget.classList.toggle('active');
        toggleXModal();
      }
      async function updateFighter(){
        //read and validate values from form
        let form = document.querySelector(".fighter-creator form");
        let input_data = {};
        let formData = new FormData(form);
        for (let key of formData.keys()){
          let data = formData.get(key).trim();
          if (data == ""){
            continue;
          }
          input_data[key] = formData.get(key).trim();
          if (key == "first_name" || key == "last_name"){
            input_data[key] = input_data[key].toLowerCase();
          }
        }
        input_data['id'] = fighter_id;
        //send fighter link update to server
        console.log(JSON.stringify(input_data));
        let response = await fetch(`/fighters/update-fighter/${fighter_id}`, {
          method: "PATCH",
          headers: {
            accept: "application/json",
            "Content-Type": "application/json",
            "X-CSRFToken": Cookies.get("csrftoken"),
          },
          body: JSON.stringify(input_data),
        });

        if (response.status == 200){
          // console.log('img link updated');
          //read fighter data from response
          let latestFighterData = await response.json();
          //update fighter_data object
          // console.log(latestFighterData);
          // console.log(fighter_data);
          for (let key in latestFighterData){
            fighter_data[key] = latestFighterData[key];
          }
           //update bio stuff
          //fighter-name
          document.querySelector('.fighter-name').textContent = `${fighter_data.first_name} ${fighter_data.last_name}`;
          //fighter-weight
          document.querySelector('.fighter-weight').textContent = fighter_data.weight_class.replace("_"," ");
          //fighter-height
          document.querySelector('.fighter-height').textContent = `${Math.floor(fighter_data.height / 12)}'${fighter_data.height % 12}`;
          //fighter-age
          document.querySelector('.fighter-age').textContent = dobToAge(fighter_data.date_of_birth);
          //fighter-record
          document.querySelector('.fighter-record').textContent = fighter_data.wins + "-" + fighter_data.losses + "-" + fighter_data.draws;
          //fighter-reach
          document.querySelector('.fighter-reach').textContent = fighter_data.reach;
          //fighter-stance
          document.querySelector('.fighter-stance').textContent = fighter_data.stance;
          //fighter-image
          if (fighter_data.img_link != null && fighter_data.img_link != ""){
            document.querySelector('.fighter-image').setAttribute('src',fighter_data.img_link);
          }
        }
        
      }

      function toggleXModal(){
        let xmodal = document.querySelector(".xmodal");
        let action = xmodal.classList.contains("hide") ? "show" : "hide";
        //these variables are defined only when showing the modal
        // console.log('toggle xmodal');
        if (action == "show"){
          //show the modal
          xmodal.classList.remove("hide");
          xmodal.classList.add("show");
          updateEditorForm();
        } else {
          //hide the modal
          xmodal.classList.remove("show");
          xmodal.classList.add("hide");
          document.querySelector('.bio-edit-button').classList.remove('active');
        }
      }
      let xmodal = document.querySelector(".xmodal");
      //xmodal on click hide
      xmodal.addEventListener("click", (event) => {
        if (event.target == event.currentTarget){
          toggleXModal();
        }
      });
      updateEditorForm();
      function updateEditorForm(){
        //write values from fighter_data to the form
        let form = document.querySelector(".fighter-creator form");
        for (let key in fighter_data) {
          if (key == "id" || fighter_data[key] == null || key == "assessment_id" ||key=="nick_name" || key =="middle_name" || key =="data_api_link") {
            continue;
          }
          // console.log(key, fighter_data[key]);
          let input = form.querySelector(`[name="${key}"]`);
          input.value = fighter_data[key];
        }
      }
    
    </script>
{% endblock %}

