{% extends "fightEvaluator/base.html" %}
{% load static %}
{% block title %}
    Fight Events
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'fightEvaluator/styles/events.css' %}">
{% endblock %}

{% block content %}
{% include 'fightEvaluator/navbar.html' %}

<div class="main-container container-fluid d-flex flex-column align-items-center">
    <h1>Events</h1>
    <ul class="border event-list mx-auto row justify-content-evenly">
        {% for event in events %}
            <li class="m-1 col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4">
                <div class="border rounded-3 py-3 px-1">
                    <a href="/{{event.id}}">
                        <h6 class="m-0 text-center">
                            {{ event.title }}
                        </h6>
                    </a>
                </div>
                
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}