{% extends "fightEvaluator/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Fight Evaluator {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static  'fightEvaluator/styles/index.css' %}" />
<link rel="stylesheet" href="{% static 'fightEvaluator/styles/matchup_tables.css' %}">
{% endblock %}

{% block content %}
  {% include 'fightEvaluator/navbar.html' %}
  <!--container-->
  
  <div class="container-fluid main-container" style="position: relative; min-height: 100vh;">
    <!-- Modal -->
    <div class="modal fade" id="matchupModal" tabindex="-1" aria-labelledby="matchupModalLabel" aria-hidden="true" data-matchup-id="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content w-auto">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="matchupModalLabel">
              Add Matchup
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <!---->
              <div class="fighter-selector">
                <div class="current-matchup p-2 border rounded">
                  <h5>Current Matchup</h5>
                  
                  <div class="fighter fighter-a d-flex align-items-center" data-selected-id="-1">
                    <img class="fighter-img" src="{% static 'fightEvaluator/media/sample_50.png' %}" alt="" />
                    <!-- <h6 class="fighter-name mx-1 d-none">Fighter a</h6> -->
                    <!--bootstrap close button-->
                    <div class="search-container mx-1">
                      <!--text search box-->
                      <div class="search-box" data-target="#searchbox-a">
                        <form>
                          <div class="input-group">
                            <input type="text" class="form-control" name="search" placeholder="Search fighter name..." aria-label="Search fighter name..." aria-describedby="clearSearchBtnA">
                            <button class="btn btn-outline-danger" type="button" id="clearSearchBtnA" onclick="clearFighterSelection('fighter-a')" >clear</button>
                          </div>
                        </form>
                      </div>
                      <!--search box suggestion drop down-->
                      <div class="search-suggestion" id="searchbox-a">
                        <ul class="list-group"></ul>
                      </div>
                    </div>
                  </div>
                  <div class="my-1">
                    <p class="m-0 text-center">versus</p>
                  </div>
                  <div class="fighter fighter-b d-flex align-items-center" data-selected-id="-1">
                    <img class="fighter-img" src="{% static 'fightEvaluator/media/sample_50.png' %}" alt="" />
                    <!-- <h6 class="fighter-name mx-1 d-none">Fighter b</h6> -->
                    <div class="search-container mx-1">
                      <!--text search box-->
                      <div class="search-box" data-target="#searchbox-b">
                        <form>
                          <div class="input-group">
                            <input type="text" class="form-control" name="search" placeholder="Search fighter name..." aria-label="Search fighter name..." aria-describedby="clearSearchBtnB">
                            <button class="btn btn-outline-danger" type="button" id="clearSearchBtnB" onclick="clearFighterSelection('fighter-b')" >clear</button>
                          </div>                        
                        </form>
                      </div>
                      <!--search box suggestion drop down-->
                      <div class="search-suggestion" id="searchbox-b">
                        <ul class="list-group"></ul>
                      </div>
                    </div>
                  </div>
                  <div class="matchup-info-wrapper">
                    <div class="weight-class dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Weight Class
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Flyweight</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Bantamweight</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Featherweight</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Lightweight</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Welterweight</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Middleweight</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Light Heavyweight</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Heavyweight</a></li>
                        <li><a class="dropdown-item" href="#">Catchweight</a></li>
                      </ul>
                    </div>
                    <div class="rounds-wrapper">
                      <p class="m-0">Rounds</p>
                      <!--2 radio buttons for 3 or 5 rounds-->
                      <div class="form-check mx-2">
                        <input class="form-check-input" type="radio" name="rounds" id="roundOption-3" value="3" checked>
                        <label class="form-check-label" for="rounds">
                          3
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rounds" id="roundOption-5" value="5">
                        <label class="form-check-label" for="rounds">
                          5
                        </label>
                      </div>
                    </div>
                    <div class="prelims-wrapper">
                      <!--bootstrap5 checkbox-->
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="isprelim">
                        <label class="form-check-label" for="isprelim">
                          On Prelims
                        </label>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              <div class="fighter-creator border rounded">
                <!--form to create a fighter
                        first name
                        last name
                        weight class
                        height
                        reach
                        stance
                        date_of_birth
                        wins
                        losses
                        draws
                  -->
                <h5 class="text-start">Create a fighter</h5>
                <form>
                  {% csrf_token %}
                  <div class="row">
                    <div class="col">
                      <label for="first_name" class="form-label">First Name</label>
                      <input type="text" class="form-control" id="first_name" name="first_name"
                        placeholder="First Name" />
                    </div>
                    <div class="col">
                      <label for="last_name" class="form-label">Last Name</label>
                      <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="weight_class" class="form-label">Weight Class</label>
                      <select class="form-select" id="weight_class" name="weight_class">
                        <option selected>Choose...</option>
                        <option value="FLYWEIGHT">Flyweight</option>
                        <option value="BANTAMWEIGHT">Bantamweight</option>
                        <option value="FEATHERWEIGHT">Featherweight</option>
                        <option value="LIGHTWEIGHT">Lightweight</option>
                        <option value="WELTERWEIGHT">Welterweight</option>
                        <option value="MIDDLEWEIGHT">Middleweight</option>
                        <option value="LIGHT_HEAVYWEIGHT">Light Heavyweight</option>
                        <option value="HEAVY_WEIGHT">Heavyweight</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="height" class="form-label">Height</label>
                      <input type="number" class="form-control" name="height" id="height" max="99" maxlength="2"
                        placeholder="Height" />
                    </div>
                    <div class="col">
                      <label for="reach" class="form-label">Reach</label>
                      <input type="number" class="form-control" id="reach" name="reach" max="99" maxlength="2"
                        placeholder="Reach" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="stance" class="form-label">Stance</label>
                      <select class="form-select" id="stance" name="stance">
                        <option selected>Choose...</option>
                        <option value="orthodox">Orthodox</option>
                        <option value="southpaw">Southpaw</option>
                        <option value="switch">Switch</option>
                        <option value="open_stance">Open Stance</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="date_of_birth" class="form-label">Date of Birth</label>
                      <input type="date" class="form-control" id="date_of_birth" name="date_of_birth"
                        placeholder="Date of Birth" />
                    </div>
                  </div>
                  <div class="row">
                    <button class="btn btn-primary my-2 w-auto" style="margin-left: auto;margin-right: 1rem;"
                      onclick="createFighter(event)" type="button">Create</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div style="margin: 0px; margin-right: auto;">
              <p class="m-0" style="color: hsl(0 ,0%, 60%);"><small>Fighter not listed?</small></p>
              <button type="button" class="btn btn-primary" onclick="showFighterCreatorSection()">
                add new fighter
              </button>
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="button" class="create-matchup-btn btn btn-primary" onclick="createMatchUp(event)">
              Create Matchup
            </button>
            <button type="button" class="update-matchup-btn btn btn-primary d-none" onclick="updateMatchUp(event)">
              Update Matchup
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid title-container d-flex flex-column">
      <div class="title-wrapper results-toggle-wrapper w-100 d-flex justify-content-between align-items-center">
        <h3 class="event-title">{{event.title}}</h3>
        <div class="results-switch form-check form-switch my-0 border px-4">
          <input class="form-check-input" type="checkbox" role="switch" id="showResultsSwitch" disabled>
          <label class="form-check-label" for="showResultsSwitch">Results Not Available</label>
        </div>
      </div>
     
    </div>
  
    <div class="tables-wrapper">
      <div class="watchlist-matchups matchups-container mb-3 "  id="watchlist">
        <div class="watchlist-table">
          <table>
            <caption style="caption-side:top">
              <h4>Watchlist</h4>
            </caption>
            <thead>
              <tr>
                <th>MatchUp</th>
                <th>weight class</th>
                <th>rounds</th>
                <th>analysis complete</th>
              </tr>
            </thead>
            <tbody>
              
              {% for matchups in matchupsList %}
              {% for matchup in matchups %}
                {% if matchup.inWatchList %}
                  <tr class="watchlist-matchup matchup" onclick="onClickMatchUp(event)" oncontextmenu="onRightClickMatchup(event)" data-in-watch-list="{{matchup.inWatchList|lower}}" tabindex="50" data-matchup-id="{{matchup.id}}" data-fighter-a-id="{{matchup.fighter_a.id}}" data-fighter-b-id="{{matchup.fighter_b.id}}">
                    <td >
                      <div class="d-flex align-items-center justify-content-center p-1">
                        <p>{{matchup.title_full}}</p>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center justify-content-center p-1">
                        <p class="weight-class">{{matchup.weight_class|rmscores|title}}</p>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center justify-content-center p-1">
                        <p>{{matchup.rounds}}</p>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center justify-content-center p-1">
                        
                        <svg class="incomplete-icon {% if matchup.analysisComplete %} d-none {% endif %}" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323"><path d="M680-80q-83 0-141.5-58.5T480-280q0-83 58.5-141.5T680-480q83 0 141.5 58.5T880-280q0 83-58.5 141.5T680-80Zm67-105 28-28-75-75v-112h-40v128l87 87Zm-547 65q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h167q11-35 43-57.5t70-22.5q40 0 71.5 22.5T594-840h166q33 0 56.5 23.5T840-760v250q-18-13-38-22t-42-16v-212h-80v120H280v-120h-80v560h212q7 22 16 42t22 38H200Zm280-640q17 0 28.5-11.5T520-800q0-17-11.5-28.5T480-840q-17 0-28.5 11.5T440-800q0 17 11.5 28.5T480-760Z"/></svg>                                              
                        <svg class="complete-icon {% if not matchup.analysisComplete %}d-none{% endif %}" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#75FB4C"><path d="M268-240 42-466l57-56 170 170 56 56-57 56Zm226 0L268-466l56-57 170 170 368-368 56 57-424 424Zm0-226-57-56 198-198 57 56-198 198Z"/></svg>
                      </div>
                    </td>
                  </tr>
                  {% endif %}
                {% endfor %}
                {% endfor %}
            </tbody>
          </table>
          {% include "fightEvaluator/index-right-click-menu.html" %}

        </div>
        <div class="watchlist-empty-message d-none">
          <h6>No matchups in watch list.</h6>
        </div>
      </div>
      <!--main card fighter table-->
      <div class="table-grid">
        {% for matchups in matchupsList %}
        <div class="matchups-container" id={% if forloop.counter == 1%}"main-card"{% else %}"prelims"{% endif %}>            
            
            <table>
              <caption style="caption-side:top">
                <div class="d-flex justify-content-between">
                  <h4 style="text-transform: capitalize;">{% if forloop.counter == 1%}main card{% else %}prelims{% endif %}</h4>
                  <div class="action-wrapper">
                    <button type="button" class="btn btn-primary active-independent" onclick="onToggleMatchupModal(false)">
                      add
                    </button>
                  </div>
                </div>
              </caption>
              <thead>
                <tr>
                  <th>MatchUp</th>
                  <th>Weight Class</th>
                  <th>Rounds</th>
                </tr>
              </thead>
              <tbody>
                {% for matchup in matchups %}
                <tr class="matchup {% if matchup.inWatchList %} watching {% endif %} " onclick="onClickMatchUp(event)" oncontextmenu="onRightClickMatchup(event)" data-in-watch-list="{{matchup.inWatchList|default_if_none:"false"|lower}}" tabindex="50" data-matchup-id="{{matchup.id}}" data-fighter-a-id="{{matchup.fighter_a.id}}" data-fighter-b-id="{{matchup.fighter_b.id}}">
                  <td>
                    <div class="d-flex align-items-center justify-content-center p-1">
                      <p>{{matchup.title_full}}</p>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center justify-content-center p-1">
                      <p class="weight-class">{{matchup.weight_class|rmscores|title}}</p>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center justify-content-center p-1">
                      <p>{{matchup.rounds}}</p>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% include "fightEvaluator/index-right-click-menu.html" %}
            
            <!-- <div class="guide guide-horizontal"></div> 
            <div class="guide guide-vertical"></div>
            <div class="position-label">
              0,0
            </div> -->
        </div>
        {% endfor %}  
      </div>
    </div>
  </div>

  <div class="confirmation-dialog d-none" data-matchup-id="-1">
    <div class="dialog-container bg-dark rounded-3">
      <div class="dialog-title">
        <h4>Delete following MatchUp.</h4>
      </div>
      <div class="dialog-body border p-1 my-3">
        <p class="m-0">Matchup name.</p>
      </div>
      <div class="dialog-actions">
        <button class="cancel btn btn-secondary" onclick="onClickCancelDelete(event)">cancel</button>
        <button class="confirm btn btn-primary" onclick="deleteMatchup()">confirm</button>
      </div>
    </div>
  </div>
{% endblock %}
{% if not event or not matchupsList %}
    <script src="{% static 'fightEvaluator/js/index-polling.js' %}"></script>
{% endif %}
{% block scripts %}
 <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
{% include "fightEvaluator/matchup-data-script.html" %}
<script>

    function createMatchUpElement(matchup){
      console.log('creating element => ',matchup);
      // console.log(matchup,matchup['id']);
      return $(`
        <tr class="matchup" 
            onclick="onClickMatchUp(event)" 
            oncontextmenu="onRightClickMatchup(event)"
            data-in-watch-list="${matchup.inWatchList}" tabindex="50" 
            data-matchup-id="${matchup.id}" 
            data-fighter-a-id="${matchup.fighter_a}" 
            data-fighter-b-id="${matchup.fighter_b}">
            <td >
              <div class="d-flex align-items-center justify-content-center ">
                <p>${matchup.fighter_a_name} vs ${matchup.fighter_b_name}</p>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center ">
                <p class="weight-class" >${matchup.weight_class}</p>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center ">
                <p>${matchup.rounds}</p>
              </div>
            </td>
          </tr>
      `)[0];
    }
  

    class MatchupTable{
      constructor(table,matchupMap){
        this.matchup_ids = new Set();
        this.table = table;
      }
      addMatchup(matchup){
        this.matchup_ids.add(matchup.id);
        let element = createMatchUpElement(matchup);
        let tbody = this.table.querySelector('tbody');
        tbody.appendChild(element);
        return element;
      }

      removeMatchup(matchup){
        console.log(this.matchup_ids,matchup.id);
        if (this.matchup_ids.has(matchup.id)){
          this.matchup_ids.delete(matchup.id);
          //remove from html aswell
          console.log('Removing matchup...',matchup);
          let element = this.table.querySelector(`[data-matchup-id="${matchup['id']}"]`);
          
          element.remove();
          return element;//return removed element
        }
        return null;
      }
    }

    class WatchListTable extends MatchupTable{
      constructor(table,matchupMap){
        super(table,matchupMap);
        //initialize watchlist with matchup ids of matchups already with inWatchList = true
        for (const key in matchupMap){
          let matchup = matchupMap[key];
          if (matchup.inWatchList == true){
            this.matchup_ids.add(matchup.id);
          }
        }
        // console.log(this.matchup_ids);
        if (this.matchup_ids.size == 0){
          //hide table and show empty watchlist message
          this.hideWatchlist();
        }else{
          this.showWatchlist();
        }
      }

      addMatchup(matchup){
        //create a list element in the watchlist-matchupTable
        let original = document.querySelector(`[data-matchup-id="${matchup.id}"]`);
        let element = super.addMatchup(matchup);
        if (this.matchup_ids.size == 1){
          this.showWatchlist();
        }
        element.classList.add('watchlist-matchup');
        let analysisElement = this.createAnalysisElement();
        //add watching class to original matchup
        element.appendChild(analysisElement);
        original.classList.add('watching');
        return element;
      }

      createAnalysisElement(){
        return $(`<td>
            <div class="d-flex align-items-center justify-content-center p-1">
              <svg class="incomplete-icon " xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323"><path d="M680-80q-83 0-141.5-58.5T480-280q0-83 58.5-141.5T680-480q83 0 141.5 58.5T880-280q0 83-58.5 141.5T680-80Zm67-105 28-28-75-75v-112h-40v128l87 87Zm-547 65q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h167q11-35 43-57.5t70-22.5q40 0 71.5 22.5T594-840h166q33 0 56.5 23.5T840-760v250q-18-13-38-22t-42-16v-212h-80v120H280v-120h-80v560h212q7 22 16 42t22 38H200Zm280-640q17 0 28.5-11.5T520-800q0-17-11.5-28.5T480-840q-17 0-28.5 11.5T440-800q0 17 11.5 28.5T480-760Z"/></svg>                                              
              <svg class="complete-icon d-none" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#75FB4C"><path d="M268-240 42-466l57-56 170 170 56 56-57 56Zm226 0L268-466l56-57 170 170 368-368 56 57-424 424Zm0-226-57-56 198-198 57 56-198 198Z"/></svg>
            </div>
          </td>`)[0];
      }

      removeMatchup(matchup){
        let element = super.removeMatchup(matchup);
        if (this.matchup_ids.size == 0){
          this.hideWatchlist();
        }
        let original = document.querySelector(`[data-matchup-id="${matchup.id}"]`);
        original.classList.remove('watching');
        return element;
      }

      showWatchlist(){
        document.querySelector('.watchlist-table').classList.remove('d-none');
        document.querySelector('.watchlist-empty-message').classList.add('d-none');
      }
      hideWatchlist(){
        document.querySelector('.watchlist-table').classList.add('d-none');
        document.querySelector('.watchlist-empty-message').classList.remove('d-none');
      }
    }
    
    const mainCardTable = new MatchupTable(document.querySelector('#main-card table'),matchupMap);
    const prelimTable = new MatchupTable(document.querySelector('#prelims table'),matchupMap);
    const watchlistTable = new WatchListTable(document.querySelector('#watchlist table'),matchupMap);

    for (const key in matchupMap){
      let matchup =  matchupMap[key];

      if (matchup.isprelim){
        prelimTable.matchup_ids.add(parseInt(key));
      }else{
        mainCardTable.matchup_ids.add(parseInt(key));
      }
    }
    
    const fightEventId = {{ event.id }};
    const postHeaders = {
      accept: "application/json",
      "Content-Type": "application/json",
      "X-CSRFToken": Cookies.get('csrftoken'),
    };
    var activeMatchup = null;
    const editModal = new bootstrap.Modal(document.querySelector('#matchupModal'));
    //show and dismiss edit modal
    function onToggleMatchupModal(isEditMode){
      if (isEditMode){
        //check for an active 
        console.log('in edit mode!');
        if (activeMatchup == null){
          //don't open edit modal return
          return;
        }
        //modal needs to have matchup data filled in to be edited
        let matchupId = activeMatchup.dataset.matchupId;
        let matchupData = matchupMap[matchupId];
        let weightClass = matchupData['weight_class'];
        let rounds = matchupData['rounds'];
        //populate modal form data
        let matchupModal = document.querySelector("#matchupModal");
        matchupModal.dataset.matchupId = matchupId;
        //fill out names of fighters from current active matchup
        let searchBoxA = matchupModal.querySelector(".fighter-a .search-box input");
        let searchBoxB = matchupModal.querySelector(".fighter-b .search-box input");

        searchBoxA.setAttribute("disabled",true);
        searchBoxB.setAttribute("disabled",true);

        searchBoxA.value = matchupData['fighter_a_name'];
        searchBoxB.value = matchupData['fighter_b_name'];

        // set fighter id's
        matchupModal.querySelector(".fighter-a").dataset.selectedId = matchupData['fighter_a'];
        matchupModal.querySelector(".fighter-b").dataset.selectedId = matchupData['fighter_b'];

        //capitalize weightclass
        weightClass = weightClass.split("_").map((x) => {return x.substr(0,1).toUpperCase() + x.substr(1);}).join(" ");
        
        matchupModal.querySelector(".weight-class .dropdown-toggle").textContent = weightClass;
        //set rounds
        matchupModal.querySelector(`#roundOption-${rounds}`).checked = true;
        //set isprelim
        matchupModal.querySelector("#isprelim").checked = matchupMap['isprelim'];

        //show update button
        matchupModal.querySelector(".create-matchup-btn").classList.add("d-none");
        matchupModal.querySelector(".update-matchup-btn").classList.remove("d-none");
        
        editModal.show();
        return;
      }
      clearMatchupDialog();
      editModal.show();
    }
    
    function createMatchUp(event) {
      //grab fighter-id from fighter-a and fighter-b
      let fighterAId = document.querySelector(".fighter-a").dataset.selectedId;
      let fighterBId = document.querySelector(".fighter-b").dataset.selectedId;
      let weightClass = document.querySelector(".weight-class .dropdown-toggle")
                        .textContent
                        .replace(" ","_");
      let rounds = document.querySelector("input[name='rounds']:checked").value;
      let isprelim = document.querySelector("#isprelim").checked;
      //make sure both fighter id's are not -1
      if (fighterAId == -1 || fighterBId == -1) {
        alert("Please select two fighters");
        return;
      }
      //also make sure some dropdown is selected
      if (weightClass == "Weight Class") {
        alert("Please select a weight class");
        return;
      }
      console.log(fighterAId, fighterBId, weightClass,rounds);
      //replace the space to an underscore
      //send post request to /create-matchup
      fetch("/matchup/create-matchup", {
        method: "POST",
        body: JSON.stringify({
          fighter_a_id: fighterAId,
          fighter_b_id: fighterBId,
          weight_class: weightClass,
          rounds: rounds,
          event_id: fightEventId,
          isprelim: isprelim,
        }),
        headers: postHeaders,
      })
        .then((response) => response.json())
        .then((data) => {
          
          /*
          
              "id": 299,
              "fighter_a": 1,
              "fighter_b": 1,
              "weight_class": "bantamweight",
              "rounds": 3,
              "scheduled": null,
              "event": 36,
              "isprelim": false
          
          */
          console.log('Created Matchup...',data);
          //update matchup table
          //update on server
          if (data.inWatchList == null){
            data.inWatchList = false;
          }
          let matchup = data;
          //reflect change in matchup table
          let matchupTable = mainCardTable;
          if (matchup.isprelim){
            matchupTable = prelimTable;
          }
          matchupMap[matchup.id] = matchup;
          matchupTable.addMatchup(matchupMap[data.id]);
          bootstrap.Modal.getInstance(document.querySelector('#matchupModal')).hide();
        });
    }
    
    function updateMatchUp(event){
      let matchupId = activeMatchup.dataset.matchupId;//document.querySelector("#matchupModal").dataset.matchupId;
      //grab fighter-id from fighter-a and fighter-b
      let fighterAId = document.querySelector(".fighter-a").dataset.selectedId;
      let fighterBId = document.querySelector(".fighter-b").dataset.selectedId;
      let weightClass = document.querySelector(".weight-class .dropdown-toggle").textContent;
      let rounds = document.querySelector("input[name='rounds']:checked").value;
      let isprelim = document.querySelector("#isprelim").checked;
      //make sure both fighter id's are not -1
      if (fighterAId == -1 || fighterBId == -1) {
        alert("Please select two fighters");
        return;
      }
      //also make sure some dropdown is selected
      if (weightClass == "Weight Class") {
        alert("Please select a weight class");
        return;
      }
      // console.log(fighterAId, fighterBId, weightClass,rounds);
      // return;

      //send post request to /create-matchup
      fetch(`/matchup/update-matchup/${matchupId}`, {
        method: "PATCH",
        body: JSON.stringify({
          matchupId: matchupId,
          fighter_a_id: fighterAId,
          fighter_b_id: fighterBId,
          weight_class: weightClass,
          rounds: rounds,
          event_id: fightEventId,
          isprelim: isprelim,
        }),
        headers: postHeaders,
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          //reflect change in matchup table
          matchupMap[data['id']] = {
            'fighter_a' : data['fighter_a_id'],
            'fighter_a_name':data['fighter_a_name'],
            'fighter_b' : data['fighter_b_id'],
            'fighter_b_name':data['fighter_b_name'],
            'rounds':data['rounds'],
            'isprelim':data['isprelim'],
            'inWatchList':data['inWatchList'],
            'weight_class':data['weight_class']
          }
          // matchupMapDataStateHandler.replaceMatchup(data);
        });
    }
    function clearMatchupDialog(){
      //clear form data from matchupModal
      let matchupModal = document.querySelector("#matchupModal");
      let searchBoxA = matchupModal.querySelector(".fighter-a .search-box input");
      let searchBoxB = matchupModal.querySelector(".fighter-b .search-box input");
      
      searchBoxA.value = "";
      searchBoxB.value = "";

      searchBoxA.removeAttribute("disabled");
      searchBoxB.removeAttribute("disabled");

      matchupModal.querySelector(".fighter-a").dataset.selectedId = -1;
      matchupModal.querySelector(".fighter-b").dataset.selectedId = -1;

      matchupModal.querySelector(".weight-class .dropdown-toggle").textContent = "Weight Class";
      matchupModal.querySelector("#roundOption-3").checked = true;
      matchupModal.querySelector("#isprelim").checked = false;

      //hide update button
      matchupModal.querySelector(".create-matchup-btn").classList.remove("d-none");
      matchupModal.querySelector(".update-matchup-btn").classList.add("d-none");
    }
    function onClickSuggestion() {
      //enter this data into the search box
      this.searchBoxInput.value = this.fighter.first_name + " " + this.fighter.last_name;
      //close and clear the search suggestion box
      this.searchSuggestionList.innerHTML = "";
      //set the first one to the new fighter
      // this.fighterElement.querySelector(".fighter-img").src = this.fighter.image_url;
      // this.fighterElement.querySelector(".fighter-name").textContent = this.fighter.first_name + " " + this.fighter.last_name;
      // this.fighterElement.querySelector(".fighter-name").classList.remove("d-none");
      this.fighterElement.dataset.selectedId = this.fighter.id;
      // this.searchBoxInput.setAttribute("readonly", true); 
      this.searchBoxInput.setAttribute("disabled",true);
      // this.fighterElement.querySelector(".search-container").classList.add("d-none");
    }
    function clearFighterSelection(fighter){
      let fighterElement = document.querySelector(`.${fighter}`);
      let searchBoxInput = fighterElement.querySelector(".search-box input");
      fighterElement.dataset.selectedId = -1;
      // fighterElement.querySelector(".fighter-img").src = "static/media/sample_50.png";
      fighterElement.querySelector(".search-container").classList.remove("d-none");
      searchBoxInput.value = "";
      searchBoxInput.removeAttribute("disabled");
    }
       //search box functionality
    document.querySelectorAll(".fighter-selector .fighter").forEach((fighterElement) => {
      let searchBox = fighterElement.querySelector(".search-box");
      searchBox.addEventListener("keyup", async (event) => {
        //check if modal is visible
        let isModalVisible = document.querySelector(".modal.show") != null;
        // console.log(isModalVisible);
        if (!isModalVisible) return;
        // console.log(event);
        let input = searchBox.querySelector("input");
        let search = input.value;
        search = search.split(" ").join("+");//
        // console.log(search);
        let searchSuggestion = document.querySelector(
          `${searchBox.dataset.target} ul`
        );

        if (search.length > 0) {
          fetch(`/fighters/search/?search=${search}`)
            .then((response) => response.json())
            .then((data) => {
            //   console.log(data);
              let fighters = data['fighters'];
              searchSuggestion.innerHTML = "";
              fighters.forEach((fighter) => {
                console.log(fighter);
                let li = document.createElement("li");
                li.classList.add("list-group-item");
                li.innerHTML = `
                    <div class="suggestion">
                        <p class="name">${fighter.first_name} ${fighter.last_name}, id:${fighter.id}</p>
                    </div>`;
                searchSuggestion.appendChild(li);
                li.addEventListener('click', onClickSuggestion.bind({
                  fighter: fighter,
                  fighterElement: fighterElement,
                  searchBoxInput: input,
                  searchSuggestionList: searchSuggestion
                }));
              });
            });
        } else {
          searchSuggestion.innerHTML = "";
        }
      });
    });

    //on click weightclass dropdown item set the dropdown button text to the item clicked
    document.querySelectorAll(".weight-class .dropdown-item").forEach((dropDownItem) => {
      dropDownItem.addEventListener('click', (event) => {
        let weightClassButton = document.querySelector(".weight-class .dropdown-toggle");
        weightClassButton.textContent = event.target.textContent;
      });
    });

    function onClickAnalyze(event){
      if (activeMatchup != null){
        //navigate to that path
        window.location.href = `matchup/${activeMatchup.dataset.matchupId}`;
      }
    }

    function onClickMatchUp(event) {
        let matchup = event.currentTarget;
        // let matchup = matchupLi.childNodes[0];//matchupLi.querySelector('.matchup');
        let isActive = matchup.classList.contains('active');
        //deactivate previous active element
        if (activeMatchup != null){
            activeMatchup.classList.remove('active');
        }
        
        let menu = document.querySelector('.matchup-actions-menu-container[data-open="true"]');
        if (menu != null){
          hideActionMenu(menu);
        }
        activeMatchup = null;
        //if prevactive element is not current element
        if (!isActive){//now active
          matchup.classList.add('active');
          activeMatchup = matchup;
        }
    }

    function onRightClickMatchup(event){
      event.preventDefault();
      if (activeMatchup == null) return;
      // console.log('Right Clicked Matchup!',event.currentTarget);
      let tableId = '#main-card';
      if (matchupMap[activeMatchup.dataset.matchupId].isprelim){
        tableId = '#prelims';
      }
      if (event.currentTarget.classList.contains('watchlist-matchup')){
        tableId = '#watchlist';
      }

      let inWatchList = matchupMap[activeMatchup.dataset.matchupId].inWatchList;
      let menuContainer = document.querySelector(`${tableId}`);
      let menu = menuContainer.querySelector('.matchup-actions-menu-container');
      showActionMenu(menuContainer,menu,event,inWatchList);
    }

    document.querySelectorAll('.menu-item').forEach((menu_item) => {
      menu_item.addEventListener('click',(event)=>{
        // hideActionMenu();
        hideActionMenu(document.querySelector('.matchup-actions-menu-container[data-open="true"]'));
      });
    });

    function showActionMenu(menuContainer,menu,event,matchupInWatchList){
      console.log('Showing Action Menu....');//,menu);
      let rect = menuContainer.getBoundingClientRect(); // Get element's position and size
      let x = event.clientX - rect.left;
      let y = event.clientY - rect.top;
      menu.dataset.open = true;
      
      let watchIcon = menu.querySelector('#watch-icon');
      let unwatchIcon = menu.querySelector('#unwatch-icon');
      let watchMenuLabel = menu.querySelector('.watch-menu-item span');
      if (matchupInWatchList){
        watchIcon.classList.add('d-none');//hide watch icon
        unwatchIcon.classList.remove('d-none');
        watchMenuLabel.textContent = 'unwatch';
      }else{
        watchIcon.classList.remove('d-none');//show watch icon
        unwatchIcon.classList.add('d-none');
        watchMenuLabel.textContent = 'watch';
      }
      
      menu.classList.remove('d-none');
      let height = 0;//menu.offsetHeight;
      menu.style.left = `${x}px`;
      menu.style.top = `${y - height}px`;
    }

    function hideActionMenu(menu){
      console.log('Hiding action menu...');//,menu);
      
      menu.classList.add('d-none');
      menu.dataset.open = false;
    }

    function onClickWatch(event){
      if (activeMatchup != null){
        //continue
        //add to watchlist
        let matchupDataContainer = activeMatchup.dataset;
        let matchupId = matchupDataContainer.matchupId;
        fetch(`/matchup/toggle-watchlist/${matchupId}`, {
        method: "PATCH",
        body: JSON.stringify({
          toggle:true,
        }),
        headers: postHeaders,
      })
        .then((response) => response.json())
        .then((data) => {
          // console.log(data);
          //update matchup table
          matchupMap[data.id]['inWatchList'] = data.inWatchList;
          if (data.inWatchList){
            watchlistTable.addMatchup(matchupMap[data.id]);
          }else{
            // console.log('removing !!!!',data,data.id,matchupMap[data.id]);
            watchlistTable.removeMatchup(matchupMap[data.id]);
          }
        });
      }
    }

    function onClickDelete(event){
      //check if matchup selected
      if (activeMatchup == null) return;
      //no longer need this since it is not clickable if no matchup is selected
      //send delete request to /matchup/delete-matchup
      let matchupId = activeMatchup.dataset.matchupId;
      //show confirmation dialog
      let confirmationDialog = document.querySelector(".confirmation-dialog");
      // confirmationDialog.dataset.matchupId = matchupId;
      //set the matchup name
      let matchupData = matchupMap[matchupId];
      confirmationDialog.querySelector(".dialog-body p").textContent = `\"${matchupData['fighter_a_name']} vs ${matchupData['fighter_b_name']}\"`;
      confirmationDialog.classList.remove("d-none");
    }
    function deleteMatchup(){
      if (activeMatchup == null) return;
      let matchupId = activeMatchup.dataset.matchupId;
      fetch(`/matchup/delete-matchup/${matchupId}`, {
        method: "DELETE",
        headers: {
          accept: "application/json",
          "Content-Type": "application/json",
          "X-CSRFToken": Cookies.get('csrftoken'),
        },
      })
        .then((response) => response.json())
        .then((data) => {
          // console.log(data);
          //remove matchup from table
          //hide confirmation dialog
          document.querySelector(".confirmation-dialog").dataset.matchupId = "-1";
          document.querySelector(".confirmation-dialog").classList.add("d-none");
         
          watchlistTable.removeMatchup(matchupMap[matchupId]);
          mainCardTable.removeMatchup(matchupMap[matchupId]);
          prelimTable.removeMatchup(matchupMap[matchupId]);
          delete matchupMap[matchupId];
        });
    }

    function onClickCancelDelete(){
      let confirmationDialog = document.querySelector(".confirmation-dialog");
      document.querySelector(".confirmation-dialog").classList.add("d-none");
    }
</script>

<script>
  //onmouseenter main-card
  function onMouseEnterEventHandler(event){
    
    // event.stopPropagation();
    let div = event.currentTarget;
    let rect = div.getBoundingClientRect(); // Get element's position and size
    let x = event.clientX - rect.left;
    let y = event.clientY - rect.top;
    let posLabel = div.querySelector('.position-label');
    posLabel.textContent = `${x},${y}`;
    //move horizontal guide
    let guideHorizontal = div.querySelector('.guide-horizontal');
    let guideVertical = div.querySelector('.guide-vertical');
    //move vertical guide 
    guideHorizontal.style.top = `${y}px`;
    guideVertical.style.left = `${x}px`;
  }
  // document.querySelector('#main-card').addEventListener('mousemove',onMouseEnterEventHandler);
  // document.querySelector('#prelims').addEventListener('mousemove',onMouseEnterEventHandler);
</script>

{% endblock %} 
  
 
