<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Fight Evaluator</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  
 {% load static %}
  <link rel="stylesheet" href="{% static  'fightEvaluator/styles/styles.css' %}" />
  <link rel="stylesheet" href="{% static  'fightEvaluator/styles/index.css' %}" />
</head>

{% load custom_filters %}

<body data-bs-theme="dark">
  {% include 'fightEvaluator/navbar.html' %}
  <!--container-->
  <div class="container-fluid main-container">
    <!-- Modal -->
    <div class="modal fade" id="matchupModal" tabindex="-1" aria-labelledby="matchupModalLabel" aria-hidden="true" data-matchup-id="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content w-auto">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="matchupModalLabel">
              Add Matchup
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <!---->
              <div class="fighter-selector">
                <div class="current-matchup p-2 border rounded">
                  <h5>Current Matchup</h5>
                  
                  <div class="fighter fighter-a d-flex align-items-center" data-selected-id="-1">
                    <img class="fighter-img" src="{% static 'fightEvaluator/media/sample_50.png' %}" alt="" />
                    <!-- <h6 class="fighter-name mx-1 d-none">Fighter a</h6> -->
                    <!--bootstrap close button-->
                    <div class="search-container mx-1">
                      <!--text search box-->
                      <div class="search-box" data-target="#searchbox-a">
                        <form>
                          <div class="input-group">
                            <input type="text" class="form-control" name="search" placeholder="Search fighter name..." aria-label="Search fighter name..." aria-describedby="clearSearchBtnA">
                            <button class="btn btn-outline-danger" type="button" id="clearSearchBtnA" onclick="clearFighterSelection('fighter-a')" >clear</button>
                          </div>
                        </form>
                      </div>
                      <!--search box suggestion drop down-->
                      <div class="search-suggestion" id="searchbox-a">
                        <ul class="list-group"></ul>
                      </div>
                    </div>
                  </div>
                  <div class="my-1">
                    <p class="m-0 text-center">versus</p>
                  </div>
                  <div class="fighter fighter-b d-flex align-items-center" data-selected-id="-1">
                    <img class="fighter-img" src="{% static 'fightEvaluator/media/sample_50.png' %}" alt="" />
                    <!-- <h6 class="fighter-name mx-1 d-none">Fighter b</h6> -->
                    <div class="search-container mx-1">
                      <!--text search box-->
                      <div class="search-box" data-target="#searchbox-b">
                        <form>
                          <div class="input-group">
                            <input type="text" class="form-control" name="search" placeholder="Search fighter name..." aria-label="Search fighter name..." aria-describedby="clearSearchBtnB">
                            <button class="btn btn-outline-danger" type="button" id="clearSearchBtnB" onclick="clearFighterSelection('fighter-b')" >clear</button>
                          </div>                        
                        </form>
                      </div>
                      <!--search box suggestion drop down-->
                      <div class="search-suggestion" id="searchbox-b">
                        <ul class="list-group"></ul>
                      </div>
                    </div>
                  </div>
                  <div class="matchup-info-wrapper">
                    <div class="weight-class dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Weight Class
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Flyweight</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Bantamweight</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Featherweight</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Lightweight</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Welterweight</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Middleweight</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Light Heavyweight</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Heavyweight</a></li>
                        <li><a class="dropdown-item" href="#">Catchweight</a></li>
                      </ul>
                    </div>
                    <div class="rounds-wrapper">
                      <p class="m-0">Rounds</p>
                      <!--2 radio buttons for 3 or 5 rounds-->
                      <div class="form-check mx-2">
                        <input class="form-check-input" type="radio" name="rounds" id="roundOption-3" value="3" checked>
                        <label class="form-check-label" for="rounds">
                          3
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rounds" id="roundOption-5" value="5">
                        <label class="form-check-label" for="rounds">
                          5
                        </label>
                      </div>
                    </div>
                    <div class="prelims-wrapper">
                      <!--bootstrap5 checkbox-->
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="isprelim">
                        <label class="form-check-label" for="isprelim">
                          On Prelims
                        </label>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              <div class="fighter-creator border rounded">
                <!--form to create a fighter
                        first name
                        last name
                        weight class
                        height
                        reach
                        stance
                        date_of_birth
                        wins
                        losses
                        draws
                  -->
                <h5 class="text-start">Create a fighter</h5>
                <form>
                  {% csrf_token %}
                  <div class="row">
                    <div class="col">
                      <label for="first_name" class="form-label">First Name</label>
                      <input type="text" class="form-control" id="first_name" name="first_name"
                        placeholder="First Name" />
                    </div>
                    <div class="col">
                      <label for="last_name" class="form-label">Last Name</label>
                      <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="weight_class" class="form-label">Weight Class</label>
                      <select class="form-select" id="weight_class" name="weight_class">
                        <option selected>Choose...</option>
                        <option value="FLYWEIGHT">Flyweight</option>
                        <option value="BANTAMWEIGHT">Bantamweight</option>
                        <option value="FEATHERWEIGHT">Featherweight</option>
                        <option value="LIGHTWEIGHT">Lightweight</option>
                        <option value="WELTERWEIGHT">Welterweight</option>
                        <option value="MIDDLEWEIGHT">Middleweight</option>
                        <option value="LIGHT_HEAVYWEIGHT">Light Heavyweight</option>
                        <option value="HEAVY_WEIGHT">Heavyweight</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="height" class="form-label">Height</label>
                      <input type="number" class="form-control" name="height" id="height" max="99" maxlength="2"
                        placeholder="Height" />
                    </div>
                    <div class="col">
                      <label for="reach" class="form-label">Reach</label>
                      <input type="number" class="form-control" id="reach" name="reach" max="99" maxlength="2"
                        placeholder="Reach" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="stance" class="form-label">Stance</label>
                      <select class="form-select" id="stance" name="stance">
                        <option selected>Choose...</option>
                        <option value="orthodox">Orthodox</option>
                        <option value="southpaw">Southpaw</option>
                        <option value="switch">Switch</option>
                        <option value="open_stance">Open Stance</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="date_of_birth" class="form-label">Date of Birth</label>
                      <input type="date" class="form-control" id="date_of_birth" name="date_of_birth"
                        placeholder="Date of Birth" />
                    </div>
                  </div>
                  <div class="row">
                    <button class="btn btn-primary my-2 w-auto" style="margin-left: auto;margin-right: 1rem;"
                      onclick="createFighter(event)" type="button">Create</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div style="margin: 0px; margin-right: auto;">
              <p class="m-0" style="color: hsl(0 ,0%, 60%);"><small>Fighter not listed?</small></p>
              <button type="button" class="btn btn-primary" onclick="showFighterCreatorSection()">
                add new fighter
              </button>
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="button" class="create-matchup-btn btn btn-primary" onclick="createMatchUp(event)">
              Create Matchup
            </button>
            <button type="button" class="update-matchup-btn btn btn-primary d-none" onclick="updateMatchUp(event)">
              Update Matchup
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid title-container d-flex flex-column">
      <h3 class="event-title">{{event.title}}</h3>
      <div class="action-bar d-flex align-items-center w-100">
        <div class="matchup-actions d-flex justify-content-around my-2 border rounded-2 flex-wrap">
          <div class="action-wrapper" >
            <button type="button" class="btn btn-primary active-independent" data-bs-toggle="modal" data-bs-target="#matchupModal">
              add
            </button>
            <p>&nbsp;- add matchup</p>
          </div>
          <!--edit matchup action-->
          <div class="action-wrapper">
            <button type="button" class="edit btn btn-primary disabled" data-bs-toggle="modal" data-bs-target="#matchupModal" onclick="onClickEdit()">
              edit
            </button>
            <p>&nbsp;- edit matchup</p>
          </div>
          <div class="action-wrapper">
            <a class="analyze btn btn-primary disabled" href="#">
              analyze
            </a>
            <p class="m-0">&nbsp;- view matchup</p>
          </div>
          <div class="action-wrapper">
            <button class="watch btn btn-primary disabled">watch</button>
            <p>&nbsp;- add to watchlist</p>
          </div>
          <div class="action-wrapper">
            <button class="delete btn btn-danger disabled">delete</button>
            <p>&nbsp;- delete matchup</p>
          </div>
        </div>
      </div> 
    </div>
  
    <div class="tables-wrapper">
      <div class="matchups-container watchlist" id="watchlist">
          <div class="matchups-header">
            <h4>Watchlist</h4>
            <p class="table-note">currently not watching any matchups.</p>
          </div>
          <div class="matchups container-fluid"></div>
      </div>
      <!--main card fighter table-->
      {% for matchups in matchupsList %}
      <div class="matchups-container" id={% if forloop.counter == 1%}"main-card"{% else %}"prelims"{% endif %}>
        <div class="matchups-header">
          {% if forloop.counter == 1 %}
          <h4>Main Card</h4>
          {% elif forloop.counter == 2 %}
          <h4>Prelims</h4>
          {% endif %}
        </div>
        <div class="matchups container-fluid">
          {% for matchup in matchups %}
          <div class="matchup row border border-2 m-1" data-matchup-id="{{matchup.id}}" data-isprelim="{{ matchup.isprelim }}">
            <div class="col col-1">
              <h1>{{forloop.counter}}</h1>
            </div>
            <div class="col col-4 d-flex fighter" data-fighter-id="{{ matchup.fighter_a.id }}">
              <img class="fighter-img" src="{% static 'fightEvaluator/media/sample_50.png' %}" alt="">
              <a href="/assessment/{{ matchup.fighter_a.id }}">
                <p class="fighter-name">{{ matchup.fighter_a.name }}</p>
              </a>
            </div>
            <div class="col col-3 weightclass">
              <h6>{{ matchup.weight_class|rmscores }}</h6>
              <p class="matchup-rounds">{{ matchup.rounds }} x 5</p>
            </div>
            <div class="col col-4 d-flex fighter justify-content-end" data-fighter-id="{{ matchup.fighter_b.id }}">
              <a href="/assessment/{{ matchup.fighter_b.id }}">
                <p class="fighter-name">{{ matchup.fighter_b.name }}</p>
              </a>
              <img class="fighter-img" src="{% static 'fightEvaluator/media/sample_50.png' %}" alt="" />
            </div>  
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}  
    </div>
  </div>

  <div class="confirmation-dialog d-none" data-matchup-id="-1">
    <div class="dialog-container bg-dark rounded-3">
      <div class="dialog-title">
        <h4>Delete following MatchUp.</h4>
      </div>
      <div class="dialog-body border p-1 my-3">
        <p class="m-0">Matchup name.</p>
      </div>
      <div class="dialog-actions">
        <button class="cancel btn btn-secondary">cancel</button>
        <button class="confirm btn btn-primary">confirm</button>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

 <script>

    var fightEventId = {{ event.id }};
    const postHeaders = {
      accept: "application/json",
      "Content-Type": "application/json",
      "X-CSRFToken": Cookies.get('csrftoken'),
    }
    function createMatchUp(event) {
      //grab fighter-id from fighter-a and fighter-b
      let fighterAId = document.querySelector(".fighter-a").dataset.selectedId;
      let fighterBId = document.querySelector(".fighter-b").dataset.selectedId;
      let weightClass = document.querySelector(".weight-class .dropdown-toggle").textContent;
      let rounds = document.querySelector("input[name='rounds']:checked").value;
      let isprelim = document.querySelector("#isprelim").checked;
      //make sure both fighter id's are not -1
      if (fighterAId == -1 || fighterBId == -1) {
        alert("Please select two fighters");
        return;
      }
      //also make sure some dropdown is selected
      if (weightClass == "Weight Class") {
        alert("Please select a weight class");
        return;
      }
      // console.log(fighterAId, fighterBId, weightClass,rounds);
      // return;

      //send post request to /create-matchup
      fetch("/matchup/create-matchup", {
        method: "POST",
        body: JSON.stringify({
          fighter_a_id: fighterAId,
          fighter_b_id: fighterBId,
          weight_class: weightClass,
          rounds: rounds,
          event_id: fightEventId,
          isprelim: isprelim,
        }),
        headers: postHeaders,
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          //update matchup table
          let matchup = data["matchup"];
          let matchupElement = document.createElement("div");
          //reflect change in matchup table
        });
    }

    function updateMatchUp(event){
      let matchupId = document.querySelector("#matchupModal").dataset.matchupId;
      //grab fighter-id from fighter-a and fighter-b
      let fighterAId = document.querySelector(".fighter-a").dataset.selectedId;
      let fighterBId = document.querySelector(".fighter-b").dataset.selectedId;
      let weightClass = document.querySelector(".weight-class .dropdown-toggle").textContent;
      let rounds = document.querySelector("input[name='rounds']:checked").value;
      let isprelim = document.querySelector("#isprelim").checked;
      //make sure both fighter id's are not -1
      if (fighterAId == -1 || fighterBId == -1) {
        alert("Please select two fighters");
        return;
      }
      //also make sure some dropdown is selected
      if (weightClass == "Weight Class") {
        alert("Please select a weight class");
        return;
      }
      // console.log(fighterAId, fighterBId, weightClass,rounds);
      // return;

      //send post request to /create-matchup
      fetch(`/matchup/update-matchup/${matchupId}`, {
        method: "PATCH",
        body: JSON.stringify({
          matchupId: matchupId,
          fighter_a_id: fighterAId,
          fighter_b_id: fighterBId,
          weight_class: weightClass,
          rounds: rounds,
          event_id: fightEventId,
          isprelim: isprelim,
        }),
        headers: postHeaders,
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          //update matchup table
          // let matchup = data["matchup"];
          // let matchupElement = document.createElement("div");
          //reflect change in matchup table
        });
    }

    function createFighter(event) {
      event.preventDefault();
      let form = document.querySelector(".fighter-creator form");
      let formData = new FormData(form);
      // console.log(formData);
      let data = {};
      for (let [key, value] of formData.entries()) {
        data[key] = value;
      }
      // console.log(data);
      fetch("/fighters/create-fighter", {
        method: "POST",
        body: JSON.stringify(data),
        headers: postHeaders
      })
        .then((response) => response.json())
        .then((data) => {
          // console.log(data);
        });
    }

    //limit reach and height input to max 2 chars
    document.querySelectorAll("input[type='number']").forEach((input) => {
      input.addEventListener("input", (event) => {
        //no negative values
        if (input.value < 0) {
          input.value = 0;
        }
        if (input.value.length > 2) {
          input.value = input.value.slice(0, 2);
        }
      });
    });

    function showFighterCreatorSection() {
      console.log("show fighter creator section");
      let fighterCreatorSection = document.querySelector(".fighter-creator");
      fighterCreatorSection.classList.toggle("show");
      if (fighterCreatorSection.classList.contains("show")) {
        fighterCreatorSection.style.height = fighterCreatorSection.scrollHeight + "px";
        return;
      }
      fighterCreatorSection.style.height = "0px";
    }

    function clearFighterSelection(fighter){
      let fighterElement = document.querySelector(`.${fighter}`);
      let searchBoxInput = fighterElement.querySelector(".search-box input");
      fighterElement.dataset.selectedId = -1;
      // fighterElement.querySelector(".fighter-img").src = "static/media/sample_50.png";
      fighterElement.querySelector(".search-container").classList.remove("d-none");
      searchBoxInput.value = "";
      searchBoxInput.removeAttribute("disabled");
    }

    function onClickSuggestion() {
      //enter this data into the search box
      this.searchBoxInput.value = this.fighter.first_name + " " + this.fighter.last_name;
      //close and clear the search suggestion box
      this.searchSuggestionList.innerHTML = "";
      //set the first one to the new fighter
      // this.fighterElement.querySelector(".fighter-img").src = this.fighter.image_url;
      // this.fighterElement.querySelector(".fighter-name").textContent = this.fighter.first_name + " " + this.fighter.last_name;
      // this.fighterElement.querySelector(".fighter-name").classList.remove("d-none");
      this.fighterElement.dataset.selectedId = this.fighter.id;
      // this.searchBoxInput.setAttribute("readonly", true); 
      this.searchBoxInput.setAttribute("disabled",true);
      // this.fighterElement.querySelector(".search-container").classList.add("d-none");
    }
    
    //search box functionality
    document.querySelectorAll(".fighter-selector .fighter").forEach((fighterElement) => {
      let searchBox = fighterElement.querySelector(".search-box");
      searchBox.addEventListener("keyup", async (event) => {
        //check if modal is visible
        let isModalVisible = document.querySelector(".modal.show") != null;
        // console.log(isModalVisible);
        if (!isModalVisible) return;
        // console.log(event);
        let input = searchBox.querySelector("input");
        let search = input.value;
        search = search.split(" ").join("+");//
        // console.log(search);
        let searchSuggestion = document.querySelector(
          `${searchBox.dataset.target} ul`
        );

        if (search.length > 0) {
          fetch(`/fighters/search/?search=${search}`)
            .then((response) => response.json())
            .then((data) => {
            //   console.log(data);
              let fighters = data['fighters'];
              searchSuggestion.innerHTML = "";
              fighters.forEach((fighter) => {
                console.log(fighter);
                let li = document.createElement("li");
                li.classList.add("list-group-item");
                li.innerHTML = `
                    <div class="suggestion">
                        <p class="name">${fighter.first_name} ${fighter.last_name}, id:${fighter.id}</p>
                    </div>`;
                searchSuggestion.appendChild(li);
                li.addEventListener('click', onClickSuggestion.bind({
                  fighter: fighter,
                  fighterElement: fighterElement,
                  searchBoxInput: input,
                  searchSuggestionList: searchSuggestion
                }));
              });
            });
        } else {
          searchSuggestion.innerHTML = "";
        }
      });
    });

    //on click weightclass dropdown item set the dropdown button text to the item clicked
    document.querySelectorAll(".weight-class .dropdown-item").forEach((dropDownItem) => {
      dropDownItem.addEventListener('click', (event) => {
        let weightClassButton = document.querySelector(".weight-class .dropdown-toggle");
        weightClassButton.textContent = event.target.textContent;
      });
    });
  </script>
  <script>
    /*

      class StateHandler{
        constructor(){
          this.states = {};
          this.stateReceivers = {};//map state -> receiver_callback
        }

        addState(state,defaultValue){
          this.states[state] = defaultValue;
        }

        addStateReceiver(state,receiver){
          this.stateReceivers[state].push(receiver);
        }

        removeState(state){
          delete this.states[state];
          this.stateReceivers[state] = null;//remove all state receivers
        }

        modify(state,value){
          this.states[state] = value;
          this.stateReceivers[state].forEach((receiver) => {
            receiver.receive(this.states[state]);
          });
        }

        receive(state){
          //respond to state change
        }

      }
    
    */

   class MatchupElementStateHandler{
      constructor (){
      }

      toggleState(matchup){
        // console.log('toggleState', matchup,this.activeMatchup);
        if (this.activeMatchup == matchup){
          this.deactivate(matchup);
          return {active:false,activeMatchup: null};
        }
        this.activate(matchup);
        return {active:true,activeMatchup: matchup}
      }

      activate(matchup){
        // console.log('activate', matchup);
        if (this.activeMatchup != null){
          this.activeMatchup.classList.remove('active');
        }
        //activate this matchup
        matchup.classList.add("active");
        this.activeMatchup = matchup;
        return {active:true,activeMatchup: matchup}
      }

      deactivate(matchup){
        matchup.classList.remove("active");
        this.activeMatchup = null;
        return {active:false,activeMatchup: null};
      }
   }

   class MatchupUIActionStateManager{
      constructor(){}

      toggleState(result){
        if (result.active){
          this.activate(result.activeMatchup);
          return;
        }
        this.deactivate();
      }

      activate(matchup){
        // console.log('activate matchup.actions', matchup);
        let matchupId = matchup.dataset.matchupId;
        let analyzeButton = document.querySelector(".analyze");
        let watchButton = document.querySelector(".watch");
        let deleteButton = document.querySelector(".delete");
        let editButton = document.querySelector(".edit");

        watchButton.classList.remove("disabled");
        analyzeButton.classList.remove("disabled");
        deleteButton.classList.remove("disabled");
        editButton.classList.remove("disabled");

        analyzeButton.href = `/matchup/${matchupId}`;
        //check if in watchlist
        let inWatchList = watchListItems.includes(matchupId);
        if (inWatchList){
          watchButton.textContent = "unwatch";
        }else{
          watchButton.textContent = "watch";
        }

      }

      deactivate(){
        //disable all actions
        let analyzeButton = document.querySelector(".analyze");
        let watchButton = document.querySelector(".watch");
        let editButton = document.querySelector(".edit");

        analyzeButton.classList.add("disabled");
        watchButton.classList.add("disabled");
        editButton.classList.add("disabled");

        analyzeButton.href = "#";
        watchButton.textContent = "watch";
        document.querySelector(".delete").classList.add("disabled");
      }
   }
    
    const matchupElementStateHandler = new MatchupElementStateHandler();
    const matchupUIStateManager = new MatchupUIActionStateManager();
   //get watchlist items array from localstorage
    let watchListItems = JSON.parse(localStorage.getItem("watchlist"));
    if (watchListItems == null) watchListItems = [];
    //if watchlist tablle is empty show the table note
    document.querySelectorAll(".matchup").forEach((matchup) => {
      matchup.addEventListener("click",onClickMatchup);
    });

    function initWatchList(){
      //add all matchups in watchlist to watchlist table
      watchListItems.forEach((matchupId) => {
        let matchup = document.querySelector(`.matchup[data-matchup-id="${matchupId}"]`);
        if (matchup == null){
          //remove from watchlist
          watchListItems = watchListItems.filter((id) => id != matchupId);
          return;
        }
        let watchListMatchup = matchup.cloneNode(true);
        watchListMatchup.classList.remove("active");//since no longer active
        watchListMatchup.addEventListener("click", onClickMatchup);//onClickMatchup.bind({matchup: watchListMatchup}));
        document.querySelector('#watchlist .matchups').appendChild(watchListMatchup);
        matchup.classList.add('watching');
      });
      let tableNote = document.querySelector(".table-note");
      if (watchListItems.length == 0) {
        tableNote.classList.remove("d-none");
      } else {
        tableNote.classList.add("d-none");
      }
    }
    function onWatchListChanged(add, matchupId){
      //item added or removed from watchlist
      localStorage.setItem("watchlist", JSON.stringify(watchListItems));
      //if an item has been added to watchlist then add the matchup to the watchlist table
      if (add){
        let matchup = document.querySelector(`.matchup[data-matchup-id="${matchupId}"]`);

        let watchListMatchup = matchup.cloneNode(true);
        watchListMatchup.addEventListener("click", onClickMatchup);
        
        matchupElementStateHandler.deactivate(matchup);//deactivate
        matchupUIStateManager.toggleState(
          matchupElementStateHandler.activate(watchListMatchup)
        );//activate

        document.querySelector('#watchlist .matchups').appendChild(watchListMatchup);
        matchup.classList.add('watching');
      }else{
        //if an item has been removed from watchlist then remove the matchup from the watchlist table
        let watchListMatchup = document.querySelector(`#watchlist .matchup[data-matchup-id="${matchupId}"]`);
        let result = matchupElementStateHandler.toggleState(watchListMatchup);
        watchListMatchup.remove();
        matchupUIStateManager.toggleState(result);
        //unwatch
        document.querySelector(`.matchup[data-matchup-id="${matchupId}"]`).classList.remove('watching');
      }
      //if watchlist is empty show table note
      let tableNote = document.querySelector(".table-note");
      if (watchListItems.length == 0) {
        tableNote.classList.remove("d-none");
      } else {
        tableNote.classList.add("d-none");
      }
    }

    function toggleWatchListItem(){
      //get matchup id
      let activeMatchup = document.querySelector(".matchup.active");
      let matchupId = activeMatchup.dataset.matchupId;
      //check if matchup is in watchlist
      let inWatchList = watchListItems.includes(matchupId);
      if (inWatchList){
        //remove from watchlist
        watchListItems = watchListItems.filter((id) => id != matchupId);
        onWatchListChanged(false, matchupId);
      }else{
        //add to watchlist
        watchListItems.push(matchupId);//
        onWatchListChanged(true, matchupId);
      }
    }

    function onClickWatch(event){
      toggleWatchListItem();
    }

    function onClickMatchup(event){
      let result = matchupElementStateHandler.toggleState(event.currentTarget);
      matchupUIStateManager.toggleState(result);
    }
 
    function onClickDelete(event){
      //check if matchup selected
      let activeMatchup = document.querySelector(".matchup.active");
      //no longer need this since it is not clickable if no matchup is selected
      // if (activeMatchup == null){
      //   alert("Please select a matchup");
      //   return;
      // }
      //send delete request to /matchup/delete-matchup
      let matchupId = activeMatchup.dataset.matchupId;
      //show confirmation dialog
      let confirmationDialog = document.querySelector(".confirmation-dialog");
      confirmationDialog.dataset.matchupId = matchupId;
      //set the matchup name
      let nameElements = document.querySelectorAll(`.matchup[data-matchup-id="${matchupId}"] .fighter .fighter-name`);
      confirmationDialog.querySelector(".dialog-body p").textContent = `\"${nameElements[0].textContent} vs ${nameElements[1].textContent}\"`;
      confirmationDialog.classList.remove("d-none");
    }

    function onClickEdit(event){
      let activeMatchup = document.querySelector(".matchup.active");
      let [fighterA,fighterB] = activeMatchup.querySelectorAll(".fighter");
      let matchupId = activeMatchup.dataset.matchupId;
      let weightClass = activeMatchup.querySelector(".weightclass h6").textContent;
      //capitalize weightClass
      weightClass = weightClass.charAt(0).toUpperCase() + weightClass.slice(1).toLowerCase();
      let rounds = parseInt(activeMatchup.querySelector(".weightclass .matchup-rounds").textContent.split(" ")[0]);
      //populate modal form data
      let matchupModal = document.querySelector("#matchupModal");
      matchupModal.dataset.matchupId = matchupId;
      //fill out names of fighters from current active matchup
      let searchBoxA = matchupModal.querySelector(".fighter-a .search-box input");
      let searchBoxB = matchupModal.querySelector(".fighter-b .search-box input");

      searchBoxA.setAttribute("disabled",true);
      searchBoxB.setAttribute("disabled",true);

      searchBoxA.value = fighterA.querySelector(".fighter-name").textContent;
      searchBoxB.value = fighterB.querySelector(".fighter-name").textContent;

      //set fighter id's
      matchupModal.querySelector(".fighter-a").dataset.selectedId = fighterA.dataset.fighterId;
      matchupModal.querySelector(".fighter-b").dataset.selectedId = fighterB.dataset.fighterId;

      //set weightclass
      matchupModal.querySelector(".weight-class .dropdown-toggle").textContent = weightClass;
      //set rounds
      if (rounds == 3){
        matchupModal.querySelector("#roundOption-3").checked = true;
      }else{
        matchupModal.querySelector("#roundOption-5").checked = true;
      }

      //set isprelim
      let isprelim = activeMatchup.dataset.isprelim;
      if (isprelim == "True"){
        matchupModal.querySelector("#isprelim").checked = true;
      }else{
        matchupModal.querySelector("#isprelim").checked = false;
      }

      //show update button
      matchupModal.querySelector(".create-matchup-btn").classList.add("d-none");
      matchupModal.querySelector(".update-matchup-btn").classList.remove("d-none");
    }
    
    function onMatchUpDialogHidden(){
      //clear form data from matchupModal
      let matchupModal = document.querySelector("#matchupModal");
      let searchBoxA = matchupModal.querySelector(".fighter-a .search-box input");
      let searchBoxB = matchupModal.querySelector(".fighter-b .search-box input");
      
      searchBoxA.value = "";
      searchBoxB.value = "";

      searchBoxA.removeAttribute("disabled");
      searchBoxB.removeAttribute("disabled");

      matchupModal.querySelector(".fighter-a").dataset.selectedId = -1;
      matchupModal.querySelector(".fighter-b").dataset.selectedId = -1;

      matchupModal.querySelector(".weight-class .dropdown-toggle").textContent = "Weight Class";
      matchupModal.querySelector("#roundOption-3").checked = true;
      matchupModal.querySelector("#isprelim").checked = false;

      //hide update button
      matchupModal.querySelector(".create-matchup-btn").classList.remove("d-none");
      matchupModal.querySelector(".update-matchup-btn").classList.add("d-none");
    }

    //add on hidden event listener to matchupModal
    let matchupModal = document.querySelector("#matchupModal");
    matchupModal.addEventListener("hidden.bs.modal", onMatchUpDialogHidden);


    initWatchList();

    function deleteMatchup(matchupId){
      fetch(`/matchup/delete-matchup/${matchupId}`, {
        method: "DELETE",
        headers: {
          accept: "application/json",
          "Content-Type": "application/json",
          "X-CSRFToken": Cookies.get('csrftoken'),
        },
      })
        .then((response) => response.json())
        .then((data) => {
          // console.log(data);
          //remove matchup from table
          document.querySelectorAll(`.matchup[data-matchup-id="${matchupId}"]`).forEach((matchup) => {
            matchup.remove();
          });
          //hide confirmation dialog
          document.querySelector(".confirmation-dialog").dataset.matchupId = "-1";
          document.querySelector(".confirmation-dialog").classList.add("d-none");
          watchListItems = watchListItems.filter((id) => id != matchupId);//remove from localStorage watchlsit
          localStorage.setItem("watchlist", JSON.stringify(watchListItems));//update localStorage
        });
    }

    
    let watchButton = document.querySelector(".watch");
    let deleteButton = document.querySelector(".delete");
    let confirmDeleteButton = document.querySelector(".confirmation-dialog .dialog-actions .confirm");
    let cancelDeleteButton = document.querySelector(".confirmation-dialog .dialog-actions .cancel");

    watchButton.addEventListener("click", onClickWatch);
    deleteButton.addEventListener("click", onClickDelete);
    
    confirmDeleteButton.addEventListener("click", (event) => {
      deleteMatchup(document.querySelector(".confirmation-dialog").dataset.matchupId);
    });
    
    cancelDeleteButton.addEventListener("click", (event) => {
      let confirmationDialog = document.querySelector(".confirmation-dialog");
      confirmationDialog.dataset.matchupId = "-1";
      document.querySelector(".confirmation-dialog").classList.add("d-none");
    });
  </script> 
  
 
</body>

</html>