{% extends "fightEvaluator/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %} MatchUp:&nbsp;{{ fighter_a.last_name.capitalize }} vs {{ fighter_b.last_name.capitalize }} {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'fightEvaluator/styles/matchup.css' %}" />
{% endblock %}

{% block content %}

{% include 'fightEvaluator/navbar.html' %}
{% csrf_token %}
<div class="container-fluid xmain-container main-container">
  <div class="matchup-info">
    <h4>
      {{matchup.title}} | {{ matchup.weight_class|rmscores }} | Rounds: {{ matchup.rounds }}
    </h4>
  </div>
  <div class="matchup-container justify-content-center">
    <!--contains information about each fighter including fighter img-->
    <div class="fighter-container">
      <div class="fighter-info m-1" data-fighter-id="{{fighter_a.id}}">
        <div class="fighter-info-wrapper">
          <img src={% if fighter_a.img_link %}{{fighter_a.img_link}}{% else %}{% static 'fightEvaluator/media/sample_150.png' %}{% endif %} alt="">
          <div class="fighter-bio">
            <div class="name">
              <h5>
                <a href="/assessment/{{ fighter_a.id }}">{{ fighter_a.first_name }} {{ fighter_a.last_name }}</a>
              </h5>
            </div>
            <div class="age">
              <h6 class="age-label">age:&nbsp;</h6>
              <p class="age">{{ fighter_a.date_of_birth|toage }}</p>
            </div>
            <div class="record">
              <h6 class="record-label">record:&nbsp;</h6>
              <p class="record">{{ fighter_a.record }}</p>
            </div>
            <div class="height">
              <h6 class="height-label">height:&nbsp;</h6>
              <p>{{fighter_a.height|height_str}}</p>
            </div>
            <div class="reach">
              <h6 class="reach-label">reach:&nbsp;</h6>
              <p>{{fighter_a.reach}}</p>
            </div>
          </div>
        </div>
        <div class="fight-result-label d-none"></div><!--fight win method show-->
      </div>
      <!-- <div class="matchup-info"> -->
      <!-- <div class="matchup-weightclass">
                <h4>
                </h4>
            </div> -->
      <div class="vs-wrapper">
        <h4>vs</h4>
      </div>
      <!-- </div> -->
      <div class="fighter-info m-1" data-fighter-id="{{fighter_b.id}}">
        <div class="fighter-info-wrapper">
        <img src={% if fighter_b.img_link %}{{ fighter_b.img_link }}{% else %}{% static 'fightEvaluator/media/sample_150.png' %}{% endif %} alt="">

        <div class="fighter-bio">
          <div class="name">
            <h5>
              <a href="/assessment/{{ fighter_b.id }}">{{ fighter_b.first_name }} {{ fighter_b.last_name }}</a>
            </h5>
          </div>
          <div class="age">
            <h6 class="age-label">age:&nbsp;</h6>
            <p class="age">{{ fighter_b.date_of_birth|toage }}</p>
          </div>
          <div class="record">
            <h6 class="record-label">record:&nbsp;</h6>
            <p class="record">{{ fighter_b.record }}</p>
          </div>
          <div class="height">
            <h6 class="height-label">height:&nbsp;</h6>
            <p>{{fighter_b.height|height_str}}</p>
          </div>
          <div class="reach">
            <h6 class="reach-label">reach:&nbsp;</h6>
            <p>{{fighter_b.reach}}</p>
          </div>
        </div>
        </div>
        <div class="fight-result-label d-none"></div>
      </div>
    </div>
    
  
  </div>

  <div class="prediction-result-container my-4">
    <div class="reveal-result-container">
      {% if result %}
        <p>Results Available!</p><button class="btn btn-secondary reveal-result-btn">Reveal</button>
      {% else %}
        <p>Results not available yet</p><button class="btn disabled btn-secondary reveal-result-btn">Reveal</button>
      {% endif %}
    </div>
    <div class="prediction-selector" data-outcome-prediction-id="0" data-prediction="NA">
      <div class="title-container d-flex justify-content-between">
      <h2>Prediction</h2>
      <button class="save-prediction-btn btn btn-primary disabled">save</button>
      </div>
      <!--bootstrap dropdown-->
      <div class="form-select-container">
        <form>
          <select class="form-select" name="prediction" id="" style="text-transform: capitalize;">
            <option value="NA" data-event-type="NA" data-fighter-id="0" selected >Choose Outcome</option>
            {% for event,fighter_id in standardEvents %}
              <option style="text-transform: capitalize;"  value="{{ event.name }}" 
              data-event-type="{{ event.name }}" 
              data-fighter-id="{{ fighter_id|default_if_none:0 }}">
                {% if fighter_id %}
                  {% if matchup.fighter_a.id == fighter_id %}
                    {{ fighter_a.last_name }} Wins
                  {% else %}
                    {{ fighter_b.last_name }} Wins
                  {% endif %}
                {% else %}  
                  {{ event.label }}
                {% endif %}
            </option>            
            {% endfor %}
          </select>
        </form>
        <div class="current-confidence d-flex align-items-center current-likelihood" data-likelihood="0">
          <p class="prediction-likelihood-text confidence my-0 w-100 likely-0" style="color:black;">Likelihood</p>
        </div>
      </div>
    </div>
  </div>

  <div class="analysis-check-container d-flex justify-content-center {% if matchup.analysisComplete %} checked {% endif %}">
    <input class="form-check-input" type="checkbox" value="{{ matchup.analysisComplete|default_if_none:"false"|lower }}" id="flexCheckDefault">
    <label class="form-check-label mx-2" for="flexCheckDefault">
      Analysis Complete
    </label>
  </div>

  <div class="outcomes-container my-4">
    <!--
      what are possible outcomes that are easy to predict for me?
      win-loss
      over 1.5 rounds
      fight doesn't go the distance
    -->

    <!--0 to 10 datalist-->

    <h2>Event Likelihood</h2>
    <div class="outcomes-wrapper events-wrapper row">
      {% for event,fighter_id in standardEvents %}
      <div class="outcome-card event-card col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
        <div class="outcome event" data-event-type="{{event.name}}" data-fighter-id="{% if fighter_id %}{{fighter_id}}{% else %}0{% endif %}" data-id="0" data-likelihood="3">
          <div class="wrapper">
            {% if fighter_id %}
              <h6>win</h6>
            {% else %}
              <h6> Yes </h6>
            {% endif %}
          </div>
          <button class="save-outcome-btn save-event-likelihood-btn btn btn-primary disabled">save</button>
          <p>
            {% if fighter_id %}
              {% if matchup.fighter_a.id == fighter_id %}
                {{ fighter_a.last_name }} Wins
              {% else %}
                {{ fighter_b.last_name }} Wins
              {% endif %}
            {% else %}
                {{ event.label }}
            {% endif %}
          </p>
          <div class="confidence-selector">
            <div class="current-confidence d-flex align-items-center" data-likelihood="3">
              <p class="confidence my-0 w-100 likely-3" style="color:black;">Neutral</p>
              <button class="btn show-confidence-list-btn w-0">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                  <path fill="white" d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
                </svg>
              </button>
            </div>
            <ul class="confidence-list">                
              <li data-likelihood="1">
                <div class="likelihood likely-1">very likely</div>
              </li>
              <li data-likelihood="2">
                <div class="likelihood likely-2">somewhat likely</div>
              </li>
              <li class="active" data-likelihood="3">
                <div class="likelihood likely-3">neutral</div>
              </li>
              <li data-likelihood="4">
                <div class="likelihood likely-4">somewhat unlikely</div>
              </li>
              <li data-likelihood="5">
                <div class="likelihood likely-5">very unlikely</div>
              </li>
            </ul>
          </div>
          <div class="justification">
            <div class="title-wrapper">            
              <h5>Justification</h5>
              <button class="btn show-justification-btn w-0">
              </button>
            </div>
            <!--a list of notes referencing attributes and fights,mentality,history...-->
            <div class="justification-container">
              <div class="editor-wrapper">
                <div class="editor"  contenteditable="plaintext-only">Justification Statements and Conclusions</div>  
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


  <div class="content-grid">

    <div class="attrib-compare-table">
      {% for attribName,value_a,value_b in attribComparison %}
      <div class="attrib-row" data-name="{{ attribName }}">
        <h3>{{ attribName|rmscores }}</h3>
        <div class="attrib-col attrib-left" data-polarity="{{ value_a }}">
          <div class="state-container">
            <h5>
              {{ value_a }}
            </h5>
          </div>
          <div class="attrib-description-container">
            <p></p>
          </div>
        </div>
        <div class="attrib-col attrib-right" data-polarity="{{ value_b }}">
          <div class="state-container">
            <h5>
              {{ value_b }}
            </h5>
          </div>
          <div class="attrib-description-container">
            <p></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="notes-section notes-left">
      <h3 class="fighter-name">{{ fighter_a.first_name }} {{ fighter_a.last_name }} - Notes</h3>
      <!-- text container of notes  -->
      <div class="notes-container">
        <ul class="notes">
          {% for note in fighter_a_notes %}
          <li class="note"  data-tag="{{ note.get_tag_display }}">
            <p>{{ note.data }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="notes-section notes-right">
      <h3 class="fighter-name">{{ fighter_b.first_name }} {{ fighter_b.last_name }} - Notes</h3>
      <!-- text container of notes  -->
      <div class="notes-container">
        <ul class="notes">
          <!-- <li class="note">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              voluptatum, quibusdam, quia, quod voluptate voluptatem
              exercitationem quas voluptatibus quos doloribus quae. Quisquam
              voluptatum, quibusdam, quia, quod voluptate voluptatem
              exercitationem quas voluptatibus quos doloribus quae.
            </p>
          </li> -->
          {% for note in fighter_b_notes %}
          <li class="note" data-tag="{{ note.get_tag_display }}">
            <p>
              {{ note.data }}
            </p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  
  let checkbox = document.querySelector('.analysis-check-container input');
  if (checkbox.value == 'true'){
    checkbox.checked = true;
  }
  document.querySelector('.analysis-check-container input').addEventListener('change',(event)=>{
    //send to server analysis complete for this matchup
    let checkbox = event.currentTarget;
    let checkboxContainer = checkbox.parentElement;
    
    //propagate the state 
    fetch(`/matchup/${matchupId}/analysis-complete`, {
        method: "PATCH",
        headers: {
          accept: "application/json",
          "Content-Type": "application/json",
          "X-CSRFToken": Cookies.get("csrftoken"),
        },
        body: JSON.stringify({complete:checkbox.checked}),
    }).then((response) => response.json())
      .then((data)=>{
        // console.log(data);
        if (data.analysisComplete){
          checkboxContainer.classList.add('checked');
        }else{
          checkboxContainer.classList.remove('checked');
        }    
      });
  });
</script>
<script>
  
  const matchupId = {{ matchup.id }};
  const eventLikelihoodMap = {};
  const prediction = {
    'eventType': 'NA',
    'fighterId' : 0,
  }

  {% if prediction %}
    prediction['eventType'] = `{{ prediction.prediction.eventType }}`;
    {% if prediction.prediction.fighter %}
      prediction['fighterId'] = {{ prediction.prediction.fighter.id }};
    {% endif %}
  {% endif %}

  {% for eventLikelihood in eventLikelihoods %}
    {% if eventLikelihood.fighter %}
        eventLikelihoodMap[`{{eventLikelihood.eventType}}`] = {}
    {% else %}
      eventLikelihoodMap[`{{eventLikelihood.eventType}}`] = {
        justification:`{{eventLikelihood.justification|default:'Justification Statements and Conclusions'|safe}}`,
        likelihood:{{eventLikelihood.likelihood}},
        likelihood_display:`{{ eventLikelihood.get_likelihood_display|safe }}`,
        id : {{eventLikelihood.id}}
      };
    {% endif %}
  {% endfor %}
  {% for el in eventLikelihoods %}
      {% if el.fighter %}
        eventLikelihoodMap[`{{el.eventType}}`][`{{el.fighter.id}}`] = {
          justification:`{{el.justification|default:'Justification Statements and Conclusions'|safe}}`,
          likelihood:{{el.likelihood}},
          likelihood_display:`{{ el.get_likelihood_display|safe }}`,
          id : {{el.id}}
        };
      {% endif %}
  {% endfor %}

  //need to write result to javascript object
  {% if result %}
    const result = {{ result|safe }};
  {% else %}
    const result = {};
  {% endif %}

  result['total_rounds'] = {{ matchup.rounds }};
//for every attrib row write the correct description based on data-polarity
const attribRows = document.querySelectorAll('.attrib-row');
attribRows.forEach((row) => {
  const attribName = row.dataset.name;
  //for every attrib-col
  row.querySelectorAll('.attrib-col').forEach((column) => {
    column.dataset.polarity = attribValueLabelMap[column.dataset.polarity];
    let attribValue = column.dataset.polarity;
    let h5 = column.querySelector('h5');
    h5.textContent = attribInfoMap[attribName][attribValue].state;
    const attribDescription = attribInfoMap[attribName][attribValue].description;
    column.querySelector('.attrib-description-container p').textContent = attribDescription;
  });
});
//reorder attrib-cards to match attribCardOrder
let attribList = document.querySelector('.attrib-compare-table');
attribCardOrder.forEach((attribName) => {
  let attribRow = document.querySelector(`[data-name="${attribName}"]`);
  attribList.appendChild(attribRow);
});
</script>

<script src="{% static 'fightEvaluator/js/result.js' %}"></script>
<script src="{% static 'fightEvaluator/js/outcomes.js' %}"></script>

{% endblock %}

