{% extends "fightEvaluator/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Fight Evaluator {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static  'fightEvaluator/styles/index.css' %}" />
<link rel="stylesheet" href="{% static 'fightEvaluator/styles/matchup_tables.css' %}">
<link rel="stylesheet" href="{% static 'fightEvaluator/styles/matchup-editor.css' %}">
{% endblock %}

{% block content %}
  {% include 'fightEvaluator/navbar.html' %}
  <!--container-->
  
  <div class="container-fluid main-container" style="position: relative;">
    <!-- Modal -->
     <button class="show-button btn btn-primary" onclick="onToggleMatchupModal(false)">show</button>
   
    <div class="matchup-receiver"></div>    

    <div class="matchup-editor" data-event-id="87">
      <h1 class="modal-title title fs-4">MatchUp Editor</h1>
      <form>
          <div class="search-box2">
            <div class="input-group">  
              <label class="input-group-text" for="fighter-a-input">Fighter A</label>
              
              <div class="input-wrapper">
                <input class="form-control rounded-0" data-fighter-id="-1" type="text" value="" name="fighter-a" id="fighter-a-input" placeholder="Enter fighter name..."> 
                <ul class="suggestion-box list-group"></ul>
              </div>
              
              <button class="btn btn-outline-danger clear-btn" type="button" id="button-addon2">Clear</button>
            </div>
            
          </div>
          
          <div class="searchbox-seperator my-2">
            <p>versus</p>
          </div>
          
          <div class="search-box2">
            <div class="input-group">  
              
              <label class="input-group-text" for="fighter-b-input">Fighter B</label>
              <div class="input-wrapper">
                <input class="form-control rounded-0" data-fighter-id="-1" type="text" value="" name="fighter-b" id="fighter-b-input" placeholder="Enter fighter name..."> 
                <ul class="suggestion-box list-group"></ul>
              </div>
              
              <button class="btn btn-outline-danger clear-btn" type="button" id="button-addon2">Clear</button>
            </div>
          </div>

          <!--weight class-->
          <div class="weightclass-selector my-4">
            <div class="weightclass input-group mb-3">
              <label class="input-group-text" for="weight-class-select">Weightclass</label>
              <select class="form-select" id="weight-class-select" name="weight_class">
                  <option selected value="">Choose a weight class...</option>
                  <option value="strawweight">Strawweight</option>
                  <option value="flyweight">Flyweight</option>
                  <option value="bantamweight">Bantamweight</option>
                  <option value="featherweight">Featherweight</option>
                  <option value="lightweight">Lightweight</option>
                  <option value="welterweight">Welterweight</option>
                  <option value="middleweight">Middleweight</option>
                  <option value="light_heavyweight">Light Heavyweight</option>
                  <option value="heavyweight">Heavyweight</option>
              </select>
            </div>
          </div>

          <div class="rounds-isprelim-wrapper">
            <!--rounds-->
            <div class="rounds-radio-group border rounded-2 p-1 px-3">
              <p class="radio-group-title">Rounds</p>
              <div class="form-check mx-3">
                <input class="form-check-input" type="radio" name="rounds" value="3" id="rounds-radio-3" checked>
                <label class="form-check-label" for="rounds-radio-3">
                  3
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rounds" value="5" id="rounds-radio-5" >
                <label class="form-check-label" for="rounds-radio-5">
                  5
                </label>
              </div>
            </div>
            <!--prelim status-->
            <div class="isprelim-checkbox border rounded-2 p-1 px-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" name="isprelim" id="isprelim-checkbox" checked>
                <label class="form-check-label" for="isprelim-checkbox">
                  on prelims
                </label>
              </div>
            </div>
          </div>
      </form>
      <div class="editor-actions mt-3">
          <button type="button" class="btn btn-secondary mx-2">Close</button>
          <button type="button" class="btn btn-primary" onclick="matchupEditor.createMatchUp()">Save changes</button>
      </div>
    </div>
  </div>

{% endblock %}



{% block scripts %}
 <script defer src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
 
 <script src="{% static 'fightEvaluator/js/server.js' %}"></script>
 {% if event is None %}
  <script>
    
    console.log('index poller included!');
    const timeDelay = 3000;
    const headers = {
        accept: "application/json",
        "Content-Type": "application/json",
        "X-CSRFToken": Cookies.get("csrftoken"),
    }
  </script>
{% endif %}
{% include "fightEvaluator/matchup-data-script.html" %}

<script>

    class FighterSearchBox{
  
      constructor(searchBox){
        this.searchBox = searchBox;
        this.input = searchBox.querySelector('input');//the input element of the searchbox
        this.suggestionList = searchBox.querySelector('ul');//the suggestion list
        this.searchBox.addEventListener("keyup", this.onKeyUp.bind(this));
        this.searchBox.querySelector('.clear-btn').addEventListener('click',this.clearSearchBox.bind(this));
      }

      async onKeyUp() {
        let input = this.searchBox.querySelector("input");
        let search = this.input.value;
        search = search.split(" ").join("+");
        //non-empty search string
        if (search.length > 0) {
          server.search_fighters(this.onFighterSearchResult.bind(this),search);
        } 
        else {
          this.suggestionList.innerHTML = "";//empty the list
        }
      }

      onFighterSearchResult(data){
        let fighters = data['fighters'];
        this.suggestionList.innerHTML = "";//list must always be emptied before populating with new values
        for (const fighter of fighters){
          let item = FighterSearchBox.createSuggestionListElement(fighter);
          item.addEventListener("click",this.onSuggestionListItemClick.bind(this,item));
          this.suggestionList.appendChild(item);
        }
      }

      onSuggestionListItemClick(suggestion,event){
        //populate input with this value
        this.input.dataset.fighterId = suggestion.dataset.fighterId;
        this.input.value = suggestion.dataset.fighterName;//fighter name string
        //list needs to be empty now
        this.suggestionList.innerHTML = "";
        this.input.toggleAttribute('disabled',true);//
      }

      clearSearchBox(){
        //clear suggestion
        this.input.dataset.fighterId =-1;
        this.input.value = "";
        this.input.toggleAttribute('disabled',false);
        //
        this.suggestionList.innerHTML="";
      }

      get fighterId(){
        return this.input.dataset.fighterId;
      }

      static createSuggestionListElement(fighter){
        return $(`
          <li class="list-group-item list-group-item-action" data-fighter-id="${fighter.id}" data-fighter-name="${fighter.first_name} ${fighter.last_name}">
            <div class="suggestion">
              <p class="name">${fighter.first_name} ${fighter.last_name}</p>
            </div>
          </li>`)[0];
      }
    }
    
    class MatchUpEditor{
      
      static EVENTS = {
        CREATE_MATCHUP : 'CREATE_MATCHUP',
        SAVE_CHANGED_MATCHUP:'SAVE_CHANGED_MATCHUP',
      }

      constructor(edtior,server){
        this.editor = editor;//html element that contains all inputs
        this.eventId = this.editor.dataset.eventId;
        this.server = server;
        
        const [searchBoxElem0,searchBoxElem1] = editor.querySelectorAll(".search-box2");
        
        //search box controllers
        this.searchBoxA = new FighterSearchBox(searchBoxElem0);
        this.searchBoxB = new FighterSearchBox(searchBoxElem1);
        this.weightClassSelector = editor.querySelector(".weightclass-selector select");
        
        this.listeners = {}
        //list of elements listening for changes
        for (const eventName in MatchUpEditor.EVENTS){
          this.listeners[eventName] = [];
        }
      }

      async createMatchUp(){
        //fighter ids from searchbox2
        let fighterA = this.searchBoxA.fighterId;
        let fighterB = this.searchBoxB.fighterId;
        
        console.log(fighterA,fighterB);
        if (fighterA == -1 || fighterB == -1){
          alert('Please select 2 fighters');
          return;//nothing happens need to select 2 fighters
        }

        let formData = new FormData(this.editor.querySelector('form'));
        if (formData.get('weight_class') == ""){
          alert('Please select weight class.');
          return;//need weight_class
        }
        //no is prelim key means main card
        formData.set('isprelim',formData.has('isprelim'));
        formData.set('fighter_a_id',fighterA);
        formData.set('fighter_b_id',fighterB);
        formData.set('event_id',this.eventId);
        const requestData = {};
        for (const key of formData.keys()){
          // console.log(key,formData.get(key));
          requestData[key] = formData.get(key);
        }

        console.log(requestData);
        this.server.create_matchup(requestData,this.onMatchUpCreated.bind(this));
      }

      onMatchUpCreated(data){
        this.dispatchEventsOnListeners(MatchUpEditor.EVENTS.CREATE_MATCHUP,data);
      }

      dispatchEventsOnListeners(eventName,data){
        const event = new CustomEvent(eventName,{detail:{data : data}});
        for (const listener of this.listeners[eventName]){
          listener.dispatchEvent(event);
        }
      }

      saveMatchUpChanges(){
        this.dispatchEventsOnListeners(MatchUpEditor.EVENTS.SAVE_CHANGED_MATCHUP);
        //grab changed input values
        //send to server 
        //process result
      }

      onMatchUpChangesSaved(){

      }

      clearEditor(){
        //clear searchbox's
        this.searchBoxA.clearSearchBox();
        this.searchBoxB.clearSearchBox();
        //change weightclass to nothing
        this.weightClassSelector.value="";
      }

      registerListener(element,eventName,callback){
        if (eventName in MatchUpEditor.EVENTS){
          element.addEventListener(MatchUpEditor.EVENTS[eventName],callback);
          this.listeners[eventName].push(element);
        }
      }
      
    }


    const fightEventIdWrapper = [0];

    {% if event %}
      fightEventIdWrapper[0] = {{  event.id }};
    {% endif %}
    const postHeaders = {
      accept: "application/json",
      "Content-Type": "application/json",
      "X-CSRFToken": Cookies.get('csrftoken'),
    };
    const server = new Server(postHeaders);

    const editor = document.querySelector(".matchup-editor");
    const matchupEditor = new MatchUpEditor(editor,server);    
    // const editModal = new bootstrap.Modal(document.querySelector('#matchupModal'));
    //show and dismiss edit modal
       /*
    
      matchup editor
        create matchup
          take 2 names
          weight class 1 of n options
          rounds 3/5
          isprelim t/f
          
          how to?
          grab values from ui
            send to server
              success -> reflect in ui
              failure -> give error message

        edit matchup 
          change a name
          change weight class
          change rounds
          change prelim status
          
          grab values that have changed from ui
            send to server
              success -> reflect in ui
              failure -> do nothing/give error message


              matchup editor -> new_matchup -> matchup table
    */
    
    function updateMatchUp(event){
      let matchupId = activeMatchup.dataset.matchupId;//document.querySelector("#matchupModal").dataset.matchupId;
      //grab fighter-id from fighter-a and fighter-b
      let fighterAId = document.querySelector(".fighter-a").dataset.selectedId;
      let fighterBId = document.querySelector(".fighter-b").dataset.selectedId;
      let weightClass = document.querySelector(".weight-class .dropdown-toggle").textContent;
      let rounds = document.querySelector("input[name='rounds']:checked").value;
      let isprelim = document.querySelector("#isprelim").checked;
      //make sure both fighter id's are not -1
      if (fighterAId == -1 || fighterBId == -1) {
        alert("Please select two fighters");
        return;
      }
      //also make sure some dropdown is selected
      if (weightClass == "Weight Class") {
        alert("Please select a weight class");
        return;
      }
      // console.log(fighterAId, fighterBId, weightClass,rounds);
      // return;

      //send post request to /create-matchup
      fetch(`/matchup/update-matchup/${matchupId}`, {
        method: "PATCH",
        body: JSON.stringify({
          matchupId: matchupId,
          fighter_a_id: fighterAId,
          fighter_b_id: fighterBId,
          weight_class: weightClass,
          rounds: rounds,
          isprelim: isprelim,
        }),
        headers: postHeaders,
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          location.reload();//reload page
        });
    }
    function clearMatchupDialog(){
      //clear form data from matchupModal
      let matchupModal = document.querySelector("#matchupModal");
      let searchBoxA = matchupModal.querySelector(".fighter-a .search-box input");
      let searchBoxB = matchupModal.querySelector(".fighter-b .search-box input");
      
      searchBoxA.value = "";
      searchBoxB.value = "";

      searchBoxA.removeAttribute("disabled");
      searchBoxB.removeAttribute("disabled");

      matchupModal.querySelector(".fighter-a").dataset.selectedId = -1;
      matchupModal.querySelector(".fighter-b").dataset.selectedId = -1;

      matchupModal.querySelector(".weight-class .dropdown-toggle").textContent = "Weight Class";
      matchupModal.querySelector("#roundOption-3").checked = true;
      matchupModal.querySelector("#isprelim").checked = false;

      //hide update button
      matchupModal.querySelector(".create-matchup-btn").classList.remove("d-none");
      matchupModal.querySelector(".update-matchup-btn").classList.add("d-none");
    }
   
 
    // onToggleMatchupModal(false);
    let matchupReceiver = document.querySelector(".matchup-receiver");
    matchupEditor.registerListener(matchupReceiver,MatchUpEditor.EVENTS.CREATE_MATCHUP,(event)=>{
      let element = event.currentTarget;
      element.textContent = JSON.stringify(event.detail.data);
    });

</script>



{% endblock %} 
  
 
