{% extends "fightEvaluator/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Fight Evaluator {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static  'fightEvaluator/styles/index.css' %}" />
<link rel="stylesheet" href="{% static 'fightEvaluator/styles/matchup_tables.css' %}">
{% endblock %}

{% block content %}
  {% include 'fightEvaluator/navbar.html' %}
  <!--container-->
  
  <div class="container-fluid main-container" style="position: relative;">
    <!-- Modal -->
     <button class="show-button btn btn-primary" onclick="onToggleMatchupModal(false)">show</button>
   
     
    <div class="fighter-selector">
      <div class="current-matchup p-2 border rounded">
        <h5>Current Matchup</h5>
        <form>
        <div class="fighter fighter-a d-flex align-items-center" data-selected-id="-1">
          <img class="fighter-img" src="{% static 'fightEvaluator/media/sample_50.png' %}" alt="" />
          <!-- <h6 class="fighter-name mx-1 d-none">Fighter a</h6> -->
          <!--bootstrap close button-->
          <div class="search-container mx-1">
            <!--text search box-->
            <div class="search-box" data-target="#searchbox-a">
              <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Search fighter name..." aria-label="Search fighter name..." aria-describedby="clearSearchBtnA">
                <button class="btn btn-outline-danger" type="button" id="clearSearchBtnA" onclick="clearFighterSelection('fighter-a')" >clear</button>
              </div>
            </div>
            <!--search box suggestion drop down-->
            <div class="search-suggestion" id="searchbox-a">
              <ul class="list-group"></ul>
            </div>
          </div>
        </div>
        <div class="my-1">
          <p class="m-0 text-center">versus</p>
        </div>
        
          <div class="matchup-info-wrapper">
          <div class="weight-class mb-3">
            <label class="input-group-text" for="weight-class-select">Options</label>
            <select class="form-select" id="weight-class-select" name="weight_class">
                <option selected disabled>Choose a weight class...</option>
                <option value="strawweight">Strawweight</option>
                <option value="flyweight">Flyweight</option>
                <option value="bantamweight">Bantamweight</option>
                <option value="featherweight">Featherweight</option>
                <option value="lightweight">Lightweight</option>
                <option value="welterweight">Welterweight</option>
                <option value="middleweight">Middleweight</option>
                <option value="light_heavyweight">Light Heavyweight</option>
                <option value="heavyweight">Heavyweight</option>
            </select>
          </div>
            <div class="rounds-wrapper">
              <p class="m-0">Rounds</p>
              <!--2 radio buttons for 3 or 5 rounds-->
              <div class="form-check mx-2">
                <input class="form-check-input" type="radio" name="rounds" id="roundOption-3" value="3" checked>
                <label class="form-check-label" for="rounds">
                  3
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rounds" id="roundOption-5" value="5">
                <label class="form-check-label" for="rounds">
                  5
                </label>
              </div>
            </div>
            <div class="prelims-wrapper">
              <!--bootstrap5 checkbox-->
              <div class="form-check">
                <!--CHECKBOXES DON'T SHOW UP IN FORMDATA OBJECTS IF UNCHECKED-->
                <input class="form-check-input" type="checkbox" value="" name="isprelim" id="isprelim">
                <label class="form-check-label" for="isprelim">
                  On Prelims
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    

    <div class="matchup-editor">
      <form>
          <div class="search-box2">
            <div class="input-group">  
              <input class="form-control" type="text" value="" name="fighter-a" placeholder="Enter fighter name..."> 
              <button class="btn btn-outline-danger clear-btn" type="button" id="button-addon2">Clear</button>
            </div>
            <ul class="suggestion-box list-group">
            </ul>
          </div>

          <div class="search-box2">
            <div class="input-group">  
              <input class="form-control" type="text" value="" name="fighter-b" placeholder="Enter fighter name..."> 
              <button class="btn btn-outline-secondary clear-btn" type="button" id="button-addon2">Clear</button>
            </div>
            <ul class="suggestion-box list-group">
            </ul>
          </div>

          <!--weight class-->
          <div class="weight-class-selector">
            <div class="weight-class mb-3">
              <label class="input-group-text" for="weight-class-select">Weightclass</label>
              <select class="form-select" id="weight-class-select" name="weight_class">
                  <option selected disabled>Choose a weight class...</option>
                  <option value="strawweight">Strawweight</option>
                  <option value="flyweight">Flyweight</option>
                  <option value="bantamweight">Bantamweight</option>
                  <option value="featherweight">Featherweight</option>
                  <option value="lightweight">Lightweight</option>
                  <option value="welterweight">Welterweight</option>
                  <option value="middleweight">Middleweight</option>
                  <option value="light_heavyweight">Light Heavyweight</option>
                  <option value="heavyweight">Heavyweight</option>
              </select>
            </div>
          </div>
          <!--rounds-->
          <div class="rounds-radio-group"></div>
          <!--prelim status-->
          <div class="isprelim-checkbox">

          </div>
      </form>
    </div>
    

  </div>

{% endblock %}



{% block scripts %}
 <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
 
 <script src="{% static 'fightEvaluator/js/server.js' %}"></script>
 {% if event is None %}
  <script>
    
    console.log('index poller included!');
    const timeDelay = 3000;
    const headers = {
        accept: "application/json",
        "Content-Type": "application/json",
        "X-CSRFToken": Cookies.get("csrftoken"),
    }
  </script>
{% endif %}
{% include "fightEvaluator/matchup-data-script.html" %}

<script>

    class FighterSearchBox{
  
      constructor(searchBox){
        this.searchBox = searchBox;
        this.input = searchBox.querySelector('input');//the input element of the searchbox
        this.suggestionList = searchBox.querySelector('ul');//the suggestion list
        this.searchBox.addEventListener("keyup", this.onKeyUp.bind(this));
        this.searchBox.querySelector('.clear-btn').addEventListener('click',this.onClickClearSearchBox.bind(this));
      }

      async onKeyUp() {
        let input = this.searchBox.querySelector("input");
        let search = this.input.value;
        search = search.split(" ").join("+");
        //non-empty search string
        if (search.length > 0) {
          server.search_fighters(this.onFighterSearchResult.bind(this),search);
        } 
        else {
          this.suggestionList.innerHTML = "";//empty the list
        }
      }

      onFighterSearchResult(data){
        let fighters = data['fighters'];
        this.suggestionList.innerHTML = "";//list must always be emptied before populating with new values
        for (const fighter of fighters){
          let item = FighterSearchBox.createSuggestionListElement(fighter);
          item.addEventListener("click",this.onSuggestionListItemClick.bind(this,item));
          this.suggestionList.appendChild(item);
        }
      }

      onSuggestionListItemClick(suggestion,event){
        //populate input with this value
        this.input.dataset.fighterId = suggestion.dataset.fighterId;
        this.input.value = suggestion.dataset.fighterName;//fighter name string
        //list needs to be empty now
        this.suggestionList.innerHTML = "";
        this.input.toggleAttribute('disabled',true);//
      }

      onClickClearSearchBox(){
        //clear suggestion
        this.input.dataset.fighterId =-1;
        this.input.value = "";
        this.input.toggleAttribute('disabled',false);
        //
        this.suggestionList.innerHTML="";
      }

      static createSuggestionListElement(fighter){
        return $(`
          <li class="list-group-item list-group-item-action" data-fighter-id="${fighter.id}" data-fighter-name="${fighter.first_name} ${fighter.last_name}">
            <div class="suggestion">
              <p class="name">${fighter.first_name} ${fighter.last_name}</p>
            </div>
          </li>`)[0];
      }
    }


    const [searchBox0,searchBox1] = document.querySelectorAll(".search-box2");
    
    const fsb0 = new FighterSearchBox(searchBox0);
    const fsb1 = new FighterSearchBox(searchBox1);

    const fightEventIdWrapper = [0];

    {% if event %}
      fightEventIdWrapper[0] = {{  event.id }};
    {% endif %}
    const postHeaders = {
      accept: "application/json",
      "Content-Type": "application/json",
      "X-CSRFToken": Cookies.get('csrftoken'),
    };
    const server = new Server(postHeaders);
    
    // const editModal = new bootstrap.Modal(document.querySelector('#matchupModal'));
    //show and dismiss edit modal
       /*
    
      matchup editor
        create matchup
          take 2 names
          weight class 1 of n options
          rounds 3/5
          isprelim t/f
          
          how to?
          grab values from ui
            send to server
              success -> reflect in ui
              failure -> give error message

        edit matchup 
          change a name
          change weight class
          change rounds
          change prelim status
          
          grab values that have changed from ui
            send to server
              success -> reflect in ui
              failure -> do nothing/give error message


              matchup editor -> new_matchup -> matchup table
    */
    function showFormData(){
      let form = document.querySelector("form");
      let fd = new FormData(form);
      let keys = Array.from(fd.keys());
      console.log(keys);
      
      if (!("isprelim" in keys)){
        fd.set("isprelim",false);
      }else{
        fd.set("isprelim",true);
      }
      
      for (const key of fd.keys()){
        console.log(key,fd.get(key));
      }
    }
    class MatchUpEditor{
      
      static EVENTS = {
        CREATE_MATCHUP : 'matchup_created',
        SAVE_CHANGED_MATCHUP:'matchup_changed',
      }

      constructor(edtior){
        this.editor = editor;//html element that contains all inputs
        this.listeners = {}
        //list of elements listening for changes
        for (const event of MatchUpEditor.EVENTS){
          this.listeners[event] = [];
        }
      }

      createMatchUp(){
        //fighter query returns
        //fighter-name <--doesn't matter
        //fighter-id <--matters 
        //matchup need 2 fighter ids 
        
      }

      onMatchUpCreated(data){
        dispatchEventsOnListeners(MatchUpEditor.EVENTS.CREATE_MATCHUP);
      }

      dispatchEventsOnListeners(eventName){
        const event = new Event(eventName);
        for (const listener of listeners[eventName]){
          listener.dispatchEvent(event);
        }
      }

      saveMatchUpChanges(){
        dispatchEventsOnListeners(MatchUpEditor.EVENTS.SAVE_CHANGED_MATCHUP);
        //grab changed input values
        //send to server 
        //process result
      }

      onMatchUpChangesSaved(){

      }

      registerListener(element,eventName,callback){
        if (eventName in MatchUpEditor.EVENTS){
          element.addEventListener(MatchUpEditor.EVENTS[eventName],callback);
          this.listeners[eventName].push(element);
        }
      }
      
    }

    function createMatchUp(event) {
      //grab fighter-id from fighter-a and fighter-b
      let fighterAId = document.querySelector(".fighter-a").dataset.selectedId;
      let fighterBId = document.querySelector(".fighter-b").dataset.selectedId;
      let weightClass = document.querySelector(".weight-class .dropdown-toggle")
                        .textContent
                        .replace(" ","_");
      let rounds = document.querySelector("input[name='rounds']:checked").value;
      let isprelim = document.querySelector("#isprelim").checked;
      //make sure both fighter id's are not -1
      if (fighterAId == -1 || fighterBId == -1) {
        alert("Please select two fighters");
        return;
      }
      //also make sure some dropdown is selected
      if (weightClass == "Weight Class") {
        alert("Please select a weight class");
        return;
      }
      console.log(fighterAId, fighterBId, weightClass,rounds);
      //replace the space to an underscore
      //send post request to /create-matchup
      fetch("/matchup/create-matchup", {
        method: "POST",
        body: JSON.stringify({
          fighter_a_id: fighterAId,
          fighter_b_id: fighterBId,
          weight_class: weightClass,
          rounds: rounds,
          event_id: fightEventId,
          isprelim: isprelim,
        }),
        headers: postHeaders,
      })
        .then((response) => response.json())
        .then((data) => {
          
          /*
          
              "id": 299,
              "fighter_a": 1,
              "fighter_b": 1,
              "weight_class": "bantamweight",
              "rounds": 3,
              "scheduled": null,
              "event": 36,
              "isprelim": false
          
          */
          console.log('Created Matchup...',data);
          //update matchup table
          //update on server
          if (data.inWatchList == null){
            data.inWatchList = false;
          }
          let matchup = data;
          //reflect change in matchup table
          let matchupTable = mainCardTable;
          if (matchup.isprelim){
            matchupTable = prelimTable;
          }
          matchupMap[matchup.id] = matchup;
          matchupTable.addMatchup(matchupMap[data.id]);
          bootstrap.Modal.getInstance(document.querySelector('#matchupModal')).hide();
        });
    }
    
    function updateMatchUp(event){
      let matchupId = activeMatchup.dataset.matchupId;//document.querySelector("#matchupModal").dataset.matchupId;
      //grab fighter-id from fighter-a and fighter-b
      let fighterAId = document.querySelector(".fighter-a").dataset.selectedId;
      let fighterBId = document.querySelector(".fighter-b").dataset.selectedId;
      let weightClass = document.querySelector(".weight-class .dropdown-toggle").textContent;
      let rounds = document.querySelector("input[name='rounds']:checked").value;
      let isprelim = document.querySelector("#isprelim").checked;
      //make sure both fighter id's are not -1
      if (fighterAId == -1 || fighterBId == -1) {
        alert("Please select two fighters");
        return;
      }
      //also make sure some dropdown is selected
      if (weightClass == "Weight Class") {
        alert("Please select a weight class");
        return;
      }
      // console.log(fighterAId, fighterBId, weightClass,rounds);
      // return;

      //send post request to /create-matchup
      fetch(`/matchup/update-matchup/${matchupId}`, {
        method: "PATCH",
        body: JSON.stringify({
          matchupId: matchupId,
          fighter_a_id: fighterAId,
          fighter_b_id: fighterBId,
          weight_class: weightClass,
          rounds: rounds,
          isprelim: isprelim,
        }),
        headers: postHeaders,
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          location.reload();//reload page
        });
    }
    function clearMatchupDialog(){
      //clear form data from matchupModal
      let matchupModal = document.querySelector("#matchupModal");
      let searchBoxA = matchupModal.querySelector(".fighter-a .search-box input");
      let searchBoxB = matchupModal.querySelector(".fighter-b .search-box input");
      
      searchBoxA.value = "";
      searchBoxB.value = "";

      searchBoxA.removeAttribute("disabled");
      searchBoxB.removeAttribute("disabled");

      matchupModal.querySelector(".fighter-a").dataset.selectedId = -1;
      matchupModal.querySelector(".fighter-b").dataset.selectedId = -1;

      matchupModal.querySelector(".weight-class .dropdown-toggle").textContent = "Weight Class";
      matchupModal.querySelector("#roundOption-3").checked = true;
      matchupModal.querySelector("#isprelim").checked = false;

      //hide update button
      matchupModal.querySelector(".create-matchup-btn").classList.remove("d-none");
      matchupModal.querySelector(".update-matchup-btn").classList.add("d-none");
    }
    function onClickSuggestion() {
      //enter this data into the search box
      this.searchBoxInput.value = this.fighter.first_name + " " + this.fighter.last_name;
      this.searchBoxInput.dataset.fighterId = this.fighter.id;
      //close and clear the search suggestion box
      this.searchSuggestionList.innerHTML = "";
      //set the first one to the new fighter
      // this.fighterElement.querySelector(".fighter-img").src = this.fighter.image_url;
      // this.fighterElement.querySelector(".fighter-name").textContent = this.fighter.first_name + " " + this.fighter.last_name;
      // this.fighterElement.querySelector(".fighter-name").classList.remove("d-none");
      this.fighterElement.dataset.selectedId = this.fighter.id;
      // this.searchBoxInput.setAttribute("readonly", true); 
      this.searchBoxInput.setAttribute("disabled",true);
      // this.fighterElement.querySelector(".search-container").classList.add("d-none");
    }
    function clearFighterSelection(fighter){
      let fighterElement = document.querySelector(`.${fighter}`);
      let searchBoxInput = fighterElement.querySelector(".search-box input");
      fighterElement.dataset.selectedId = -1;
      // fighterElement.querySelector(".fighter-img").src = "static/media/sample_50.png";
      fighterElement.querySelector(".search-container").classList.remove("d-none");
      searchBoxInput.value = "";
      searchBoxInput.dataset.fighterId = -1;
      searchBoxInput.removeAttribute("disabled");
    }
       //search box functionality
    document.querySelectorAll(".fighter-selector .fighter").forEach((fighterElement) => {
      let searchBox = fighterElement.querySelector(".search-box");
      searchBox.addEventListener("keyup", async (event) => {
        let input = searchBox.querySelector("input");
        let search = input.value;
        search = search.split(" ").join("+");
        let searchSuggestion = document.querySelector(`${searchBox.dataset.target} ul`);
        
        if (search.length > 0) {
          server.search_fighters(
          onFighterSearchResult.bind(
            this,fighterElement,searchSuggestion,input),
            search
          );
        } 
        else {
          searchSuggestion.innerHTML = "";
        }
      });
    });


    function onFighterSearchResult(fighterElement,searchSuggestion,input,data){
      console.log('calling callback!!',searchSuggestion);
      
      let fighters = data['fighters'];
      searchSuggestion.innerHTML = "";
      fighters.forEach((fighter) => {
        console.log(fighter);
        let li = document.createElement("li");
        li.classList.add("list-group-item");
        li.innerHTML = `
            <div class="suggestion">
                <p class="name">${fighter.first_name} ${fighter.last_name}, id:${fighter.id}</p>
            </div>`;
        searchSuggestion.appendChild(li);
        li.addEventListener('click', onClickSuggestion.bind({
          fighter: fighter,
          fighterElement: fighterElement,
          searchBoxInput: input,
          searchSuggestionList: searchSuggestion
        }));
      });
    }

    //on click weightclass dropdown item set the dropdown button text to the item clicked
    document.querySelectorAll(".weight-class .dropdown-item").forEach((dropDownItem) => {
      dropDownItem.addEventListener('click', (event) => {
        let weightClassButton = document.querySelector(".weight-class .dropdown-toggle");
        weightClassButton.textContent = event.target.textContent;
      });
    });

    // onToggleMatchupModal(false);

</script>



{% endblock %} 
  
 
