<nav>
  <a href="/">
    <div class="home-link btn">
      <p class="m-0">home</p>
    </div>
  </a>
  <a href="/events">
    <div class="events-link btn">
      <p class="m-0">events</p>
    </div>
  </a>
  <a href="/predictions">
    <div class="events-link btn">
      <p class="m-0">predictions</p>
    </div>
  </a>
  
  <a href="/profit">
    <div class="events-link btn">
      <p class="m-0">profit</p>
    </div>
  </a>
</nav>
<script>
  //
  let currentPath = window.location.pathname;
  //remove right parentheses
  if (currentPath[currentPath.length - 1] == '/' && currentPath.length > 1){
    currentPath = currentPath.substring(0,currentPath.length - 1);
  }
  console.log(currentPath);
  
  let currentLink = document.querySelector(`[href="${currentPath}"]`);
  //make it active 
  currentLink.classList.add('active');
</script>