<nav class="d-flex">
  <a href="/">
    <div class="home-link ">
      <p class="m-0">home</p>
    </div>
  </a>
  <a href="/events">
    <div class="events-link ">
      <p class="m-0">events</p>
    </div>
  </a>
  <a href="/predictions">
    <div class="events-link ">
      <p class="m-0">predictions</p>
    </div>
  </a>
  
  <a href="/profit">
    <div class="events-link ">
      <p class="m-0">profit</p>
    </div>
  </a>
</nav>
<script>
  //
  let currentPath = window.location.pathname;
  //remove right parentheses
  const segments = currentPath.split('/').filter((segment) => { return segment.length > 0;});
  // console.log(segments);
  //we want the first segment of the path
  let linkPath = '/';
  if (segments.length != 0){
    if (!isNaN(segments[0])){
      linkPath = '/';
    }else{
      linkPath = '/'+segments[0];
    }
  }
  let currentLink = document.querySelector(`[href="${linkPath}"]`);
  //make it active 
  if (currentLink != null){
    currentLink.classList.add('active');
  }
</script>