<nav class="d-flex">
  <a href="/">
    <div class="home-link ">
      <p class="m-0">home</p>
    </div>
  </a>
  <a href="/events">
    <div class="events-link ">
      <p class="m-0">events</p>
    </div>
  </a>
  <a href="/predictions">
    <div class="events-link ">
      <p class="m-0">predictions</p>
    </div>
  </a>
  
  <a href="/profit">
    <div class="events-link ">
      <p class="m-0">profit</p>
    </div>
  </a>
</nav>
<script>
  //
  let currentPath = window.location.pathname;
  //remove right parentheses
  if (currentPath[currentPath.length - 1] == '/' && currentPath.length > 1){
    currentPath = currentPath.substring(0,currentPath.length - 1);
  }
  console.log(currentPath);
  //we want the first segment of the path
  //so / or /segment 
  //
  let currentLink = document.querySelector(`[href="${currentPath}"]`);
  //make it active 
  currentLink.classList.add('active');
</script>
<script class="refresh-poller">
  function refresh(){
    window.location.reload();
  }
  // setTimeout(refresh,800);//refresh once a second
</script>