{% extends "fightEvaluator/base.html" %}
{% load static %}
{% load custom_filters %}

{% block styles %}
<link rel="stylesheet" href="{% static 'fightEvaluator/styles/profit_styles.css' %}">
<!-- <link rel="stylesheet" href="{% static 'fightEvaluator/vue_dist/profit.css' %}"> -->
 <link rel="stylesheet" href="{% static 'fightEvaluator/styles/profit-index.css' %}">
{% endblock %}
{% block title %}Profit Calculator{% endblock %}

{% block content %}
    {% include 'fightEvaluator/navbar.html' %}
    <!-- <div id="app"></div> -->
    <div class="main-container">
        <table class="table">
            <thead>
                <th>matchup</th>
                {% for col_head in theads %}
                <th>
                    {{col_head}}
                </th>
                {% endfor %}
            </thead>
            <tbody>
                {% for matchup,preds in matchup_preds_list %}
                <tr class="matchup"  id="matchup-{{matchup.id}}">
                    <td>
                        <div class="matchup-cell">
                            <a href="/matchup/{{ matchup.id }}">
                                {{ matchup.title }}
                            </a>
                        </div>
                    </td>
                    {% for p in preds %}
                        {% if p %}
                        <td class="likelihood-cell">
                            <div class="likelihood likely-{{p.likelihood}}">
                                <span>
                                    {{ p.get_likelihood_display }}
                                </span>
                            </div>
                        </td>
                        {% else %}
                        <td class="likelihood-cell">
                            <div class="likelihood likely-0">
                                <span>Not Predicted</span>
                            </div>
                        </td>
                        {% endif %}
                        
                    {% endfor %}
                </tr>    
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<!-- <script type="module" src="{% static 'fightEvaluator/vue_dist/profit.bundle.js' %}" ></script> -->

<script>
    //handle clicks for prediction element
    document.querySelectorAll(".likelihood").forEach((predictionElement) => {
        predictionElement.addEventListener("click",onPredictionClick);
    });;

    function onPredictionClick(event){
        let predictionElement = event.currentTarget;
        predictionElement.classList.toggle("selected");
    }
</script>

{% endblock %}

