{% extends "fightEvaluator/base.html" %}
{% load static %}
{% load custom_filters %}

{% block styles %}
<!-- <link rel="stylesheet" href="{% static 'fightEvaluator/vue_dist/profit.css' %}"> -->
<link rel="stylesheet" href="{% static 'fightEvaluator/styles/profit_styles.css' %}">
 <link rel="stylesheet" href="{% static 'fightEvaluator/styles/profit-index.css' %}">
{% endblock %}
{% block title %}Profit Calculator{% endblock %}

{% block content %}
    {% include 'fightEvaluator/navbar.html' %}
    <!-- <div id="app"></div> -->
     {% include 'fightEvaluator/profit-index-table.html' %}

   {% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<!-- <script type="module" src="{% static 'fightEvaluator/vue_dist/profit.bundle.js' %}" ></script> -->
{% include 'fightEvaluator/profit-index-scripts.html' %}

{% endblock %}

