{% extends "fightEvaluator/base.html" %}
{% load static %}
{% load custom_filters %}

{% block styles %}
<link rel="stylesheet" href="{% static 'fightEvaluator/styles/profit_styles.css' %}">
<!-- <link rel="stylesheet" href="{% static 'fightEvaluator/vue_dist/profit.css' %}"> -->
 <link rel="stylesheet" href="{% static 'fightEvaluator/styles/profit-index.css' %}">
{% endblock %}
{% block title %}Profit Calculator{% endblock %}

{% block content %}
    {% include 'fightEvaluator/navbar.html' %}
    <!-- <div id="app"></div> -->
    <div class="main-container">
        <table class="prediction-table table table-bordered table-hover">
            <thead>
                <th>matchup</th>
                {% for col_head in theads %}
                {% if col_head == "Win" %}
                <th>
                    <div class="d-flex justify-content-evenly align-items-center">
                        <span>win a</span>
                        <span class="seperator-vert"></span>
                        <span>win b</span> 
                    </div>
                </th>
                {% else %}
                <th>
                    {{col_head}}
                </th>
                {% endif %}
                
                {% endfor %}
            </thead>
            <tbody>
                {% for matchup,preds in matchup_preds_list %}
                <tr class="matchup"  id="matchup-{{matchup.id}}">
                    <td>
                        <div class="matchup-wrapper">
                            <a href="/matchup/{{ matchup.id }}">
                                {{ matchup.title }}
                            </a>
                        </div>
                    </td>
                    {% with win_a=preds.0 win_b=preds.1 %}
                    <td>
                        <div class="d-flex justify-content-evenly align-items-center win">
                            {% if win_a %}
                            <div class="likelihood likely-{{win_a.likelihood}}">
                                <span>
                                    {{ win_a.get_likelihood_display }}
                                </span>                            
                            </div>
                            {% else %}
                            <div class="likelihood likely-0 win">
                                <span>Not Predicted</span>
                            </div>
                            {% endif %}
                            
                            {% if win_b %}
                            <div class="likelihood likely-{{win_b.likelihood}}">
                                <span>
                                    {{ win_b.get_likelihood_display }}
                                </span>                            
                            </div>
                            {% else %}
                            <div class="likelihood likely-0">
                                <span>Not Predicted</span>
                            </div>
                            {% endif %}
                        </div>
                    </td>
                    {% endwith %}

                    {% for p in preds %}
                    {% if forloop.counter0 > 1 %}
                        {% if p %}
                        <td class="likelihood-cell">
                            <div class="likelihood likely-{{p.likelihood}}">
                                <span>
                                    {{ p.get_likelihood_display }}
                                </span>
                            </div>
                        </td>
                        {% else %}
                        <td class="likelihood-cell">
                            <div class="likelihood likely-0">
                                <span>Not Predicted</span>
                            </div>
                        </td>
                        {% endif %}
                    {% endif %}
                    {% endfor %}

                </tr>    
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            <button class="btn btn-outline-secondary" onclick="deselectAll(event)">deselect all</button>
            <button class="btn btn-outline-info">line +</button>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<!-- <script type="module" src="{% static 'fightEvaluator/vue_dist/profit.bundle.js' %}" ></script> -->

<script>
    //handle clicks for prediction element
    document.querySelectorAll(".likelihood").forEach((predictionElement) => {
        predictionElement.addEventListener("click",onPredictionClick);
    });;

    function onPredictionClick(event){
        let predictionElement = event.currentTarget;
        let parent = predictionElement.parentElement;
        if (parent.classList.contains("win")){
            //win type selected
            //unselect previous win selected within this matchup
            let prevSelectedWin = parent.querySelector(".selected");
            if (prevSelectedWin != null && prevSelectedWin != predictionElement){
                prevSelectedWin.classList.toggle("selected");
            }
        }
        predictionElement.classList.toggle("selected");
    }

    function deselectAll(event){
        document.querySelectorAll(".prediction-table .selected").forEach((element) => {            
            element.classList.remove("selected");
        });
    }
</script>

{% endblock %}

