{% extends "fightEvaluator/base.html" %}
{% load static %}
{% load custom_filters %}

{% block styles %}
<link rel="stylesheet" href="{% static 'fightEvaluator/styles/profit_styles.css' %}">
{% endblock %}
{% block title %}Profit Calculator{% endblock %}

{% block content %}
    {% include 'fightEvaluator/navbar.html' %}
    <div class="main-container border">
        
        <div class="table-wrapper">

            <table class="odds-table table table-bordered">
                <caption style="caption-side:top">
                    <h3>Odds Table</h3>
                </caption>
                <thead>
                    <th>fighter a</th>
                    <th>fighter b</th>
                    <th>odds a</th>
                    <th>odds b</th>
                    <!-- <th>Rounds > 1.5</th> -->
                </thead>
                <tbody>
                    <!-- <tr data-selected="">
                        <td><p>Fighter A Name</p></td>
                        <td><p>Fighter B Name</p></td>
                        <td data-name="fighter-a-odds" onclick="onClickOdds(event)" class="odds"><p ><strong>-100</strong></p></td>
                        <td data-name="fighter-b-odds" class="odds" onclick="onClickOdds(event)"><p ><strong>+100</strong></p></td>
                        <td data-name="round-ge-one-half-odds" class="odds" onclick="onClickOdds(event)"><p ><strong>-200</strong></p></td>
                    </tr> -->
                    {% for odds in oddsList %}
                        <tr data-selected="">
                            <td><p>{{ odds.fighter_a}}</p></td>
                            <td><p>{{ odds.fighter_b }}</p></td>
                            <td data-name="fighter-a-odds" onclick="onClickOdds(event)" class="odds"><p ><strong>{{odds.mult_a}} ({{ odds.odds_a }})</strong></p></td>
                            <td data-name="fighter-b-odds" class="odds" onclick="onClickOdds(event)"><p ><strong>{{odds.mult_b}} ({{ odds.odds_b }})</strong></p></td>
                            <!-- <td data-name="round-ge-one-half-odds" class="odds" onclick="onClickOdds(event)"><p ><strong>-200</strong></p></td> -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="odds-result d-flex justify-content-center">
            <p>1 x 0 = 0</p>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% if not oddsList %}
    <script src="{% static 'fightEvaluator/js/profit-polling.js' %}"></script>
{% endif %}
<script>
    function updateMultiFunction(){
        const multis = [1];
        let product = 1;
        document.querySelectorAll('.odds-table tbody tr').forEach((tr)=>{
            // console.log(tr);
            
            let selectedName = tr.dataset.selected;
            if (selectedName.length > 0){
                let selected = tr.querySelector('.selected');
                let text = selected.querySelector('p strong').innerHTML;
                let multiplier = parseFloat(text.split('(')[0]);
                multis.push(multiplier);
                product *= multiplier;
            }
         });
         console.log(multis);
         let oddsResultP = document.querySelector('.odds-result p');
         let resultString = multis.join(" x ");
         
         resultString += ' = ' + product.toFixed(2);
         oddsResultP.textContent = resultString;
         
    }

    function onClickOdds(event){

        // console.log(event.currentTarget);
        //deselect currentElement if is selected
        //or select current and deselect previous selected
        let currentElement = event.currentTarget;
        let oddsName = currentElement.dataset.name
        let tr = currentElement.parentElement;
        let selected = tr.dataset.selected;
        if (selected == oddsName){
            currentElement.classList.remove('selected');
            tr.dataset.selected="";//remove name from selected
            updateMultiFunction();
            return;
        }
        let prevSelected = tr.querySelector('.selected');
        if (prevSelected != null){
            prevSelected.classList.remove('selected');//remove previous selected
        }
        tr.dataset.selected = oddsName;
        currentElement.classList.add('selected');
        updateMultiFunction();
    }
</script>
{% endblock %}

