{% load static %}
<html>
    <head>
        
        <!-- <link rel="stylesheet" href="{% static 'fightEvaluator/vue-frontend/frontend4.ttf' %}">
        <link rel="stylesheet" href="{% static 'fightEvaluator/vue-frontend/frontend3.ttf' %}">
        <link rel="stylesheet" href="{% static 'fightEvaluator/vue-frontend/frontend2.ttf' %}">

        <link rel="stylesheet" href="{% static 'fightEvaluator/vue-frontend/frontend.ttf' %}"> -->
        <link rel="stylesheet" href="{% static 'fightEvaluator/vue-frontend/frontend.css' %}">
        <link rel="stylesheet" href="{% static 'fightEvaluator/styles/styles.css' %}">
        <title>Fight Evaluator</title>
    </head>
    <body data-bs-theme="dark">
        <div id="app">
        </div>
        {% csrf_token %}
        <script type="module" src="{% static 'fightEvaluator/vue-frontend/frontend.bundle.js' %}" ></script>
    </body>
</html>