<!--modal containing matchup edit options-->
  <div class="xmodal hide" data-matchup-id="-1">
    <div class="xmodal-container bg-dark flex-column">
      <div class="modal-title p-2">
        <h4>Actions</h4>
      </div>
      <!-- <div class="matchup-actions d-flex flex-column">
        <div class="action-wrapper">
          <a class="analyze btn btn-primary" href="#">
            analyze
          </a>
          <p>view fighter assessments comparison</p>
        </div>
         <div class="action-wrapper">
          <button class="watch btn btn-primary">watch</button>
          <p>add to watchlist</p>
        </div> 
         <div class="action-wrapper">
          <button class="delete btn btn-danger">delete</button>
          <p>delete matchup</p>
        </div> 
      </div> -->
    </div>
  </div>