<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Fighter Assessment</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.css"
      integrity="sha512-r0fo0kMK8myZfuKWk9b6yY8azUnHCPhgNz/uWDl2rtMdWJlk7gmd9socvGZdZzICwAkMgfTkVrplDahQ07Gi0A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/assessment_styles.css') }}" />
  </head>
  <body data-bs-theme="dark">
    <div class="main-container xmain-container">
      <div class="fighter-info-container">
        <!--fighter image-->
        <div class="info">
          <div class="fighter-img">
            <img
              class="fighter-img"
              src="{{ fighter.img_link if fighter.img_link !=None else url_for('static',path='/media/sample_150.png') }}"
              alt="" />
          </div>
          <!--fighter biographical info in a list-->
          <div class="fighter-bio">
            <div class="container">
              <!-- <h4>Biographical Info</h4> -->
              <h4>{{ fighter.first_name }} {{ fighter.last_name }}</h4>
              <div class="fighter-info-grid">
                <!--2 column flex grid-->
                <div class="info-wrapper">
                  <label>height:&nbsp;</label>
                  <h6 class="fighter-height">{{ fighter.height }}</h6>
                </div>
                <div class="info-wrapper">
                  <label>class:&nbsp;</label>
                  <h6 class="fighter-weight">
                    {{ fighter.weight_class|weightClassToStr }}
                  </h6>
                </div>
                <div class="info-wrapper">
                  <label>age:&nbsp;</label>
                  <h6 class="fighter-age">age</h6>
                </div>
                <div class="info-wrapper">
                  <label>record:&nbsp;</label>
                  <h6 class="fighter-record">{{ fighter.record }}</h6>
                </div>
                <div class="info-wrapper">
                  <label>reach:&nbsp;</label>
                  <h6 class="fighter-reach">{{ fighter.reach }}</h6>
                </div>
                <div class="info-wrapper">
                  <label>stance:&nbsp;</label>
                  <h6 class="fighter-stance">{{ fighter.stance }}</h6>
                </div>
              </div>
              <div class="img-link edit-element" >
                {{ fighter.img_link if fighter.img_link !=None else url_for('static',path='/media/sample_150.png') }}
              </div>
            </div>
          </div>
        </div>
        <div class="edit-button-container">
          <div
            class="edit-button mbutton"
            data-bs-toggle="collapse"
            data-bs-target=".attrib-collapse"
            aria-expanded="false"
            aria-role="button"
            >
            <p>edit</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24">
              <!--white path-->
              <path
                fill="white"
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z" />
            </svg>
          </div>
          <div class="commit-button mbutton" onclick="updateAssessment()">
            <p>commit</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24">
              <path
                fill="white"
                d="M840-680v480q0 33-23.5 56.5T760-120H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h480l160 160Zm-80 34L646-760H200v560h560v-446ZM480-240q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35ZM240-560h360v-160H240v160Zm-40-86v446-560 114Z" />
            </svg>
          </div>
        </div>
      </div>
      <div class="fighter-grid-container">
          <!--list of 8 fighter attributes-->
        <div class="fighter-attrib-list list-group" data-edit-mode-enabled="false">
          <!--
            if a change has been made set data-changed attribute on list-item-group
          -->
          <!-- <div class="list-group-item mradio-group" data-changed data-polarity="null"  data-attribute-name="head_movement"> -->
          <!--group title-->
          <!-- <h4>Attribute X</h4> -->
          <!--button group options container-->
          <!-- <div class="group-options-container">
              <div class="btn mradio-option" data-polarity="positive">option-0</div>
              <div class="btn mradio-option" data-polarity="neutral">option-1</div>
              <div class="btn mradio-option" data-polarity="negative">option-2</div>
            </div> -->
          <!-- </div> -->
          <div
            class="list-group-item mradio-group"
            data-changed="false"
            data-polarity="null"
            data-attribute-name="head_movement">
            <div class="state-container d-flex align-items-center">
              <h4>Head Movement</h4>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24">
                <path
                  fill="white"
                  d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z" />
              </svg>
              <div class="state-indicator p-2" data-polarity="null">good</div>
            </div>
            <!--horizontal list of 3 radio buttons reading good/mediocre/bad -->
            <div class="m-1 collapse attrib-collapse">
              <div class="button-container group-options-container">
                <div
                  class="btn btn-outline-primary mradio-option"
                  data-polarity="positive">
                  good
                </div>
                <div
                  class="btn btn-outline-warning mradio-option"
                  data-polarity="neutral">
                  mediocre
                </div>
                <div
                  class="btn btn-outline-danger mradio-option"
                  data-polarity="negative">
                  bad
                </div>
              </div>
            </div>
            <div class="attrib-description-container">
              <p data-polarity="positive">
                doesn't stand upright/doesn't get hit unnecessarily
              </p>
              <p data-polarity="neutral">
                sometimes gets hit/keeps head upright
              </p>
              <p data-polarity="negative">
                gets hit alot/keeps head upright
              </p>
            </div>
          </div>
          <div
            class="list-group-item mradio-group"
            data-changed="false"
            data-polarity="null"
            data-attribute-name="gas_tank">
            <div class="state-container d-flex align-items-center">
              <h4>Gas Tank</h4>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24">
                <path
                  fill="white"
                  d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z" />
              </svg>
              <div
                class="state-indicator p-2" data-polarity="null">good
              </div>
            </div>
            <div class="m-1 collapse attrib-collapse">
              <div class="button-container group-options-container">
                <div class="btn mradio-option" data-polarity="positive">good</div>
                <div class="btn mradio-option" data-polarity="neutral">
                  mediocre
                </div>
                <div class="btn mradio-option" data-polarity="negative">bad</div>
              </div>
            </div>
            <div class="attrib-description-container">
              <p data-polarity="positive">
                can go full 3 rounds without slowing down much
              </p>
              <p data-polarity="neutral">
                gets more tired but not entirely gassed
              </p>
              <p data-polarity="negative">
                after 1 or 2 rounds gassed and sloppy
              </p>
            </div>
          </div>
          <div
            class="list-group-item mradio-group"
            data-changed="false"
            data-polarity="null"
            data-attribute-name="aggression">
            <div class="state-container d-flex align-items-center">
              <h4>Aggression</h4>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24">
                <path
                  fill="white"
                  d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z" />
              </svg>
              <div
                class="state-indicator p-2" data-polarity="null">
                good
              </div>
            </div>
            <div class="m-1 collapse attrib-collapse">
              <div class="button-container group-options-container">
                <div class="btn mradio-option" data-polarity="positive">high</div>
                <div class="btn mradio-option" data-polarity="neutral">mid</div>
                <div class="btn mradio-option" data-polarity="negative">low</div>
              </div>
            </div>
            <div class="attrib-description-container">
              <p data-polarity="positive">
                always moving forward, throwing strikes, looking for openings
              </p>
              <p data-polarity="neutral">
                sometimes moving forward, throwing strikes, looking for openings
              </p>
              <p data-polarity="negative">
                rarely moving forward/reactive not proactive fighter
              </p>
            </div>
          </div>
          <div
            class="list-group-item mradio-group"
            data-changed="false"
            data-polarity="null"
            data-attribute-name="striking">
            <div class="state-container d-flex align-items-center">
              <h4>Striking</h4>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24">
                <path
                  fill="white"
                  d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z" />
              </svg>
              <div
                class="state-indicator p-2" data-polarity="null">
                good
              </div>
            </div>
            <div class="m-1 collapse attrib-collapse">
              <div class="button-container group-options-container">
                <div class="btn mradio-option" data-polarity="positive">good</div>
                <div class="btn mradio-option" data-polarity="neutral">
                  mediocre
                </div>
                <div class="btn mradio-option" data-polarity="negative">bad</div>
              </div>
            </div>
            <div class="attrib-description-container">
              <p data-polarity="positive">
                uses all or most weapons kicks + punches + elbows + knees
              </p>
              <p data-polarity="neutral">
                mostly punches, not many or few kicks maybe proficient at boxing
              </p>
              <p data-polarity="negative">
                only punches/ maybe ok at boxing/ maybe sloppy striking
              </p>
            </div>
          </div>
          <div
            class="list-group-item mradio-group"
            data-changed="false"
            data-polarity="null"
            data-attribute-name="chinny">
            <!-- <div class="d-flex justify-content-between"> -->
            <div class="state-container d-flex align-items-center">
              <h4>Chinny</h4>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24">
                <path
                  fill="white"
                  d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z" />
              </svg>
              <div
                class="state-indicator p-2" data-polarity="null">
                good
              </div>
            </div>
            <div class="m-1 collapse attrib-collapse">
              <div class="button-container group-options-container">
                <div class="btn mradio-option" data-polarity="positive">no</div>
                <div class="btn mradio-option" data-polarity="neutral">
                  somewhat
                </div>
                <div class="btn mradio-option" data-polarity="negative">yes</div>
              </div>
            </div>
            <div class="attrib-description-container">
              <p data-polarity="positive">
                can take hits and recover/ doesn't get ko'd
              </p>
              <p data-polarity="neutral">
                sometimes gets into trouble but has history of recovering
              </p>
              <p data-polarity="negative">
                history of getting ko'd/gets dazed or buzzed alot
              </p>
            </div>
          </div>
          <div
            class="list-group-item mradio-group"
            data-changed="false"
            data-polarity="null"
            data-attribute-name="desire_to_win">
            <div class="state-container d-flex align-items-center">
              <h4>Desire To Win</h4>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24">
                <path
                  fill="white"
                  d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z" />
              </svg>
              <div
                class="state-indicator p-2" data-polarity="null">
                good
              </div>
            </div>
            <div class="m-1 collapse attrib-collapse">
              <div class="button-container group-options-container">
                <div class="btn mradio-option" data-polarity="positive">yes</div>
                <div class="btn mradio-option" data-polarity="negative">no</div>
              </div>
            </div>
            <div class="attrib-description-container">
              <p data-polarity="positive">
                always looking to win, tries to finish fight,never gives up
              </p>
              <p data-polarity="neutral">
                somewhat - sometimes looking to win, sometimes looking to survive
              </p>
              <p data-polarity="negative">
                no - grindy fighter/ reactive not proactive fighter
              </p>
            </div>
          </div>
          <div class="list-group-item grappling-info-container">
            <h4>Grappling</h4>
            <div class="row grappling-container">
              <div
                class="col mradio-group offense-container"
                data-changed="false"
                data-polarity="null"
                data-attribute-name="grappling_offense">
                <div class="state-container d-flex align-items-center">
                  <h4>Offense</h4>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    viewBox="0 -960 960 960"
                    width="24">
                    <path
                      fill="white"
                      d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z" />
                  </svg>
                  <div
                    class="state-indicator p-2" data-polarity="null">
                    good
                  </div>
                </div>
                <div class="m-1 collapse attrib-collapse">
                  <div class="button-container group-options-container">
                    <div class="btn mradio-option" data-polarity="positive">
                      good
                    </div>
                    <div class="btn mradio-option" data-polarity="negative">
                      bad
                    </div>
                  </div>
                </div>
                <div class="attrib-description-container">
                  <p data-polarity="positive">
                    tries to submit opponent/tries to get into dominant positions
                  </p>
                  <p data-polarity="neutral">
                  </p>
                  <p data-polarity="negative">
                    loses position/overcommits to submissions and gets reversed
                  </p>
                </div>
              </div>

              <div
                class="col mradio-group defense-container"
                data-changed="false"
                data-polarity="null"
                data-attribute-name="grappling_defense">
                <div class="state-container d-flex align-items-center">
                  <h4>Defense</h4>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    viewBox="0 -960 960 960"
                    width="24">
                    <path
                      fill="white"
                      d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z" />
                  </svg>
                  <div
                    class="state-indicator p-2" data-polarity="null">
                    good
                  </div>
                </div>              
                <div class="m-1 collapse attrib-collapse">
                  <div class="button-container group-options-container">
                    <div class="btn mradio-option" data-polarity="positive">
                      good
                    </div>
                    <div class="btn mradio-option" data-polarity="negative">
                      bad
                    </div>
                  </div>
                </div>
                <div class="attrib-description-container">
                  <p data-polarity="positive">
                    primarily can survive having back taken and not getting choked or submitted from difficult positions
                  </p>
                  <p data-polarity="neutral">
                  </p>
                  <p data-polarity="negative">
                    gets choked out/taps quickly/does wrong thing often
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--additional notes and context info to consider about a particular fighter-->
        <div class="fighter-notes list-group-item d-flex flex-column">
          <!--list of text notes about a the fighter in jot note style-->
          <div class="notes-title">
            <h4>Notes - Things to consider about this fighter...</h4>
          </div>
          <!--unordered scrollable list of p tags wrapped in li-->
          <!--textarea made with div and contenteditable -->
          <div class="note-editor-container d-flex flex-column">
            <button
              class="btn btn-success note-submit-btn"
              onclick="addNote(event)">
              submit
            </button>
            <div
              class="note-editor align-self-center"
              contenteditable="plaintext-only"></div>
          </div>
          <div class="notes-list align-self-center mt-4">
            <ul class="dx-none">
              {% for note in notes %}
              <li class="note" data-note-id="{{ note.id }}">
                <p>{{ note.data }}</p>
                <!-- <button
                  class="btn btn-danger note-delete-btn"
                  data-note-id="{{ note.id }}"
                  onclick="deleteNote(event)">
                  delete
                </button> -->
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      
    </div>
    <script src="{{ url_for('static', path='/js/custom_radio_button.js') }}"></script>
    <script>
      var editModeEnabled = false;
      const fighter_id = {{ fighter.id }};//parseInt(window.location.href.split("/").pop());
      const assessment_id = {{ assessment.id }};
      var fighterImgLink = {{ fighter.img_link|fightLinkFilter if assessment.img_link is not none else 'null' }};
      const assessment_data = {
        id: {{ assessment.id }},
        head_movement: {{ assessment.head_movement|fightAttribQualifier if assessment.head_movement is not none else 'null' }},
        gas_tank: {{ assessment.gas_tank|fightAttribQualifier if assessment.gas_tank is not none else 'null' }},
        aggression: {{ assessment.aggression|fightAttribQualifier if assessment.aggression is not none else 'null' }},
        striking: {{ assessment.striking|fightAttribQualifier if assessment.striking is not none else 'null' }},
        desire_to_win: {{ assessment.desire_to_win|fightAttribQualifier if assessment.desire_to_win is not none else 'null' }},
        chinny: {{ assessment.chinny|fightAttribQualifier if assessment.chinny is not none else 'null' }},
        grappling_offense: {{ assessment.grappling_defense|fightAttribQualifier if assessment.grappling_offense is not none else 'null' }},
        grappling_defense: {{ assessment.grappling_defense|fightAttribQualifier if assessment.grappling_defense is not none else 'null' }},
      };

      if (fighterImgLink != null){
        document.querySelector('img').setAttribute('src',fighterImgLink);
      }

      const collapseState = {
        isCollapsing:false,
        isExpanding: false
      };

      function collapseStateChangeHandler(event){
          switch(event.type){
            case "show.bs.collapse":
              collapseState.isExpanding = true;
              collapseState.isCollapsing = false;
              break;
            // case "shown.bs.collapse":
            //   break;
            case "hide.bs.collapse":
              collapseState.isExpanding = false;
              collapseState.isCollapsing = true;
              break;
            // case "hidden.bs.collapse":
            //final state when hidden
            //   break;
          }
      }
      
      function setCollapseListeners(){
          //listen to see if attrib has been collapsed using shown.bs.collapse
          let collapseElement = document.querySelector('.attrib-collapse');
          // collapseElement.addEventListener('shown.bs.collapse',collapseStateChangeHandler);
          collapseElement.addEventListener('show.bs.collapse',collapseStateChangeHandler);
          collapseElement.addEventListener('hide.bs.collapse',collapseStateChangeHandler);
          // collapseElement.addEventListener('hidden.bs.collapse',collapseStateChangeHandler);
      }

      setCollapseListeners();


      document.querySelector(".edit-button")
        .addEventListener("click", (event) => {
          //return if already opening or closing
          //toggle edit mode
          //uncollapse collapsed items
          if (collapseState.isExpanding){
            editModeEnabled = true;
          }
          if (collapseState.isCollapsing){
            editModeEnabled = false;
          }
          document.querySelector('.fighter-attrib-list').setAttribute('data-edit-mode-enabled', editModeEnabled);
          event.target.classList.toggle("active-button");
          let imgLink = document.querySelector('.img-link');
          if (!editModeEnabled) {
            clearRadioButtons();
            imgLink.setAttribute('contenteditable', 'false');
            imgLink.style.opacity = '0';
          }
          if (editModeEnabled){
            //make img-link editable
            imgLink.style.opacity = '1';
            imgLink.setAttribute('contenteditable', 'plaintext-only');
          }
        });

      //grab content from note-editor and send it to the server
      //update the notes-list with the new note
      async function addNote(event) {
        //from note-editor get the text content make sure it is non empty
        let noteEditor = document.querySelector(".note-editor");
        let noteText = noteEditor.textContent.trim();
        if (noteText.length > 0) {
          //post request to server with new note
          let response = await fetch("/notes", {
            method: "POST",
            headers: {
              accept: "application/json",
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              assessment_id: assessment_id,
              data: noteText,
            }),
          });
          let noteData = await response.json();
          let notesContainer = document.querySelector(".notes-list");
          notesContainer.classList.remove('dx-none');
          //create a new li element with the noteText
          let newNote = document.createElement("li");
          newNote.classList.add("note");
          newNote.setAttribute("data-note-id", noteData.id);
          newNote.innerHTML = "<p>" + noteText + "</p>";
          newNote.setAttribute("data-note-id", noteData.id);
          //append the new li element to the notes-list
          let notesList = document.querySelector(".notes-list ul");
          notesList.classList.remove('dx-none');//if there are no notes, remove the d-none class
          notesList.prepend(newNote);
          //clear the note-editor
          noteEditor.textContent = "";
        }
      }

      async function deleteNote(event) {
        //get the note id from the note element
        //send delete request to server
        //remove note from notes-list
        let note_id = parseInt(event.target.getAttribute("data-note-id"));
        let response = await fetch(`/notes/${note_id}`, {
          method: "DELETE",
          headers: {
            accept: "application/json",
            "Content-Type": "application/json",
          },
        });
        console.log(response);
      }

      function dobToAge(dob) {
        let today = new Date();
        let birthDate = new Date(dob);
        let age = today.getFullYear() - birthDate.getFullYear();
        let m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
          age--;
        }
        return age;
      }

      onAssessmentChanged();
      // let fighterName = document.querySelector(".fighter-name");
      // fighterName.textContent = '{{ fighter.first_name }} { fighter.last_name }}';
      let fighterAge = document.querySelector(".fighter-age");
      fighterAge.textContent = dobToAge('{{ fighter.date_of_birth }}');

      async function updateFighterImgLink(){
        //send fighter link update to server
        let response = await fetch(`/fighters/updateImageLink`, {
          method: "PATCH",
          headers: {
            accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            fighter_id: fighter_id,
            img_link: fighterImgLink,
          }),
        });

        if (response.status == 200){
          console.log('img link updated');
          //update imglink in page
          let imgLink = document.querySelector('.img-link');
          imgLink.textContent = fighterImgLink;
        }
        
      }

      async function updateAssessment() {
        if (!editModeEnabled) return;
        // console.log(JSON.stringify(assessment_data));
        //read in all attributes from radio options
        //if img-link has changed grab new link
        let imgLink = document.querySelector('.img-link').textContent.trim();
        if (fighterImgLink != imgLink){
            fighterImgLink = imgLink;
            updateFighterImgLink();
        }
        const newAssessment = structuredClone(assessment_data);
        for (let key in assessment_data) {
          if (key == "id") {
            continue;
          }
          let radioGroup = document.querySelector(
            `[data-attribute-name="${key}"]`
          );
          if (radioGroup.getAttribute("data-changed") == "true") {
            newAssessment[key] = radioGroup.getAttribute("data-polarity");
          }
        }
        // console.log(JSON.stringify(newAssessment));
        let response = await fetch("/assessment/", {
          method: "PATCH",
          headers: {
            accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify(newAssessment),
        });
        // console.log(response);
        if (response.status == 200) {
          let data = await response.json();
          for (let key in data) {
            assessment_data[key] = data[key];
          }
          onAssessmentChanged();
        }
      }
      
      let notesList = document.querySelector('.notes-list');
      let notesListUl = document.querySelector(".notes-list ul");
      //fix .fighter-notes to have max height as the height of attribute list
      let notesContainer = document.querySelector(".fighter-notes");
      let attribList = document.querySelector(".fighter-attrib-list");
      //get padding of notesContainer
      let notesContainerStyle = window.getComputedStyle(notesContainer);
      let paddingMarginOffset = parseInt(notesContainerStyle.paddingBottom) + parseInt(notesContainerStyle.marginBottom);
      notesListUl.style.maxHeight = (attribList.offsetHeight - notesList.offsetTop - paddingMarginOffset) + "px";
      if (notesListUl.children.length > 0){
        notesListUl.classList.remove('dx-none');
      }
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.js"
      integrity="sha512-ipBeSMCnlAvS4AEbycy0nTk9KkYr5lUJwFHNvf4IxtV/CDW4qx53mZKUryWtNr6GFaBl11EXyrU6iE3mo6ib2g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
  </body>
</html>
