<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Fight Evaluator</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/styles/styles.css') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/styles/index.css') }}" />
  </head>

  <body data-bs-theme="dark">
    {% include 'navbar.html' %}

    <!--container-->
    <div class="container-fluid main-container">
      <!--6 column table
            column 1: matchup-number
            column 2: fighter-a-image
            column 3: fighter-a-name
            column 4: vs
            column 5: fighter-b-name
            column 6: fighter-b-image
        -->
      <div class="container-fluid title-container">
        <h1 class="event-title">{{event.name}}</h1>
        <div class="button-container">
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            add
          </button>
        </div>
      </div>
      <!-- Modal -->
      <div
        class="modal fade modal-lg"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content w-auto">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Add Matchup
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <!---->
                <div class="fighter-selector d-flex align-items-center">
                    <div class="fighter-a d-flex align-items-center" data-selected-id="-1" >
                        <img class="fighter-img" src="static/media/sample_50.png" alt="" />
                        <div class="search-container mx-2">
                            <h6>Fighter a</h6>
                            <!--text search box-->
                            <div class="search-box" data-target="#searchbox-a">
                              <form method="get">
                                <input
                                  type="text"
                                  name="search"
                                  placeholder="Search for a fighter..." />
                              </form>
                            </div>
                            <!--search box suggestion drop down-->
                            <div class="search-suggestion" id="searchbox-a">
                              <ul class="list-group"></ul>
                            </div>
                        </div>
                    </div>
                  
                  <div class="mx-3">
                    <div class="weight-class dropdown">
                        <button
                          class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Weight Class
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#">Flyweight</a></li>
                          <li>
                            <a class="dropdown-item" href="#">Bantamweight</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">Featherweight</a>
                          </li>
                          <li><a class="dropdown-item" href="#">Lightweight</a></li>
                          <li>
                            <a class="dropdown-item" href="#">Welterweight</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">Middleweight</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">Light Heavyweight</a>
                          </li>
                          <li><a class="dropdown-item" href="#">Heavyweight</a></li>
                          <li><a class="dropdown-item" href="#">Catchweight</a></li>
                        </ul>
                      </div>
                  </div>
                  <div class="fighter-b d-flex align-items-center" data-selected-id="-1">
                    <div class="search-container mx-2">
                        <h6 style="text-align: end;">Fighter b</h6>
                        <!--text search box-->
                        <div class="search-box" data-target="#searchbox-b">
                            <form method="get">
                            <input
                                type="text"
                                name="search"
                                placeholder="Search for a fighter..." />
                            </form>
                        </div>
                        <!--search box suggestion drop down-->
                        <div class="search-suggestion" id="searchbox-b">
                            <ul class="list-group"></ul>
                        </div>
                    </div>
                    <img class="fighter-img" src="static/media/sample_50.png"alt="" />
                  </div>
                </div>
                <div class="fighter-creator border rounded">
                  <!--form to create a fighter
                        first name
                        last name
                        weight class
                        height
                        reach
                        stance
                        date_of_birth
                        wins
                        losses
                        draws
                  -->
                  <h5 class="text-start">Create a fighter</h5>
                  <form>
                    <div class="row">
                      <div class="col">
                        <label for="first_name" class="form-label">First Name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="first_name"
                          name="first_name"
                          placeholder="First Name" />
                      </div>
                      <div class="col">
                        <label for="last_name" class="form-label">Last Name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="last_name"
                          name="last_name"
                          placeholder="Last Name" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label for="weight_class" class="form-label">Weight Class</label>
                        <select class="form-select" id="weight_class" name="weight_class">
                          <option selected>Choose...</option>
                          <option value="FLYWEIGHT">Flyweight</option>
                          <option value="BANTAMWEIGHT">Bantamweight</option>
                          <option value="FEATHERWEIGHT">Featherweight</option>
                          <option value="LIGHTWEIGHT">Lightweight</option>
                          <option value="WELTERWEIGHT">Welterweight</option>
                          <option value="MIDDLEWEIGHT">Middleweight</option>
                          <option value="LIGHT_HEAVYWEIGHT">Light Heavyweight</option>
                          <option value="HEAVY_WEIGHT">Heavyweight</option>
                        </select>
                      </div>
                      <div class="col">
                        <label for="height" class="form-label">Height</label>
                        <input type="number" class="form-control" name="height" id="height" max="99" maxlength="2"
                          placeholder="Height" />
                      </div>
                      <div class="col">
                        <label for="reach" class="form-label">Reach</label>
                        <input
                          type="number"
                          class="form-control"
                          id="reach"
                          name="reach"
                          max="99"
                          maxlength="2"
                          placeholder="Reach" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label for="stance" class="form-label">Stance</label>
                        <select class="form-select" id="stance" name="stance">
                          <option selected>Choose...</option>
                          <option value="orthodox">Orthodox</option>
                          <option value="southpaw">Southpaw</option>
                          <option value="switch">Switch</option>
                          <option value="open_stance">Open Stance</option>
                        </select>
                      </div>
                      <div class="col">
                        <label for="date_of_birth" class="form-label">Date of Birth</label>
                        <input
                          type="date"
                          class="form-control"
                          id="date_of_birth"
                          name="date_of_birth"
                          placeholder="Date of Birth" />
                      </div>
                    </div>
                    <div class="row">
                      <button class="btn btn-primary my-2 w-auto" style="margin-left: auto;margin-right: 1rem;" onclick="createFighter(event)" type="button">Create</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div style="margin: 0px; margin-right: auto;">
                <p class="m-0" style="color: hsl(0 ,0%, 60%);"><small>Fighter not listed?</small></p>
                <button type="button" class="btn btn-primary" onclick="showFighterCreatorSection()">
                  add new fighter
                </button>
              </div>
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">
                Close
              </button>
              <button type="button" class="btn btn-primary" onclick="createMatchup(event)">
                Create Matchup
              </button>
              
            </div>
          </div>
        </div>
      </div>

      <table class="table table-dark table-striped table-hover">
        <caption>
          {{event.name}}
        </caption>

        <tbody>
          {% for matchup in matchups %}
          <tr class="matchup" data-matchup-id="{{matchup.id}}">
            <th scope="row">
              <h1>{{loop.index}}</h1>
            </th>
            <td>
              <img
                class="fighter-img"
                src="static/media/sample_50.png"
                alt="" />
            </td>
            <td class="fighter-name">
              <!-- <div class="fighter-name"> -->
              <!-- <img class="fighter-img" src="static/media/sample_50.png" alt=""> -->
              <a href="/assessment/{{ matchup.fighter_a_id }}">
                <h4>{{ matchup.fighter_a }}</h4>
              </a>
              <!-- </div> -->
            </td>
            <td>
              <div class="weightclass">
                <p>vs<br /></p>
                <h6>{{ matchup.weight_class|weightClassToStr }}</h6>
              </div>
            </td>
            <td class="fighter-name">
              <a href="/assessment/{{ matchup.fighter_b_id }}">
                <h4>{{ matchup.fighter_b }}</h4>
              </a>
            </td>
            <td>
              <img
                class="fighter-img"
                src="static/media/sample_50.png"
                alt="" />
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
    <script>
      var fightEventId = {{event.id}};
      function createMatchup(event){
        
      }
      
      function createFighter(event) {
        event.preventDefault();
        let form = document.querySelector(".fighter-creator form");
        let formData = new FormData(form);
        // console.log(formData);
        let data = {};
        for (let [key, value] of formData.entries()) {
          data[key] = value;
        }
        // console.log(data);
        fetch("/create-fighter", {
          method: "POST",
          body: JSON.stringify(data),
          headers: {
              accept: "application/json",
              "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            // console.log(data);
          });
      }

      //limit reach and height input to max 2 chars
      document.querySelectorAll("input[type='number']").forEach((input) => {
        input.addEventListener("input", (event) => {
          //no negative values
          if (input.value < 0) {
            input.value = 0;
          }
          if (input.value.length > 2) {
            input.value = input.value.slice(0, 2);
          }
        });
      });
      function showFighterCreatorSection(){
        console.log("show fighter creator section");
        let fighterCreatorSection = document.querySelector(".fighter-creator");
        fighterCreatorSection.classList.toggle("show");
        if (fighterCreatorSection.classList.contains("show")) {
            fighterCreatorSection.style.height = fighterCreatorSection.scrollHeight + "px";
            return;
        }
        fighterCreatorSection.style.height = "0px";
      }

      function onClickSuggestion(){
        //enter this data into the search box
        this.searchBoxInput.value = this.fighter.first_name + " " + this.fighter.last_name;
        //close and clear the search suggestion box
        this.searchSuggestionList.innerHTML = "";
      }
      //for every matchup add on click listener that takes them to /matchup/data-matchup-id
      const matchups = document.querySelectorAll(".matchup");
      matchups.forEach((matchup) => {
        matchup.addEventListener("click", (event) => {
          const matchupId = matchup.dataset.matchupId;
          window.location.href = `/matchup/${matchupId}`;
        });
      });
      //search box functionality
      document.querySelectorAll(".search-box").forEach((searchBox) => {
        searchBox.addEventListener("keyup", async (event) => {
          let input = searchBox.querySelector("input");
          let search = input.value;
          search = search.split(" ").join("+");
          // console.log(search);
          let searchSuggestion = document.querySelector(
            `${searchBox.dataset.target} ul`
          );

          if (search.length > 0) {
            fetch(`/search?search=${search}`)
              .then((response) => response.json())
              .then((data) => {
                searchSuggestion.innerHTML = "";
                data.forEach((fighter) => {
                  let li = document.createElement("li");
                  li.classList.add("list-group-item");
                  li.innerHTML = `
                                    <div class="suggestion">
                                        <p class="name">${fighter.first_name} ${fighter.last_name}, id:${fighter.fighter_id}</p>
                                    </div>`;
                  searchSuggestion.appendChild(li);
                  li.addEventListener('click',onClickSuggestion.bind({
                        fighter:fighter,
                        searchBoxInput:input,
                        searchSuggestionList:searchSuggestion
                    }));
                });
              });
          } else {
            searchSuggestion.innerHTML = "";
          }
        });
      });
      

      //on click weightclass dropdown item set the dropdown button text to the item clicked
        document.querySelectorAll(".weight-class .dropdown-item").forEach((dropDownItem) => {
            dropDownItem.addEventListener('click',(event)=>{
                let weightClassButton = document.querySelector(".weight-class .dropdown-toggle");
                weightClassButton.textContent = event.target.textContent;
            });
        });
    </script>
  </body>
</html>
