<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Fight Evaluator</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', path='/styles/styles.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', path='/styles/index.css') }}" />
</head>

<body data-bs-theme="dark">

  <!--container-->
  <div class="container-fluid main-container">
    <!--6 column table
            column 1: matchup-number
            column 2: fighter-a-image
            column 3: fighter-a-name
            column 4: vs
            column 5: fighter-b-name
            column 6: fighter-b-image
        -->
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content w-auto">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Add Matchup
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <!---->
              <div class="fighter-selector">
                <div class="current-matchup p-2 border rounded">
                  <h5>Current Matchup</h5>
                  <div class="fighter fighter-a d-flex align-items-center" data-selected-id="-1">
                    <img class="fighter-img" src="static/media/sample_50.png" alt="" />
                    <h6 class="fighter-name mx-1 d-none">Fighter a</h6>
                    <!--bootstrap close button-->
                    <div class="search-container mx-1">
                      <!--text search box-->
                      <div class="search-box" data-target="#searchbox-a">
                        <form>
                          <input type="text" name="search" placeholder="Search for a fighter..." />
                        </form>
                      </div>
                      <!--search box suggestion drop down-->
                      <div class="search-suggestion" id="searchbox-a">
                        <ul class="list-group"></ul>
                      </div>
                    </div>
                    <button class="search-clear-button btn-primary btn" onclick="clearFighterSelection('fighter-a')">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                    </button>
                  </div>
                  <div class="my-1">
                    <p class="m-0 text-center">versus</p>
                  </div>
                  <div class="fighter fighter-b d-flex align-items-center" data-selected-id="-1">
                    <img class="fighter-img" src="static/media/sample_50.png" alt="" />
                    <h6 class="fighter-name mx-1 d-none">Fighter b</h6>
                    <div class="search-container mx-1">
                      <!--text search box-->
                      <div class="search-box" data-target="#searchbox-b">
                        <form>
                          <input type="text" name="search" placeholder="Search for a fighter..." />
                        </form>
                      </div>
                      <!--search box suggestion drop down-->
                      <div class="search-suggestion" id="searchbox-b">
                        <ul class="list-group"></ul>
                      </div>
                    </div>
                    <button class="search-clear-button btn-primary btn" onclick="clearFighterSelection('fighter-b')">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                    </button>
                  </div>
                  <div class="matchup-info-wrapper d-flex align-items-center justify-content-between">
                    <div class="weight-class dropdown mt-3">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Weight Class
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Flyweight</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Bantamweight</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Featherweight</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Lightweight</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Welterweight</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Middleweight</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Light Heavyweight</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Heavyweight</a></li>
                        <li><a class="dropdown-item" href="#">Catchweight</a></li>
                      </ul>
                    </div>
                    <div class="rounds-wrapper d-flex mt-3">
                      <p class="m-0">Rounds</p>
                      <!--2 radio buttons for 3 or 5 rounds-->
                      <div class="form-check mx-2">
                        <input class="form-check-input" type="radio" name="rounds" id="roundOption-3" value="3 x 5" checked>
                        <label class="form-check-label" for="rounds">
                          3
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rounds" id="roundOption-5" value="5 x 5">
                        <label class="form-check-label" for="rounds">
                          5
                        </label>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              <div class="fighter-creator border rounded">
                <!--form to create a fighter
                        first name
                        last name
                        weight class
                        height
                        reach
                        stance
                        date_of_birth
                        wins
                        losses
                        draws
                  -->
                <h5 class="text-start">Create a fighter</h5>
                <form>
                  <div class="row">
                    <div class="col">
                      <label for="first_name" class="form-label">First Name</label>
                      <input type="text" class="form-control" id="first_name" name="first_name"
                        placeholder="First Name" />
                    </div>
                    <div class="col">
                      <label for="last_name" class="form-label">Last Name</label>
                      <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="weight_class" class="form-label">Weight Class</label>
                      <select class="form-select" id="weight_class" name="weight_class">
                        <option selected>Choose...</option>
                        <option value="FLYWEIGHT">Flyweight</option>
                        <option value="BANTAMWEIGHT">Bantamweight</option>
                        <option value="FEATHERWEIGHT">Featherweight</option>
                        <option value="LIGHTWEIGHT">Lightweight</option>
                        <option value="WELTERWEIGHT">Welterweight</option>
                        <option value="MIDDLEWEIGHT">Middleweight</option>
                        <option value="LIGHT_HEAVYWEIGHT">Light Heavyweight</option>
                        <option value="HEAVY_WEIGHT">Heavyweight</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="height" class="form-label">Height</label>
                      <input type="number" class="form-control" name="height" id="height" max="99" maxlength="2"
                        placeholder="Height" />
                    </div>
                    <div class="col">
                      <label for="reach" class="form-label">Reach</label>
                      <input type="number" class="form-control" id="reach" name="reach" max="99" maxlength="2"
                        placeholder="Reach" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="stance" class="form-label">Stance</label>
                      <select class="form-select" id="stance" name="stance">
                        <option selected>Choose...</option>
                        <option value="orthodox">Orthodox</option>
                        <option value="southpaw">Southpaw</option>
                        <option value="switch">Switch</option>
                        <option value="open_stance">Open Stance</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="date_of_birth" class="form-label">Date of Birth</label>
                      <input type="date" class="form-control" id="date_of_birth" name="date_of_birth"
                        placeholder="Date of Birth" />
                    </div>
                  </div>
                  <div class="row">
                    <button class="btn btn-primary my-2 w-auto" style="margin-left: auto;margin-right: 1rem;"
                      onclick="createFighter(event)" type="button">Create</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div style="margin: 0px; margin-right: auto;">
              <p class="m-0" style="color: hsl(0 ,0%, 60%);"><small>Fighter not listed?</small></p>
              <button type="button" class="btn btn-primary" onclick="showFighterCreatorSection()">
                add new fighter
              </button>
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="button" class="btn btn-primary" onclick="createMatchup(event)">
              Create Matchup
            </button>

          </div>
        </div>
      </div>
    </div>

    <!-- <div class="action-bar d-flex align-items-center">
      <a href="/">
        <div class="home-link btn">
          <p class="m-0">home</p>
        </div>
      </a>
      <div class="matchup-actions d-flex w-100 justify-content-center my-2 border py-2 px-0 rounded-2 ">
        <div class="action-wrapper">
          <a class="analyze btn btn-primary" href="#">
            analyze
          </a>
          <p class="m-0">&nbsp;- assessment comparison</p>
        </div>
        <div class="action-wrapper">
          <button class="watch btn btn-primary">watch</button>
          <p>&nbsp;- add to watchlist</p>
        </div>
        <div class="action-wrapper">
          <button class="delete btn btn-danger">delete</button>
          <p>&nbsp;- delete matchup</p>
        </div>
      </div>
    </div> -->
    

    <div class="container-fluid title-container">
      <h3 class="event-title">{{event.name}}</h3>
      <div class="button-container">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          add
        </button>
      </div>
    </div>
  
    <div class="tables-wrapper">
      <div class="matchups-container watchlist" id="watchlist">
          <div class="matchups-header">
            <h4>Watchlist</h4>
            <p class="table-note">currently not watching any matchups.</p>
          </div>
          <div class="matchups container-fluid"></div>
      </div>
      <!--main card fighter table-->
      {% for matchups in matchupsList %}
      <div class="matchups-container" id="#{{ 'main-card' if loop.index == 1 else 'prelims' }}">
        <div class="matchups-header">
          {% if loop.index == 1 %}
          <h4>Main Card</h4>
          {% elif loop.index == 2 %}
          <h4>Prelims</h4>
          {% endif %}
        </div>
        <div class="matchups container-fluid">
          {% for matchup in matchups %}
          <div class="matchup row border border-2 m-1" data-matchup-id="{{matchup.id}}">
            <div class="col col-1">
              <h1>{{loop.index}}</h1>
            </div>
            <div class="col col-4 d-flex fighter">
              <img class="fighter-img" src="static/media/sample_50.png" alt="">
              <a href="/assessment/{{ matchup.fighter_a_id }}">
                <p class="fighter-name">{{ matchup.fighter_a }}</p>
              </a>
            </div>
            <div class="col col-3 weightclass">
              <h6>{{ matchup.weight_class|weightClassToStr }}</h6>
              <p>{{ matchup.rounds }}</p>
            </div>
            <div class="col col-4 d-flex fighter justify-content-end">
              <a href="/assessment/{{ matchup.fighter_b_id }}">
                <p class="fighter-name">{{ matchup.fighter_b }}</p>
              </a>
              <img class="fighter-img" src="static/media/sample_50.png" alt="" />
            </div>  
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}  
    </div>
  </div>

  <!--modal containing matchup edit options-->
  <div class="xmodal hide" data-matchup-id="-1">
    <div class="xmodal-container bg-dark flex-column">
      <div class="modal-title p-2">
        <h4>Actions</h4>
      </div>
      <div class="matchup-actions d-flex flex-column">
        <div class="action-wrapper">
          <a class="analyze btn btn-primary" href="#">
            analyze
          </a>
          <p>view fighter assessments comparison</p>
        </div>
        <div class="action-wrapper">
          <button class="watch btn btn-primary">watch</button>
          <p>add to watchlist</p>
        </div>
        <div class="action-wrapper">
          <button class="delete btn btn-danger">delete</button>
          <p>delete matchup</p>
        </div>
      </div>
    </div>
  </div>

  <div class="confirmation-dialog d-none" data-matchup-id="-1">
    <div class="dialog-container bg-dark rounded-2">
      <div class="dialog-title">
        <h4>Delete following MatchUp.</h4>
      </div>
      <div class="dialog-body border p-1 my-3">
        <p class="m-0">Matchup name.</p>
      </div>
      <div class="dialog-actions">
        <button class="cancel btn btn-secondary">cancel</button>
        <button class="confirm btn btn-primary">confirm</button>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script>

    var fightEventId = {{ event.id }};
    function createMatchup(event) {
      //grab fighter-id from fighter-a and fighter-b
      let fighterAId = document.querySelector(".fighter-a").dataset.selectedId;
      let fighterBId = document.querySelector(".fighter-b").dataset.selectedId;
      let weightClass = document.querySelector(".weight-class .dropdown-toggle").textContent;
      let rounds = document.querySelector("input[name='rounds']:checked").value;
      //make sure both fighter id's are not -1
      if (fighterAId == -1 || fighterBId == -1) {
        alert("Please select two fighters");
        return;
      }
      //also make sure some dropdown is selected
      if (weightClass == "Weight Class") {
        alert("Please select a weight class");
        return;
      }
      // console.log(fighterAId, fighterBId, weightClass,rounds);
      // return;
      //send post request to /create-matchup
      fetch("/matchup/create-matchup", {
        method: "POST",
        body: JSON.stringify({
          fighter_a_id: fighterAId,
          fighter_b_id: fighterBId,
          weight_class: weightClass,
          rounds: rounds,
          event_id: fightEventId,
        }),
        headers: {
          accept: "application/json",
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
        });
    }

    function createFighter(event) {
      event.preventDefault();
      let form = document.querySelector(".fighter-creator form");
      let formData = new FormData(form);
      // console.log(formData);
      let data = {};
      for (let [key, value] of formData.entries()) {
        data[key] = value;
      }
      // console.log(data);
      fetch("/fighters/create-fighter", {
        method: "POST",
        body: JSON.stringify(data),
        headers: {
          accept: "application/json",
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json())
        .then((data) => {
          // console.log(data);
        });
    }

    //limit reach and height input to max 2 chars
    document.querySelectorAll("input[type='number']").forEach((input) => {
      input.addEventListener("input", (event) => {
        //no negative values
        if (input.value < 0) {
          input.value = 0;
        }
        if (input.value.length > 2) {
          input.value = input.value.slice(0, 2);
        }
      });
    });
    function showFighterCreatorSection() {
      console.log("show fighter creator section");
      let fighterCreatorSection = document.querySelector(".fighter-creator");
      fighterCreatorSection.classList.toggle("show");
      if (fighterCreatorSection.classList.contains("show")) {
        fighterCreatorSection.style.height = fighterCreatorSection.scrollHeight + "px";
        return;
      }
      fighterCreatorSection.style.height = "0px";
    }

    function clearFighterSelection(fighter){
      let fighterElement = document.querySelector(`.${fighter}`);
      fighterElement.dataset.selectedId = -1;
      // fighterElement.querySelector(".fighter-img").src = "static/media/sample_50.png";
      fighterElement.querySelector(".fighter-name").textContent = "";
      fighterElement.querySelector(".fighter-name").classList.add("d-none");
      fighterElement.querySelector(".search-container").classList.remove("d-none");
      fighterElement.querySelector(`.search-box input`).value = "";
    }
    function onClickSuggestion() {
      //enter this data into the search box
      this.searchBoxInput.value = this.fighter.first_name + " " + this.fighter.last_name;
      //close and clear the search suggestion box
      this.searchSuggestionList.innerHTML = "";
      //set the first one to the new fighter
      // this.fighterElement.querySelector(".fighter-img").src = this.fighter.image_url;
      this.fighterElement.querySelector(".fighter-name").textContent = this.fighter.first_name + " " + this.fighter.last_name;
      this.fighterElement.querySelector(".fighter-name").classList.remove("d-none");
      this.fighterElement.dataset.selectedId = this.fighter.fighter_id;
      this.fighterElement.querySelector(".search-container").classList.add("d-none");
    }
    //for every matchup add on click listener that takes them to /matchup/data-matchup-id
    
    //search box functionality
    document.querySelectorAll(".fighter-selector .fighter").forEach((fighterElement) => {
      let searchBox = fighterElement.querySelector(".search-box");
      searchBox.addEventListener("keyup", async (event) => {
        //check if modal is visible
        let isModalVisible = document.querySelector(".modal.show") != null;
        console.log(isModalVisible);
        if (!isModalVisible) return;
        // console.log(event);
        let input = searchBox.querySelector("input");
        let search = input.value;
        search = search.split(" ").join("+");
        // console.log(search);
        let searchSuggestion = document.querySelector(
          `${searchBox.dataset.target} ul`
        );

        if (search.length > 0) {
          fetch(`/fighters/search/?search=${search}`)
            .then((response) => response.json())
            .then((data) => {
              searchSuggestion.innerHTML = "";
              data.forEach((fighter) => {
                let li = document.createElement("li");
                li.classList.add("list-group-item");
                li.innerHTML = `
                                    <div class="suggestion">
                                        <p class="name">${fighter.first_name} ${fighter.last_name}, id:${fighter.fighter_id}</p>
                                    </div>`;
                searchSuggestion.appendChild(li);
                li.addEventListener('click', onClickSuggestion.bind({
                  fighter: fighter,
                  fighterElement: fighterElement,
                  searchBoxInput: input,
                  searchSuggestionList: searchSuggestion
                }));
              });
            });
        } else {
          searchSuggestion.innerHTML = "";
        }
      });
    });

    //on click weightclass dropdown item set the dropdown button text to the item clicked
    document.querySelectorAll(".weight-class .dropdown-item").forEach((dropDownItem) => {
      dropDownItem.addEventListener('click', (event) => {
        let weightClassButton = document.querySelector(".weight-class .dropdown-toggle");
        weightClassButton.textContent = event.target.textContent;
      });
    });
  </script>
  <script>
    //get watchlist items array from localstorage
    let watchListItems = JSON.parse(localStorage.getItem("watchlist"));
    if (watchListItems == null) watchListItems = [];
    //if watchlist tablle is empty show the table note
    document.querySelectorAll(".matchup").forEach((matchup) => {
      matchup.addEventListener("click",(event) => {
        onClickMatchup.bind({matchup: matchup},event)();
      });
    });

    function onClickMatchup(event){
        //has different behavior depending on what was clicked
        if (event.target.classList.contains("fighter-name")){
          return;
        }
        //check if clicked element is matchup type
        const matchup = this.matchup;
        //if current already contained active then deactivate
        // if (matchup.classList.contains("active")) {
        //   matchup.classList.remove("active");
        //   return;
        // }
        //if not then deactivate all other matchups
        document.querySelectorAll(".matchup").forEach((matchup) => {
          matchup.classList.remove("active");
        });
        //then activate this matchup
        matchup.classList.add("active");
        //check if matchup is in watchlist
        let inWatchList = watchListItems.includes(matchup.dataset.matchupId);
        //show xmodal
        toggleXModal.bind({matchupId: matchup.dataset.matchupId})();
    }

    function initWatchList(){
      //add all matchups in watchlist to watchlist table
      watchListItems.forEach((matchupId) => {
        let matchup = document.querySelector(`.matchup[data-matchup-id="${matchupId}"]`);
        if (matchup == null){
          //remove from watchlist
          watchListItems = watchListItems.filter((id) => id != matchupId);
          return;
        }
        let watchListMatchup = matchup.cloneNode(true);
        watchListMatchup.classList.remove("active");//since no longer active
        watchListMatchup.addEventListener("click", onClickMatchup.bind({matchup: watchListMatchup}));
        document.querySelector('#watchlist .matchups').appendChild(watchListMatchup);
        matchup.classList.add('watching');
      });
      let tableNote = document.querySelector(".table-note");
      if (watchListItems.length == 0) {
        tableNote.classList.remove("d-none");
      } else {
        tableNote.classList.add("d-none");
      }
    }

    function onWatchListChanged(add, matchupId){
      //item added or removed from watchlist
      localStorage.setItem("watchlist", JSON.stringify(watchListItems));
      //if an item has been added to watchlist then add the matchup to the watchlist table
      if (add){
        let matchup = document.querySelector(`.matchup[data-matchup-id="${matchupId}"]`);
        let watchListMatchup = matchup.cloneNode(true);
        watchListMatchup.classList.remove("active");//since no longer active
        watchListMatchup.addEventListener("click", onClickMatchup.bind({matchup: watchListMatchup}));
        document.querySelector('#watchlist .matchups').appendChild(watchListMatchup);
        matchup.classList.add('watching');
      }else{
        //if an item has been removed from watchlist then remove the matchup from the watchlist table
        document.querySelector(`#watchlist .matchup[data-matchup-id="${matchupId}"]`).remove();
        document.querySelector(`.matchup[data-matchup-id="${matchupId}"]`).classList.remove('watching');
      }
      //if watchlist is empty show table note
      let tableNote = document.querySelector(".table-note");
      if (watchListItems.length == 0) {
        tableNote.classList.remove("d-none");
      } else {
        tableNote.classList.add("d-none");
      }
    }

    initWatchList();

    function toggleWatchListItem(){
      //get matchup id
      let xmodal = document.querySelector(".xmodal");
      let matchupId = xmodal.dataset.matchupId;
      //check if matchup is in watchlist
      let inWatchList = watchListItems.includes(matchupId);
      if (inWatchList){
        //remove from watchlist
        watchListItems = watchListItems.filter((id) => id != matchupId);
        onWatchListChanged(false, matchupId);
      }else{
        //add to watchlist
        watchListItems.push(matchupId);//
        onWatchListChanged(true, matchupId);
      }
      toggleXModal();
    }

    function toggleXModal(){
      let xmodal = document.querySelector(".xmodal");
      let action = xmodal.classList.contains("hide") ? "show" : "hide";
      //these variables are defined only when showing the modal
      let matchupId = this.matchupId;//guaranteed to be there when showing
      let inWatchList = watchListItems.includes(matchupId);
      // console.log(matchup);
      if (action == "show"){
        //show the modal
        xmodal.classList.remove("hide");
        xmodal.classList.add("show");
        xmodal.dataset.matchupId = matchupId;
        //populate the modal with this matchup's data
        //extract matchup id from matchup
        //set the link href to /matchup/matchupId
        let watchButton = xmodal.querySelector("button.watch");
        xmodal.querySelector(".analyze").href = `/matchup/${matchupId}`;
        if (inWatchList){
          watchButton.textContent = "unwatch";
        }else{
          watchButton.textContent = "watch";
        }
      } else {
        //hide the modal
        xmodal.classList.remove("show");
        xmodal.classList.add("hide");
        xmodal.dataset.matchupId = "-1";
        //deactivate the matchup
        let activeMatchup = document.querySelector(".matchup.active");
        if (activeMatchup != null) activeMatchup.classList.remove("active");
      }
      
    }

    function deleteMatchup(matchupId){
      fetch(`/matchup/delete-matchup/${matchupId}`, {
        method: "DELETE",
        headers: {
          accept: "application/json",
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json())
        .then((data) => {
          // console.log(data);
          //remove matchup from table
          document.querySelectorAll(`.matchup[data-matchup-id="${matchupId}"]`).forEach((matchup) => {
            matchup.remove();
          });
          //hide confirmation dialog
          document.querySelector(".confirmation-dialog").dataset.matchupId = "-1";
          document.querySelector(".confirmation-dialog").classList.add("d-none");
          watchListItems = watchListItems.filter((id) => id != matchupId);//remove from localStorage watchlsit
          localStorage.setItem("watchlist", JSON.stringify(watchListItems));//update localStorage
          // onWatchListChanged(false, matchupId);//remove from watchlist table
          toggleXModal();
        });
    }

    let xmodal = document.querySelector(".xmodal");
    let watchButton = xmodal.querySelector(".watch");
    watchButton.addEventListener("click", toggleWatchListItem);
    //xmodal on click hide
    xmodal.addEventListener("click", (event) => {
      if (event.target == event.currentTarget){
        toggleXModal();
      }
    });
    let deleteButton = xmodal.querySelector(".delete");
    deleteButton.addEventListener("click", (event) => {
      //send delete request to /matchup/delete-matchup
      let matchupId = xmodal.dataset.matchupId;
      //show confirmation dialog
      let confirmationDialog = document.querySelector(".confirmation-dialog");
      confirmationDialog.dataset.matchupId = matchupId;
      //set the matchup name
      let nameElements = document.querySelectorAll(`.matchup[data-matchup-id="${matchupId}"] .fighter .fighter-name`);
      confirmationDialog.querySelector(".dialog-body p").textContent = `\"${nameElements[0].textContent} vs ${nameElements[1].textContent}\"`;
      confirmationDialog.classList.remove("d-none");
    });
    let confirmDeleteButton = document.querySelector(".confirmation-dialog .dialog-actions .confirm");
    confirmDeleteButton.addEventListener("click", (event) => {
      deleteMatchup(document.querySelector(".confirmation-dialog").dataset.matchupId);
    });
    let cancelDeleteButton = document.querySelector(".confirmation-dialog .dialog-actions .cancel");
    cancelDeleteButton.addEventListener("click", (event) => {
      let confirmationDialog = document.querySelector(".confirmation-dialog");
      confirmationDialog.dataset.matchupId = "-1";
      document.querySelector(".confirmation-dialog").classList.add("d-none");
    });
  </script>
</body>

</html>