<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fight Evaluator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/index.css') }}" />

</head>

<body data-bs-theme="dark">
    {% include 'navbar.html' %}
    <!--container-->
    <div class="container-fluid main-container">
        <!--6 column table
            column 1: matchup-number
            column 2: fighter-a-image
            column 3: fighter-a-name
            column 4: vs
            column 5: fighter-b-name
            column 6: fighter-b-image
        -->
        <table class="table table-dark table-striped table-hover">
            <caption>{{event.name}}</caption>
            <thead>
                <tr>
                    <!-- <th scope="col"></th> -->
                    <!-- <th scope="col">Fighter A</th> -->
                    <!-- <th scope="col">vs</th> -->
                    <!-- <th scope="col">Fighter B</th> -->
                    <h1 class="event-title">{{event.name}}</h1>
                </tr>
            </thead>
            <tbody>
                {% for matchup in matchups %}
                    <tr class="matchup" data-matchup-id="{{matchup.id}}">
                        <th scope="row">
                            <h1>{{loop.index}}</h1>
                        </th>
                        <td><img class="fighter-img" src="static/media/sample_50.png" alt=""></td>
                        <td class="fighter-name">
                            <a href="/assessment/{{ matchup.fighter_a_id }}">
                                <h4>
                                    {{ matchup.fighter_a }}
                                </h4>
                            </a>
                        </td>
                        <td>
                            <div class="weightclass">
                                <p>vs<br></p>
                                <h6>{{ matchup.weight_class|weightClassToStr }}</h6>
                            </div> 
                        </td>
                        <td class="fighter-name">
                            <a href="/assessment/{{ matchup.fighter_b_id }}">
                                <h4>
                                    {{ matchup.fighter_b }}
                                </h4>
                            </a>
                        </td>
                        <td><img class="fighter-img" src="static/media/sample_50.png" alt=""></td>
                    </tr>
                {% endfor %}
             </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>  
        
        //for every matchup add on click listener that takes them to /matchup/data-matchup-id
        const matchups = document.querySelectorAll('.matchup');
        matchups.forEach((matchup)=>{
            matchup.addEventListener('click',(event)=>{
                const matchupId = matchup.dataset.matchupId;
                window.location.href = `/matchup/${matchupId}`;
            });
        });
    </script>
</body>

</html>