<html>

<head>
  <title>MatchUp:&nbsp;{{ fighter_a.data.last_name.capitalize() }} vs {{ fighter_b.data.last_name.capitalize() }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', path='/styles/styles.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', path='/styles/matchup.css') }}" />
</head>

<body data-bs-theme="dark">
  {% include 'navbar.html' %}
  <div class="border container-fluid xmain-container">
    
    <!--
                
                |    fighter a  |     fighter b    |
                                            <div class="">attrib 5</div>
     a.value 0   | b.value 0
                attrib 1     a.value 1   | b.value 1
                attrib 2     a.value 2   | b.value 2
                   .
                   .
                   .
                attrib n     a.value n  | b.value n
            -->
    
    <div class="matchup-container d-flex border justify-content-center">
        <!--contains information about each fighter including fighter img-->
        <div class="matchup-info">
            <div class="matchup-weightclass">
                <h4>
                    {{ matchup.weight_class|weightClassToStr }}
                </h4>
            </div>
            <div class="matchup-rounds">
                <h4>{{ matchup.rounds }}</h4>
            </div>
        </div>
        <div class="fighter-container">
            <div class="fighter-info m-1 border rounded-2">
                <img src="{{ fighter_a.data.img_link if fighter_a.data.img_link !=None else url_for('static',path='/media/sample_150.png') }}" alt="">
                <div class="fighter-bio">
                    <div class="name">
                        <h5>
                          <a href="/assessment/{{ fighter_a.data.id }}">{{ fighter_a.data.first_name }} {{ fighter_a.data.last_name }}</a>
                        </h5>
                    </div>
                    <div class="age">
                        <div class="age-label">age:&nbsp;</div>
                        <h5 class="age">{{ fighter_a.data.date_of_birth|dobToAge }}</h5>
                    </div>
                    <div class="record">
                        <div class="record-label">record:&nbsp;</div>
                        <h5 class="record">{{ fighter_a.data.record }}</h5>
                    </div>
                    <div class="height">
                        <div class="height-label">height:&nbsp;</div>
                        <h5>{{fighter_a.data.height}}</h5>
                    </div>
                    <div class="reach">
                        <div class="reach-label">reach:&nbsp;</div>
                        <h5>
                            {{fighter_a.data.reach}}
                        </h5>
                    </div>
                </div>
            </div>
            
            <div class="fighter-info m-1 border rounded-2">
              <div class="fighter-bio">
                <div class="name">
                  <h5>
                    <a href="/assessment/{{ fighter_b.data.id }}">{{ fighter_b.data.first_name }} {{ fighter_b.data.last_name }}</a>
                  </h5>
              </div>
                <div class="age">
                    <div class="age-label">age:&nbsp;</div>
                    <h5 class="age">{{ fighter_b.data.date_of_birth|dobToAge }}</h5>
                </div>
                <div class="record">
                    <div class="record-label">record:&nbsp;</div>
                    <h5 class="record">{{ fighter_b.data.record }}</h5>
                </div>
                <div class="height">
                    <div class="height-label">height:&nbsp;</div>
                    <h5>{{fighter_b.data.height}}</h5>
                </div>
                <div class="reach">
                    <div class="reach-label">reach:&nbsp;</div>
                    <h5>
                        {{fighter_b.data.reach}}
                    </h5>
                </div>
            </div>
                <img src="{{ fighter_b.data.img_link if fighter_b.data.img_link !=None else url_for('static',path='/media/sample_150.png') }}" alt="">
            </div>
        </div>
    </div>
    
    <div class="content-grid">
      <div class="attrib-compare-table">
        {% for attribName,attribValue in fighter_a.assessment %}
          {% if loop.index != 1 and attribName != 'id' %}
          <div class="attrib-row" data-name="{{ attribName }}">
            <h3>{{attribName|attribNameToStr}}</h3>
            <div class="attrib-col attrib-left" data-polarity="{{ attribValue|attribToStr }}">
              <div class="state-container">
                <h5>
                  {{attribName|attribToStateStr(attribValue)}}
                </h5>
              </div>
              <div class="attrib-description-container">
                <p></p>
              </div>
            </div>
            <div class="attrib-col attrib-right" data-polarity="{{ fighter_b.assessment[attribName]|attribToStr }}">
              <div class="state-container">
                <h5>
                  {{attribName|attribToStateStr(fighter_b.assessment[attribName])}}
                </h5>
              </div>
              <div class="attrib-description-container">
                <p></p>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="notes-section notes-left">
        <h3 class="fighter-name">{{ fighter_a.data.first_name }} {{ fighter_a.data.last_name }} - Notes</h3>
        <!-- text container of notes  -->
        <div class="notes-container">
          <ul class="notes">
            {% for note in fighter_a.notes %}
              <li class="note">
                <p>{{ note.data }}</p>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="notes-section notes-right">
        <h3 class="fighter-name">{{ fighter_b.data.first_name }} {{ fighter_b.data.last_name }} - Notes</h3>
        <!-- text container of notes  -->
        <div class="notes-container">
          <ul class="notes">
            <!-- <li class="note">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
                voluptatum, quibusdam, quia, quod voluptate voluptatem
                exercitationem quas voluptatibus quos doloribus quae. Quisquam
                voluptatum, quibusdam, quia, quod voluptate voluptatem
                exercitationem quas voluptatibus quos doloribus quae.
              </p>
            </li> -->
            {% for note in fighter_b.notes %}
              <li class="note">
               <p>
                {{ note.data }}
               </p> 
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static',path='/js/definitions.js') }}"></script>
  <script>
    
    //for every attrib row write the correct description based on data-polarity
    const attribRows = document.querySelectorAll('.attrib-row');
    attribRows.forEach((row)=>{
      const attribName = row.dataset.name;
      //for every attrib-col
      row.querySelectorAll('.attrib-col').forEach((column) => {
        let attribValue = column.dataset.polarity;
        const attribDescription = attribInfoMap[attribName][attribValue].description;
        column.querySelector('.attrib-description-container p').textContent = attribDescription;
      });
    });
  </script>
</body>

</html>