<html>

<head>
  <title>Hello World!</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', path='/styles/styles.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', path='/styles/matchup.css') }}" />
</head>

<body data-bs-theme="dark">
  <div class="border container-fluid xmain-container">
    
    <!--
                
                |    fighter a  |     fighter b    |
                                            <div class="">attrib 5</div>
     a.value 0   | b.value 0
                attrib 1     a.value 1   | b.value 1
                attrib 2     a.value 2   | b.value 2
                   .
                   .
                   .
                attrib n     a.value n  | b.value n
            -->
    
    <div class="matchup-container d-flex border justify-content-center">
        <!--contains information about each fighter including fighter img-->
        <div class="matchup-info">
            <div class="matchup-weightclass">
                <h4>
                    {{ matchup.weight_class|weightClassToStr }}
                </h4>
            </div>
            <div class="matchup-rounds">
                <h4>{{ matchup.rounds }}</h4>
            </div>
        </div>
        <div class="fighter-container">
            <div class="fighter-info m-1 border rounded-2">
                <img src="{{ url_for('static',path='/media/sample_150.png') }}" alt="">
                <div class="fighter-bio">
                    <div class="name">
                        <h5>{{ fighter_a.data.first_name }} {{ fighter_a.data.last_name }}</h5>
                    </div>
                    <div class="age">
                        <div class="age-label">age:&nbsp;</div>
                        <h5 class="age">{{ fighter_a.data.date_of_birth|dobToAge }}</h5>
                    </div>
                    <div class="record">
                        <div class="record-label">record:&nbsp;</div>
                        <h5 class="record">{{ fighter_a.data.record }}</h5>
                    </div>
                    <div class="height">
                        <div class="height-label">height:&nbsp;</div>
                        <h5>{{fighter_a.data.height}}</h5>
                    </div>
                    <div class="reach">
                        <div class="reach-label">reach:&nbsp;</div>
                        <h5>
                            {{fighter_a.data.reach}}
                        </h5>
                    </div>
                </div>
            </div>
            
            <div class="fighter-info m-1 border rounded-2">
              <div class="fighter-bio">
                <div class="name">
                    <h5>{{ fighter_b.data.first_name }} {{ fighter_b.data.last_name }}</h5>
                </div>
                <div class="age">
                    <div class="age-label">age:&nbsp;</div>
                    <h5 class="age">{{ fighter_b.data.date_of_birth|dobToAge }}</h5>
                </div>
                <div class="record">
                    <div class="record-label">record:&nbsp;</div>
                    <h5 class="record">{{ fighter_b.data.record }}</h5>
                </div>
                <div class="height">
                    <div class="height-label">height:&nbsp;</div>
                    <h5>{{fighter_b.data.height}}</h5>
                </div>
                <div class="reach">
                    <div class="reach-label">reach:&nbsp;</div>
                    <h5>
                        {{fighter_b.data.reach}}
                    </h5>
                </div>
            </div>
                <img src="{{ url_for('static',path='/media/sample_150.png') }}" alt="">
                
            </div>
        </div>
    </div>
    
    <div class="attrib-compare-table">
      {% for attribName,attribValue in fighter_a.assessment %}
        {% if loop.index != 1 and attribName != 'id' %}
        <div class="attrib-row" data-name="{{ attribName }}">
          <h3>{{attribName|attribNameToStr}}</h3>
          <div class="attrib-col attrib-left" data-polarity="{{ attribValue|attribToStr }}">
            <div class="state-container">
              <h5>
                {{attribName|attribToStateStr(attribValue)}}
              </h5>
            </div>
            <div class="attrib-description-container">
              <p></p>
            </div>
          </div>
          <div class="attrib-col attrib-right" data-polarity="{{ fighter_b.assessment[attribName]|attribToStr }}">
            <div class="state-container">
              <h5>
                {{attribName|attribToStateStr(fighter_b.assessment[attribName])}}
              </h5>
            </div>
            <div class="attrib-description-container">
              <p></p>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    
    <div class="fighter-notes-container">
      <!--notes on fighter a and fighter b in two columns-->
      <div class="notes-section">
        <h3>Fighter A</h3>
        <!-- text container of notes  -->
        <div class="notes-container">
          <div class="notes">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              voluptatum, quibusdam, quia, quod voluptate voluptatem
              exercitationem quas voluptatibus quos doloribus quae. Quisquam
              voluptatum, quibusdam, quia, quod voluptate voluptatem
              exercitationem quas voluptatibus quos doloribus quae.
            </p>
          </div>
        </div>
      </div>
      <div class="notes-section">
        <h3>Fighter B</h3>
        <!-- text container of notes  -->
        <div class="notes-container">
          <div class="notes">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              voluptatum, quibusdam, quia, quod voluptate voluptatem
              exercitationem quas voluptatibus quos doloribus quae. Quisquam
              voluptatum, quibusdam, quia, quod voluptate voluptatem
              exercitationem quas voluptatibus quos doloribus quae.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"></script>
  <script>
    let attribDescriptionMap = {
      head_movement:{
        positive: "doesn\'t stand upright/doesn't get hit unnecessarily",
        neutral:"sometimes gets hit/keeps head upright",
        negative:"gets hit alot/keeps head upright",
      },
      gas_tank:{
        positive:"can go full 3 rounds without slowing down much",
        neutral:"gets more tired but not entirely gassed",
        negative:"after 1 or 2 rounds gassed and sloppy",
      },
      aggression:{
        positive:"always moving forward, throwing strikes, looking for openings",
        neutral:"sometimes moving forward, throwing strikes, looking for openings",
        negative:"rarely moving forward/reactive not proactive fighter",
      },
      striking:{
        positive:"uses all or most weapons kicks + punches + elbows + knees",
        neutral:"mostly punches, not many or few kicks maybe proficient at boxing",
        negative:"only punches/ maybe ok at boxing/ maybe sloppy striking",
      },
      chinny :{
        positive:"can take hits and recover/ doesn't get ko'd",
        neutral:"sometimes gets into trouble but has history of recovering",
        negative:"history of getting ko'd/gets dazed or buzzed alot"
      },
      desire_to_win:{
        positive:"always looking to win, tries to finish fight,never gives up",
        neutral:"sometimes looking to win, sometimes looking to survive",
        negative:"grindy fighter/ reactive not proactive fighter",
      },
      grappling_offense:{
        positive:"tries to submit opponent/tries to get into dominant positions/tries to ground and pound",
        neutral:"ok at takedowns, ok at submissions, ok at ground and pound",
        negative:"loses position/overcommits to submissions and gets reversed",
      },
      grappling_defense:{
        positive:"primarily can survive having back taken and not getting choked or submitted from difficult positions",
        neutral:"ok at defending takedowns, ok at defending submissions, ok at defending ground and pound",
        negative:"gets choked out/taps quickly/does wrong thing often",
      },
    }
    //for every attrib row write the correct description based on data-polarity
    const attribRows = document.querySelectorAll('.attrib-row');
    attribRows.forEach((row)=>{
      const attribName = row.dataset.name;
      //for every attrib-col
      row.querySelectorAll('.attrib-col').forEach((column) => {
        let attribValue = column.dataset.polarity;
        const attribDescription = attribDescriptionMap[attribName][attribValue];
        column.querySelector('.attrib-description-container p').textContent = attribDescription;
      });
    });
  </script>
</body>

</html>