<nav class="border">
  <div class="sidebar-container d-flex flex-column">
    <!-- <div class="link-icon-container border d-flex">
          <button class="btn" onclick="toggleSideBar()">
              toggle
          </button>
      </div>  -->
    <div class="sidebar-links-container d-flex flex-column">
      <button class="btn" onclick="toggleSideBar()">
        <svg
          class="menu-icon"
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 -960 960 960"
          width="24">
          <path
            fill="whitesmoke"
            d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
        </svg>
        <svg
          class="close-icon"
          style="display: none"
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 -960 960 960"
          width="24">
          <path
            fill="whitesmoke"
            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
        </svg>
      </button>

      <div class="link">
        <button class="home-link btn">
          <a href="/"> home </a>
        </button>
      </div>
      <!--links list-->
      <div class="assessment-links link d-flex">
        <!--bootstrap5 dropdown -->
        <button class="btn expand-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 -960 960 960"
            width="24">
            <path
              fill="whitesmoke"
              d="M280-280h80v-200h-80v200Zm320 0h80v-400h-80v400Zm-160 0h80v-120h-80v120Zm0-200h80v-80h-80v80ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z" />
          </svg>
        </button>
        <div class="dropdown-container">
          <!--dropdown heading-->
          <div class="heading-wrapper d-flex">
            <h4>assessments</h4>
          </div>
          <div class="dropdown-links d-flex flex-column">
            <!-- <a href="#">link1</a>
                      <a href="#">link2</a>
                      <a href="#">link3</a>
                      <a href="#">link4</a>
                      <a href="#">link5</a> -->
          </div>
        </div>
      </div>

      <div class="matchup-links link d-flex">
        <!--bootstrap5 dropdown -->
        <button class="btn expand-btn">1v1</button>
        <div class="dropdown-container">
          <!--dropdown heading-->
          <div class="heading-wrapper d-flex">
            <h4>matchups</h4>
            <!-- <button class="btn expand-btn">
                          hide
                      </button> -->
          </div>
          <div class="dropdown-links d-flex flex-column">
            <!-- <a href="#">link1</a>
                      <a href="#">link2</a>
                      <a href="#">link3</a>
                      <a href="#">link4</a>
                      <a href="#">link5</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
  //expand dropdown links when clicked
  //every .link has a .dropdown-links-container
  //set the height of the .dropdown-links-container to 0px by default
  //for every .link add an event listener to the .expand-btn
  document.querySelectorAll(".link").forEach((link) => {
    let expandBtn = link.querySelector(".expand-btn");
    if (expandBtn == null) return;
    let dropdownLinksContainer = link.querySelector(".dropdown-links");
    dropdownLinksContainer.style.height = "0px";
  });

  let links = document.querySelectorAll(".link");
  links.forEach((link) => {
    //for every expand
    let expandBtn = link.querySelector(".expand-btn");
    if (expandBtn == null) return;
    let dropdownLinksContainer = link.querySelector(".dropdown-links");
    expandBtn.addEventListener("click", () => {
      //if sidebar is not expanded also call toggleSideBar()
      let sidebarIsOpen = document
        .querySelector(".sidebar-container")
        .classList.contains("expanded");
      if (!sidebarIsOpen) toggleSideBar();
      let isOpen = dropdownLinksContainer.classList.contains("expanded");
      let action = isOpen ? "close" : "open";
      if (action == "open") {
        //expand the dropdown links
        dropdownLinksContainer.classList.add("expanded");
        dropdownLinksContainer.style.height = `${dropdownLinksContainer.scrollHeight}px`;
      } else {
        //close the dropdown links
        dropdownLinksContainer.classList.remove("expanded");
        dropdownLinksContainer.style.height = "0px";
      }
    });
  });

  const linkContainerRightPadding = 16;
  function toggleSideBar() {
    let sidebar = document.querySelector(".sidebar-container");
    let isOpen = sidebar.classList.contains("expanded");
    let action = isOpen ? "close" : "open";
    let linkContainer = document.querySelector(".sidebar-links-container");

    if (action == "open") {
      sidebar.classList.add("expanded");
      //expand the link-container
      linkContainer.style.width = `${
        linkContainer.scrollWidth + linkContainerRightPadding
      }px`;
      sidebar.querySelector(".menu-icon").style.display = "none";
      sidebar.querySelector(".close-icon").style.display = "block";
    } else if (action == "close") {
      sidebar.classList.remove("expanded");
      //set the link-container to 0 px width
      linkContainer.style.width = "0px";

      sidebar.querySelector(".menu-icon").style.display = "block";
      sidebar.querySelector(".close-icon").style.display = "none";
    }
  }
</script>

<script>
  // document.querySelector(".link-text-container").style.width = ;
  function stripIdAndStore(stack, storeKey, data) {
    let inStack = false;
    stack.forEach((item) => {
      if (item.id === data.id) {
        inStack = true;
      }
    });

    if (!inStack) {
      stack.push(data);
    } else {
      //remove the element from the stack and push it to the top
      stack = stack.filter((item) => item.id !== id);
      stack.push(data);
    }
    //remove the last element of the stack if size is greater than 5
    if (stack.length > 5) {
      stack.shift();
    }
    // Convert the array to a JSON string and store it in localStorage
    localStorage.setItem(storeKey, JSON.stringify(stack));
  }

  function addSideBarLinks(stack, linkContainer, path) {
    for (let i = stack.length - 1; i >= 0; i--) {
      let data = stack[i];
      let link = document.createElement("a");
      link.href = `/${path}/${data.id}`;
      link.innerHTML = `<div class="">${data.data}</div>`;
      linkContainer.appendChild(link);
    }
  }

  //if current domain is /assessment then set cookie for assessment_id_0 -> assessment_id

  // Retrieve the JSON string from localStorage
  let assessmentStack = localStorage.getItem("assessments");
  if (assessmentStack == null) {
    assessmentStack = [];
  } else {
    // Parse the JSON string back into an array
    assessmentStack = JSON.parse(assessmentStack);
  }

  let matchupStack = localStorage.getItem("matchups");
  if (matchupStack == null) {
    matchupStack = [];
  } else {
    matchupStack = JSON.parse(matchupStack);
  }

  //get url of current page
  let url = window.location.href;
  let url_parts = url.split("/");
  let id = parseInt(url_parts[url_parts.length - 1]);
  //
  if (url.includes("assessment")) {
    stripIdAndStore(assessmentStack, "assessments", {
      id: id,
      data: "{{ fighter.last_name if fighter }}",
    });
    document.querySelector(".assessment-links").classList.add("active");
  }
  if (url.includes("matchup")) {
    document.querySelector(".matchup-links").classList.add("active");
    stripIdAndStore(matchupStack, "matchups", {
      id: id,
      data: "{{ matchup.fighter_a + ' vs ' + matchup.fighter_b if matchup}}",
    });
  }

  addSideBarLinks(
    assessmentStack,
    document.querySelector(".assessment-links .dropdown-links"),
    "assessment"
  );
  addSideBarLinks(
    matchupStack,
    document.querySelector(".matchup-links .dropdown-links"),
    "matchup"
  );
</script>
