<nav class="border"> 
  <div class="sidebar-container d-flex flex-column">
      <!-- <div class="link-icon-container border d-flex">
          <button class="btn" onclick="toggleSideBar()">
              toggle
          </button>
      </div>  -->
      <div class="sidebar-links-container d-flex flex-column">
          <button class="btn" onclick="toggleSideBar()">
              toggle
          </button>

          <div class="link">
            <button class="home-link btn" >
              <a href="/">
                home
              </a>
            </button>
            
          </div>
          <!--links list-->
          <div class="assessment-links link d-flex"> 
              <!--bootstrap5 dropdown -->
              <button class="btn expand-btn">
                  icon
              </button>
              <div class="dropdown-container">
                  <!--dropdown heading-->
                  <div class="heading-wrapper d-flex">
                      <h4>assessments</h4>
                  </div>
                  <div class="dropdown-links d-flex flex-column">
                      <!-- <a href="#">link1</a>
                      <a href="#">link2</a>
                      <a href="#">link3</a>
                      <a href="#">link4</a>
                      <a href="#">link5</a> -->
                  </div>
              </div>
          </div>
          
          <div class="matchup-links link d-flex">
              <!--bootstrap5 dropdown -->
              <button class="btn expand-btn">
                  icon
              </button>
              <div class="dropdown-container">
                  <!--dropdown heading-->
                  <div class="heading-wrapper d-flex">
                      <h4>matchups</h4>
                      <!-- <button class="btn expand-btn">
                          hide
                      </button> -->
                  </div>
                  <div class="dropdown-links d-flex flex-column">
                      <!-- <a href="#">link1</a>
                      <a href="#">link2</a>
                      <a href="#">link3</a>
                      <a href="#">link4</a>
                      <a href="#">link5</a> -->
                  </div>
              </div>
          </div>
      </div> 
  </div>  
</nav>
<script> 
            
  //expand dropdown links when clicked
  //every .link has a .dropdown-links-container
  //set the height of the .dropdown-links-container to 0px by default
  //for every .link add an event listener to the .expand-btn
  document.querySelectorAll('.link').forEach(link => {
      let expandBtn = link.querySelector(".expand-btn");
      if (expandBtn == null) return;  
      expandBtn.innerHTML = "show";
      let dropdownLinksContainer = link.querySelector(".dropdown-links");
      dropdownLinksContainer.style.height = "0px";
  });

  let links = document.querySelectorAll(".link");
  links.forEach(link => {
      //for every expand 
      let expandBtn = link.querySelector(".expand-btn");
      if (expandBtn == null) return;
      let dropdownLinksContainer = link.querySelector(".dropdown-links");
      expandBtn.addEventListener("click", () => {
          //if sidebar is not expanded also call toggleSideBar()
          let sidebarIsOpen = document.querySelector('.sidebar-container').classList.contains("expanded");
          if (!sidebarIsOpen) toggleSideBar();
          let isOpen = dropdownLinksContainer.classList.contains("expanded");
          let action = isOpen ? "close" : "open";
          if (action == "open"){
              //expand the dropdown links
              dropdownLinksContainer.classList.add("expanded");
              dropdownLinksContainer.style.height = `${dropdownLinksContainer.scrollHeight}px`;
              expandBtn.innerHTML = "hide";
          }else{
              //close the dropdown links
              dropdownLinksContainer.classList.remove("expanded");
              dropdownLinksContainer.style.height = "0px";
              expandBtn.innerHTML = "show";
          }
      });
  });

  const linkContainerRightPadding = 16;
  function toggleSideBar(){
      let sidebar = document.querySelector(".sidebar-container"); 
      let isOpen = sidebar.classList.contains("expanded");
      let action = isOpen ? "close" : "open";
      let linkContainer = document.querySelector(".sidebar-links-container");

      if (action == "open") {
          sidebar.classList.add("expanded");
          //expand the link-container
          linkContainer.style.width = `${linkContainer.scrollWidth + linkContainerRightPadding}px`;
      } else if (action == "close") {
          sidebar.classList.remove("expanded");
          //set the link-container to 0 px width
          linkContainer.style.width = "0px";
      }
  } 
</script>

<script>
  // document.querySelector(".link-text-container").style.width = ;
  function stripIdAndStore(stack, storeKey, data) {
    let inStack = false;
    stack.forEach((item) => {
      if (item.id === data.id) {
        inStack = true;
      }
    });

    if (!inStack) {
      stack.push(data);
    } else {
      //remove the element from the stack and push it to the top
      stack = stack.filter((item) => item.id !== id);
      stack.push(data);
    }
    //remove the last element of the stack if size is greater than 5
    if (stack.length > 5) {
      stack.shift();
    }
    // Convert the array to a JSON string and store it in localStorage
    localStorage.setItem(storeKey, JSON.stringify(stack));
  }

  function addSideBarLinks(stack, linkContainer, path) {
    for (let i = stack.length - 1; i >= 0; i--) {
      let data = stack[i];
      let link = document.createElement("a");
      link.href = `/${path}/${data.id}`;
      link.innerHTML = `<div class="">${data.data}</div>`;
      linkContainer.appendChild(link);
    }
  }

  //if current domain is /assessment then set cookie for assessment_id_0 -> assessment_id

  // Retrieve the JSON string from localStorage
  let assessmentStack = localStorage.getItem("assessments");
  if (assessmentStack == null) {
    assessmentStack = [];
  } else {
    // Parse the JSON string back into an array
    assessmentStack = JSON.parse(assessmentStack);
  }

  let matchupStack = localStorage.getItem("matchups");
  if (matchupStack == null) {
    matchupStack = [];
  } else {
    matchupStack = JSON.parse(matchupStack);
  }

  //get url of current page
  let url = window.location.href;
  let url_parts = url.split("/");
  let id = parseInt(url_parts[url_parts.length - 1]);
  //
  if (url.includes("assessment")) {
    stripIdAndStore(assessmentStack, "assessments", {
      id: id,
      data: "{{ fighter.last_name if fighter }}",
    });
    document.querySelector(".assessment-links").classList.add("active");
  }
  if (url.includes("matchup")) {
    document.querySelector(".matchup-links").classList.add("active");
    stripIdAndStore(matchupStack, "matchups", {
      id: id,
      data: "{{ matchup.fighter_a + ' vs ' + matchup.fighter_b if matchup}}",
    });
  }

  addSideBarLinks(
    assessmentStack,
    document.querySelector(".assessment-links .dropdown-links"),
    "assessment"
  );
  addSideBarLinks(
    matchupStack,
    document.querySelector(".matchup-links .dropdown-links"),
    "matchup"
  );


</script>