<nav class="border">
  <div class="sidebar-container d-flex flex-column expanded">
    <div class="toggle-container border d-flex">
      <button class="btn" onclick="toggleSideBar()">
        toggle
      </button>
    </div>
    <!-- <div class=""></div>/ -->
    <div class="links-wrapper d-flex">
      <!--links list-->
      <div class="link-container link-text-container d-flex flex-column">
        <!-- <div class="link"> -->
        <a href="/">
          <div class="link home-link">
            <h3>Home</h3>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
              <path d="M160-120v-480l320-240 320 240v480H560v-280H400v280H160Z" />
            </svg>
          </div>
        </a>
        <!-- </div> -->
        <!--collapsible container of last 5 visited assessments-->
        <div class="link-wrapper assessment-links active">
          <div class="navbar-heading">
            <h3>Assessments</h3>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
              <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
          </div>

          <div class="link-container">
            <!-- <a href="/assessments class="link">
                    <div ">
                        Fighter Name 0
                    </div>
                </div>-->
          </div>
        </div>
        <!--collapsible container of last 5 visited matchups-->
        <div class="link-wrapper matchup-links active">
          <div class="navbar-heading">
            <h3>Matchups</h3>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
              <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
          </div>
          <div class="link-container">
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  // document.querySelector(".link-text-container").style.width = ;
  function widthInit() {
    let linkTextContainer = document.querySelector(".link-text-container");
    linkTextContainer.style.width = `${linkTextContainer.scrollWidth}px`;
  }
  widthInit();
  function toggleSideBar() {
    let sidebar = document.querySelector(".sidebar-container");
    let isOpen = sidebar.classList.contains("expanded");
    let action = isOpen ? "close" : "open";
    let toggleContainer = document.querySelector(".toggle-container");
    let linkTextContainer = document.querySelector(".link-text-container");

    if (action == "open") {
      linkTextContainer.style.width = `${linkTextContainer.scrollWidth}px`;
      sidebar.classList.add("expanded");
    } else if (action == "close") {
      //set the link-text-container to 0 px width
      document.querySelector(".link-text-container").style.width = "0px";
      sidebar.classList.remove("expanded");
    }
  }
  function stripIdAndStore(stack, storeKey, data) {
    let inStack = false;
    stack.forEach((item) => {
      if (item.id === data.id) {
        inStack = true;
      }
    });

    if (!inStack) {
      stack.push(data);
    } else {
      //remove the element from the stack and push it to the top
      stack = stack.filter((item) => item.id !== id);
      stack.push(data);
    }
    //remove the last element of the stack if size is greater than 5
    if (stack.length > 5) {
      stack.shift();
    }
    // Convert the array to a JSON string and store it in localStorage
    localStorage.setItem(storeKey, JSON.stringify(stack));
  }

  function addSideBarLinks(stack, linkContainer, path) {
    for (let i = stack.length - 1; i >= 0; i--) {
      let data = stack[i];
      let link = document.createElement("a");
      link.href = `/${path}/${data.id}`;
      link.innerHTML = `<div class="link">${data.data}</div>`;
      linkContainer.appendChild(link);
    }
  }

  //if current domain is /assessment then set cookie for assessment_id_0 -> assessment_id

  // Retrieve the JSON string from localStorage
  let assessmentStack = localStorage.getItem("assessments");
  if (assessmentStack == null) {
    assessmentStack = [];
  } else {
    // Parse the JSON string back into an array
    assessmentStack = JSON.parse(assessmentStack);
  }

  let matchupStack = localStorage.getItem("matchups");
  if (matchupStack == null) {
    matchupStack = [];
  } else {
    matchupStack = JSON.parse(matchupStack);
  }

  //get url of current page
  let url = window.location.href;
  let url_parts = url.split("/");
  let id = parseInt(url_parts[url_parts.length - 1]);
  //
  if (url.includes("assessment")) {
    stripIdAndStore(assessmentStack, "assessments", {
      id: id,
      data: "{{ fighter.last_name if fighter }}",
    });
    document.querySelector(".assessment-links").classList.add("active");
  }
  if (url.includes("matchup")) {
    document.querySelector(".matchup-links").classList.add("active");
    stripIdAndStore(matchupStack, "matchups", {
      id: id,
      data: "{{ matchup.fighter_a + ' vs ' + matchup.fighter_b if matchup}}",
    });
  }

  addSideBarLinks(
    assessmentStack,
    document.querySelector(".assessment-links .link-container"),
    "assessment"
  );
  addSideBarLinks(
    matchupStack,
    document.querySelector(".matchup-links .link-container"),
    "matchup"
  );

  //on click sidebar link wrapper expand to height of content
  document.querySelectorAll(".sidebar-container .link-wrapper")
    .forEach((linkWrapper) => {
      let lc = linkWrapper.querySelector(".link-container");
      if (linkWrapper.classList.contains("active")) {
        if (linkWrapper.querySelector(".link-container").children.length == 0) {
          linkWrapper.classList.remove("active");
        }
        lc.style.height = lc.scrollHeight + "px";
      }
      linkWrapper.addEventListener("click", (event) => {
        //check if linkWrapper is already expanded
        let linkContainer = linkWrapper.querySelector(".link-container");
        if (linkWrapper.classList.contains("active")) {
          //if it is expanded, collapse it
          linkWrapper.classList.remove("active");
          linkContainer.style.height = "0px";
          return;
        }
        //don't activate if on links to display
        if (linkContainer.children.length == 0) {
          return;
        }
        linkWrapper.classList.add("active");
        //get the height of the link-container
        let linkContainerHeight = linkContainer.scrollHeight;
        linkContainer.style.height = linkContainerHeight + "px";
      });
    });

  document.querySelectorAll(".link-container").forEach((linkContainer) => {
    linkContainer.style.transition = "all 0.3s ease-in-out";
  });
</script>