<html>
<head>
    <title>Result</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',path='/styles/predict.css') }}">
</head>
<body>
    <div class="container" style="margin-top: 50px;">
        <!--text search box-->
        <div class="search-box">
            <form method="get">
                <input type="text" name="search" placeholder="Search for a fighter...">
                <button type="submit" name="submit-search">Search</button>
            </form>
        </div>
        <!--search box suggestion drop down-->
        <div class="search-suggestion">
            <ul>
                <li>
                    <div>
                        <p>FirstName LastName, id:123</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script>
        //as user types send request to server to get suggestions
        //
        let searchBox = document.querySelector(".search-box input");
        searchBox.addEventListener("keyup", async (event) => {
            let search = searchBox.value;
            search = search.split(" ").join("+");
            console.log(search);
            let searchSuggestion = document.querySelector(".search-suggestion ul");
            // 
            if (search.length > 0) {
                fetch(`/search?search=${search}`)
                    .then((response) => response.json())
                    .then((data) => {
                        searchSuggestion.innerHTML = "";
                        data.forEach((fighter) => {
                            let li = document.createElement("li");
                            li.innerHTML = `<div><p>${fighter.first_name} ${fighter.last_name}, id:${fighter.fighter_id}</p></div>`;
                            searchSuggestion.appendChild(li);
                        });
                    });
            } else {
                searchSuggestion.innerHTML = "";
            }
        });
    </script>
</body>
</html>