<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles/sidebar.css">
    </head> 
    <body data-bs-theme="dark">
        <div class="container-fluid d-flex p-0"> 
            <nav class="border"> 
                <div class="sidebar-container d-flex flex-column">
                    <div class="link-icon-container border d-flex">
                        <button class="btn" onclick="toggleSideBar()">
                            toggle
                        </button>
                    </div>
                    <div class="link-text-container">
                        <!--links list-->
                        <div class="link-container d-flex flex-column"> 
                            <div class="link d-flex">
                                <!--bootstrap5 dropdown -->
                                <button>icon</button>
                                <div class="dropdown-links-container d-flex">
                                    <div class="dropdown-links d-flex flex-column">
                                        <a href="#" class="link">Link 1</a>
                                        <a href="#" class="link">Link 2</a>
                                        <a href="#" class="link">Link 3</a>
                                    </div>
                                    <button class="expand-links-btn">
                                        show
                                    </button>
                                </div>
                            </div>
                            <!-- <a href="#" class="link">Link 1</a>
                            <a href="#" class="link">Link 2</a>
                            <a href="#" class="link">Link 3</a> -->
                        </div> 
                    </div>
                </div>  
            </nav>
            <div class="content-container container-fluid">
                <div class="row">
                    <div class="col-10"> 
                        <h1>Bootstrap 5 Starter Template</h1>
                        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
                    </div>
                </div>  
            </div>   
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>    
        <script> 
            document.querySelectorAll(".link-container").forEach((linkContainer)=>{
                let expandLinksBtn = linkContainer.querySelector(".expand-links-btn");
                let dropdownLinksContainer = linkContainer.querySelector(".dropdown-links-container .dropdown-links");
                let isOpen = dropdownLinksContainer.classList.contains("show");
                expandLinksBtn.addEventListener("click", ()=>{
                    if(isOpen){
                        dropdownLinksContainer.style.height = "0px";
                        expandLinksBtn.innerHTML = "show";
                        isOpen = false;
                        dropdownLinksContainer.classList.remove("show");
                    }else{
                        dropdownLinksContainer.style.height = `${dropdownLinksContainer.scrollHeight}px`;
                        expandLinksBtn.innerHTML = "hide";
                        isOpen = true;
                        dropdownLinksContainer.classList.add("show");
                    } 
                });
            });
            // document.querySelector(".link-text-container").style.width = ;
           
            function toggleSideBar(){
                let sidebar = document.querySelector(".sidebar-container"); 
                let isOpen = sidebar.classList.contains("expanded");
                if(isOpen){
                    sidebar.classList.remove("expanded");
                    //close the sidebar
                    document.querySelectorAll(".dropdown-links-container").forEach((dropdownLinksContainer)=>{
                        dropdownLinksContainer.style.width = "0px";
                        // dropdownLinksContainer.querySelector(".dropdown-links").classList.remove("show");
                    });
                }else{
                    sidebar.classList.add("expanded");
                    //open the sidebar
                    document.querySelectorAll(".dropdown-links-container").forEach((dropdownLinksContainer)=>{
                        dropdownLinksContainer.style.width = `${dropdownLinksContainer.scrollWidth}px`;
                        // dropdownLinksContainer.querySelector(".dropdown-links").classList.add("show");
                    });
                }
            } 
        </script>
    </body>
</html>