<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles/sidebar.css">
    </head> 
    <body data-bs-theme="dark"> 
        <div class="container-fluid d-flex p-0 h-100"> 
            <nav class="border"> 
                <div class="sidebar-container d-flex flex-column">
                    <!-- <div class="link-icon-container border d-flex">
                        <button class="btn" onclick="toggleSideBar()">
                            toggle
                        </button>
                    </div>  -->
                    <div class="sidebar-links-container d-flex flex-column">
                        <button class="btn" onclick="toggleSideBar()">
                            toggle
                        </button>
                        <!--links list-->
                        <div class="link d-flex">
                            <!--bootstrap5 dropdown -->
                            <button class="btn expand-btn">
                                icon
                            </button>
                            <div class="dropdown-container">
                                <!--dropdown heading-->
                                <div class="heading-wrapper d-flex">
                                    <h3>heading</h3>
                                </div>
                                <div class="dropdown-links d-flex flex-column">
                                    <a href="#">link1</a>
                                    <a href="#">link2</a>
                                    <a href="#">link3</a>
                                    <a href="#">link4</a>
                                    <a href="#">link5</a>
                                </div>
                            </div>
                            
                        </div>
                        <div class="link d-flex">
                            <!--bootstrap5 dropdown -->
                            <button class="btn expand-btn">
                                icon
                            </button>
                            <div class="dropdown-container">
                                <!--dropdown heading-->
                                <div class="heading-wrapper d-flex">
                                    <h3>heading</h3>
                                    <!-- <button class="btn expand-btn">
                                        hide
                                    </button> -->
                                </div>
                                <div class="dropdown-links d-flex flex-column">
                                    <a href="#">link1</a>
                                    <a href="#">link2</a>
                                    <a href="#">link3</a>
                                    <a href="#">link4</a>
                                    <a href="#">link5</a>
                                </div>
                            </div>
                            
                        </div>
                    </div> 
                </div>  
            </nav>
            <div class="content-container container-fluid">
                <div class="row">
                    <div class="col-10"> 
                        <h1>Bootstrap 5 Starter Template</h1>
                        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
                    </div>
                </div>  
            </div>   
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>    
        <script> 
            
            //expand dropdown links when clicked
            //every .link has a .dropdown-links-container
            //set the height of the .dropdown-links-container to 0px by default
            //for every .link add an event listener to the .expand-btn
            document.querySelectorAll('.link').forEach(link => {
                let expandBtn = link.querySelector(".expand-btn");
                expandBtn.innerHTML = "show";
                let dropdownLinksContainer = link.querySelector(".dropdown-links");
                dropdownLinksContainer.style.height = "0px";
            });

            let links = document.querySelectorAll(".link");
            links.forEach(link => {
                //for every expand 
                let expandBtn = link.querySelector(".expand-btn");
                let dropdownLinksContainer = link.querySelector(".dropdown-links");
                expandBtn.addEventListener("click", () => {
                    //if sidebar is not expanded also call toggleSideBar()
                    let sidebarIsOpen = document.querySelector('.sidebar-container').classList.contains("expanded");
                    if (!sidebarIsOpen) toggleSideBar();
                    let isOpen = dropdownLinksContainer.classList.contains("expanded");
                    let action = isOpen ? "close" : "open";
                    if (action == "open"){
                        //expand the dropdown links
                        dropdownLinksContainer.classList.add("expanded");
                        dropdownLinksContainer.style.height = `${Math.max(dropdownLinksContainer.offsetHeight,dropdownLinksContainer.scrollHeight)}px`;
                        expandBtn.innerHTML = "hide";
                    }else{
                        //close the dropdown links
                        dropdownLinksContainer.classList.remove("expanded");
                        dropdownLinksContainer.style.height = "0px";
                        expandBtn.innerHTML = "show";
                    }
                });
            });


            function toggleSideBar(){
                let sidebar = document.querySelector(".sidebar-container"); 
                let isOpen = sidebar.classList.contains("expanded");
                let action = isOpen ? "close" : "open";
                let linkContainer = document.querySelector(".sidebar-links-container");

                if (action == "open") {
                    sidebar.classList.add("expanded");
                    //expand the link-container
                    linkContainer.style.width = `${Math.max(linkContainer.offsetWidth,linkContainer.scrollWidth)}px`;
                } else if (action == "close") {
                    sidebar.classList.remove("expanded");
                    //set the link-container to 0 px width
                    linkContainer.style.width = "0px";
                }
            } 
        </script>
    </body>
</html>