html {
  height: 100vh;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

/*data-polarity color variables*/
.xmain-container .fighter-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.xmain-container .fighter-grid-container .fighter-attrib-list {
  grid-column: span 3;
}
.xmain-container .fighter-grid-container .fighter-notes {
  grid-column: span 2;
}

/*
  blinking outline animation called flicker
*/
@keyframes flicker {
  0% {
    outline-color: lavender;
  }
  100% {
    outline-color: red;
  }
}
.list-group-item {
  margin-bottom: 1rem;
  background-color: #242a30 !important;
  border: 1px solid #343a40 !important;
  border-radius: 0.5rem !important;
}

.fighter-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem;
}
.fighter-info-container .info {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fighter-info-container .info div.fighter-img {
  min-width: 150px;
  min-height: 150px;
}
.fighter-info-container .info div.fighter-img img {
  max-width: 100%;
  -webkit-clip-path: inset(0% 0% round 0.8rem);
          clip-path: inset(0% 0% round 0.8rem);
}
.fighter-info-container .info .fighter-bio .img-link {
  opacity: 0;
}

.button-container {
  display: flex;
  align-items: center;
}

.xbutton {
  display: flex;
  align-items: center;
  border: 2px solid lavender;
  border-radius: 0.4rem;
  text-transform: lowercase;
}
.xbutton svg {
  max-width: 24px;
}
.xbutton * {
  margin: 0.4rem;
  pointer-events: none;
}

.edit-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  width: 100%;
  text-transform: lowercase;
}
.edit-button-container .mbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid transparent;
  border: 2px solid lavender;
  border-radius: 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
  margin-left: 0.5rem;
}
.edit-button-container .mbutton p {
  margin: 0px;
  margin-right: 0.5rem;
}
.edit-button-container .mbutton:hover {
  background-color: lavender;
  border-color: black;
  cursor: pointer;
}
.edit-button-container .mbutton:hover svg path {
  fill: black;
}
.edit-button-container .mbutton:hover p {
  color: black;
}
.edit-button-container .mbutton * {
  pointer-events: none;
}
.edit-button-container .active-button {
  animation: flicker 500ms infinite;
}

div[data-changed=true] {
  outline-width: 2px;
}

.dx-none {
  display: none;
  border: none;
}

.mradio-group {
  outline: 0px solid red;
  transition: outline 0.05s ease-out;
}
.mradio-group .group-options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5rem;
}
.mradio-group div[data-mradio-selected] {
  color: white;
  outline: 2px solid lavender;
}
.mradio-group .attrib-description-container p {
  display: none;
  border: 2px solid lavender;
  border-radius: 0.4rem;
  padding: 0.4rem;
  margin: 0.3rem;
}
.mradio-group .attrib-description-container p[data-polarity=positive] {
  border-color: #0d6efd !important;
}
.mradio-group .attrib-description-container p[data-polarity=negative] {
  border-color: #dc3545 !important;
}
.mradio-group .attrib-description-container p[data-polarity=neutral] {
  border-color: #ffc107 !important;
}

.state-container {
  text-transform: uppercase;
}
.state-container h4 {
  margin: 0px;
}
.state-container .arrow {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 2.7rem;
  width: 2.7rem;
}
.state-container .state-indicator {
  background-color: slategray;
  border: 2px solid lavender;
  border-radius: 0.4rem;
  color: ghostwhite;
}
.state-container div[data-polarity=positive] {
  background-color: #0d6efd;
}
.state-container div[data-polarity=negative] {
  background-color: #dc3545;
}
.state-container div[data-polarity=neutral] {
  background-color: #ffc107;
}
.state-container div[data-polarity=null] {
  color: #212529;
}

.fighter-bio {
  /* a 3x3 grid layout */
}
.fighter-bio h4 {
  text-transform: capitalize;
}
.fighter-bio .fighter-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.fighter-bio .fighter-info-grid .info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fighter-bio .fighter-info-grid .info-wrapper h6 {
  white-space: nowrap;
  margin: 0px !important;
}

.fighter-notes {
  padding: 1rem;
}
.fighter-notes .note-editor-container {
  row-gap: 0.5rem;
  /* show light electric blue outline when note-editor is focused */
}
.fighter-notes .note-editor-container .note-submit-btn {
  margin-left: auto;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.fighter-notes .note-editor-container .note-editor {
  overflow: hidden;
  background-color: #212529;
  border: 1px solid #343a40;
  border-radius: 0.5rem;
  outline: 0px solid #3d7efd;
  width: 100%;
  word-break: break-all;
  min-height: 4rem;
  transition: outline 0.05s ease-out;
}
.fighter-notes .note-editor-container .note-editor:focus {
  outline-width: 3px;
  border-color: transparent;
}
.fighter-notes .notes-list {
  width: 100%;
}
.fighter-notes .notes-list ul {
  border-radius: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0px;
  width: 100%;
  padding: 0px;
}
.fighter-notes .notes-list ul .note {
  background-color: #212529;
  border: 2px solid lavender;
  border-radius: 0.6rem;
  list-style: None;
  display: flex;
  padding: 1rem;
  margin: 0.6rem;
}
.fighter-notes .notes-list ul .note p {
  word-break: break-all;
  text-wrap: wrap;
  max-width: 32ch;
  margin: 0px;
}

div[data-edit-mode-enabled=true] .state-container .state-indicator {
  background-color: slategray;
  border: 2px solid lavender;
  border-radius: 0.4rem;
  color: ghostwhite;
}
div[data-edit-mode-enabled=true] .state-container div[data-polarity=positive] {
  background-color: transparent;
  border-color: #0d6efd;
  color: #0d6efd;
}
div[data-edit-mode-enabled=true] .state-container div[data-polarity=negative] {
  background-color: transparent;
  border-color: #dc3545;
  color: #dc3545;
}
div[data-edit-mode-enabled=true] .state-container div[data-polarity=neutral] {
  background-color: transparent;
  border-color: #ffc107;
  color: #ffc107;
}
div[data-edit-mode-enabled=true] .state-container div[data-polarity~=null] {
  color: #212529;
}

.grappling-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 2rem;
  padding-right: 2rem;
  /*class that ends with ense-container */
}
.grappling-container div[class$=ense-container] {
  width: 100%;
  margin: 0.2rem;
  padding: 0.4rem;
  /*rounded border*/
  border-radius: 0.8rem;
  border: 1px solid #444a50;
  background-color: #212529;
}

/*greater than */
@media (max-width: 1200px) {
  .fighter-info-container .info {
    grid-column: span 3 !important;
  }
  .fighter-info-container .edit-button-container {
    grid-column: span 3 !important;
  }
  .fighter-grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
  .fighter-grid-container .fighter-attrib-list {
    grid-column: span 2 !important;
  }
  .fighter-grid-container .fighter-notes {
    grid-column: span 2 !important;
  }
}
@media (max-width: 926px) {
  .fighter-grid-container {
    grid-template-columns: 1fr 1fr !important;
  }
  .fighter-grid-container .fighter-attrib-list {
    grid-column: span 2 !important;
  }
  .fighter-grid-container .fighter-notes {
    grid-column: span 2 !important;
  }
}/*# sourceMappingURL=assessment_styles.css.map */