$positiveBg: #0d6efd;
$negativeBg: #dc3545;
$neutralBg: #ffc107;
$outlineColor : #3d7efd;

html {
  height: 100vh;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

//remove all pointer events
// * {
//   pointer-events: none;
// }

//only interactive elements have pointer events
.mradio-group, .mradio-option, .mbutton, .img-link, .fighter-notes *,.xbutton, .attrib-card{
  pointer-events: auto;
}

/*data-polarity color variables*/

.xmain-container {
  // border: 1px solid white;
  .fighter-grid-container {
    // border: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1rem;

    .fighter-attrib-list {
      grid-column: span 3;
    }

    .fighter-notes {
      //spans 3 frs
      grid-column: span 2;
    }
  }
}

/*
  blinking outline animation called flicker
*/
@keyframes flicker {
  0% {
    outline-color: lavender;
  }
  100% {
    outline-color: red;
  }
}

.attrib-card{
  border: 2px solid lavender;
  .card-header{
    display: flex;
    justify-content: space-between;
    .state-container{
      display: flex;
      text-transform: uppercase;

      h4 {
        margin: 0px;
      }
    }
    .button-container{
      display: flex;
    }
  }
  .card-body{
    display: flex;
    justify-content: space-evenly;
    height: 0px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    .attrib-option{
      border: 2px solid lavender;
      cursor: pointer;
    }
    .attrib-option:hover{
      // cursor: pointer;
      background-color: red;
    }
    .attrib-option[selected]{
      background-color: red;
    }
    .attrib-option[data-option-state="untested"]{
      display: none; 
    }
  }

  .card-footer{
    //by default not visible
    .attrib-option-description{
      // height: 0px;
      display: none;
    }
    .attrib-option-description[selected]{
      display: block;
    }
  }
}
//disable button click on attrib options when card edit mode disabled
.attrib-card[data-edit-mode-enabled="false"]{
  .card-body{
    .attrib-option{
      pointer-events: none;
    }
  }
}

.list-group-item {
  margin-bottom: 1rem;
  background-color: #242a30 !important;
  border: 2px solid #242a30 !important;
  outline: 3px solid transparent !important;
  outline-offset: 2px !important;
  border-radius: 0.5rem !important;  
}


.fighter-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem;

  .info {
    grid-column: span 2;

    display: flex;
    flex-direction: row;
    align-items: center;

    div.fighter-img{
      min-width: 150px;
      min-height: 150px;
      img{
        max-width: 100%;
        clip-path: inset(0% 0% round 0.8rem); 
      }
    }

    .fighter-bio{
      .img-link{
        opacity: 0;
      }
    }
  }
  
}
.button-container{
  // display: flex;
  display: none;
  align-items: center;
}

.xbutton{
  display: flex;
  align-items: center;
  
  border: 2px solid lavender;
  border-radius: 0.4rem;
  text-transform: lowercase;
  
  svg{
    max-width: 24px;
    // margin: 0px;
  }
  *{
    margin: 0.4rem;
    pointer-events: none;
  }
}


.edit-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  width: 100%;
  text-transform: lowercase;

  .mbutton {
    display: flex;
    justify-content: center;
    align-items: center;
  
    outline: 2px solid transparent;
    border: 2px solid lavender;
    border-radius: 0.5rem;
    height: fit-content;
  
    padding: 0.5rem;
    margin-left: 0.5rem;
    p {
      margin: 0px;
      margin-right: 0.5rem;
    }
  }
  .mbutton:hover {
    background-color: lavender;
    border-color: black;
    cursor: pointer;
    svg{
      path{ 
        fill: black;
      }
    }
    p {
      color: black;
    };
  }
  
  .mbutton *{
    pointer-events: none;
  }

  .active-button{
    animation: flicker 500ms infinite;
  }
}

.dx-none {
  display: none;
  border: none;
}

.fighter-bio {
   h4{
    text-transform: capitalize;
   }
  // border: 1px solid white;
  /* a 3x3 grid layout */
  .fighter-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .info-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      // border: 1px solid white;

      h6 {
        white-space: nowrap;
        margin: 0px !important;
      }
    }
  }
}

.fighter-notes {
  padding: 1rem;

  .note-editor-container {
    row-gap: 0.5rem;

    .note-submit-btn {
      margin-left: auto;
      max-width: fit-content;
    }
    .note-editor {
      overflow: hidden;
      background-color: #212529;
      border: 1px solid #343a40;
      border-radius: 0.5rem;
      outline: 0px solid #3d7efd;

      width: 100%;
      // max-width: 32ch;
      word-break: break-all;
      min-height: 4rem;
      transition: outline 0.05s ease-out;
    }

    /* show light electric blue outline when note-editor is focused */
    .note-editor:focus {
      outline-width: 3px;
      border-color: transparent;
    }
  }

  .notes-list {
    width: 100%;

    ul {
      // border: 1px solid #343a40 !important
      border-radius: 0.5rem;
      overflow-y: scroll;
      overflow-x: hidden;
      margin: 0px;
      width: 100%;
      padding: 0px;
      .note {
        background-color: #212529;
        border: 2px solid lavender;
        border-radius: 0.6rem;
        list-style: None;
        display: flex;
        padding: 1rem;
        margin: 0.6rem;
        p {
          word-break: break-word; 
          text-wrap: wrap;
          min-width: 32ch;
          max-width: 100%;
          margin: 0px;
        }
      }
    }
  }
}

/*greater than */
@media (max-width: 1200px) {
  .xmain-container{
    max-width: 95%;
  }
  .fighter-info-container {
    .info {
      grid-column: span 3 !important;
    }
    .edit-button-container {
      grid-column: span 3 !important;
    }
  }

  // .fighter-grid-container {
  //   grid-template-columns: 1fr 1fr 1fr 1fr !important;
  //   .fighter-attrib-list {
  //     grid-column: span 2 !important;
  //   }
  //   .fighter-notes {
  //     grid-column: span 2 !important;
  //   }
  // }
}

@media (max-width: 996px) {

  .fighter-grid-container {
    grid-template-columns: 1fr 1fr !important;
    .fighter-attrib-list {
      grid-column: span 2 !important;
    }
    .fighter-notes {
      grid-column: span 2 !important;
    }
  }
  // .mradio-group{
  //   .state-container{
  //     // flex-direction: column;
  //     display: grid !important;
  //     grid-template-columns: 1fr;
  //     // justify-content: space-between;
  //     .button-container{
  //       justify-self: end !important;
  //     }
  //   }
  // }
}