@font-face {
  font-family: PoppinsSemiBold;
  src: url("/static/styles/Poppins/Poppins-SemiBold.ttf") format("truetype");
}
html {
  height: 100vh;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  background-color: #212529;
}

/*data-polarity color variables*/
.xmain-container {
  width: 100% !important;
  margin-top: 1rem;
}
.xmain-container .fighter-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.xmain-container .fighter-grid-container .fighter-attrib-list {
  grid-column: span 3;
}
.xmain-container .fighter-grid-container .fighter-notes {
  grid-column: span 2;
}

/*
  blinking outline animation called flicker
*/
@keyframes flicker {
  0% {
    outline-color: transparent;
  }
  49% {
    outline-color: transparent;
  }
  50% {
    outline-color: #3d7efd;
  }
  100% {
    outline-color: #3d7efd;
  }
}
button {
  outline-offset: 2px;
  border: 2px solid black;
  border-radius: 0.6rem;
  margin-left: 0.4rem;
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #598392;
  font-family: PoppinsSemiBold;
  transition: all 0.1s ease-out;
}

button:hover {
  box-shadow: black 4px 4px 0 0;
}

button:active {
  box-shadow: black 2px 2px 0 0;
  background-color: rgba(89, 131, 146, 0.5607843137);
}

.fighter-info-container .img-link {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  opacity: 0;
}

.fighter-card {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #131b23;
  padding: 1rem;
}
.fighter-card .fighter-image {
  -webkit-clip-path: inset(0% 0% round 0.8rem);
          clip-path: inset(0% 0% round 0.8rem);
  max-width: 10rem;
  max-height: 10rem;
}
.fighter-card .content-wrapper {
  display: flex;
  border-radius: 0.5rem;
  border: 1px solid #131b23;
  background-color: #242a34;
  margin-left: 0.8rem;
  padding: 0.8rem;
}
.fighter-card .content-wrapper .button-container {
  display: flex;
  align-items: start;
}
.fighter-card .card-content {
  margin-left: 0.8rem;
}
.fighter-card .card-content .card-header .fighter-name {
  margin: 0px;
}
.fighter-card .card-content .card-header .fighter-weight {
  text-transform: uppercase;
}
.fighter-card .card-content .card-body {
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.4rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  padding-top: 0.4rem;
}
.fighter-card .info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fighter-card .info-wrapper h6 {
  margin: 0px;
}

.attrib-card[data-attrib-state=positive] .card-state {
  background-color: #0d6efd;
}

.attrib-card[data-attrib-state=neutral] .card-state {
  background-color: #ffc107;
  color: whitesmoke;
}

.attrib-card[data-attrib-state=negative] .card-state {
  background-color: #dc3545;
  color: whitesmoke;
}

.attrib-card {
  background-color: #242a34;
  border: 2px solid #131b23;
  border-radius: 0.5rem;
  outline: 3px solid transparent;
  outline-offset: 2px;
  padding: 0.8rem;
  margin-bottom: 0.7rem;
}
.attrib-card p {
  margin: 0px;
}
.attrib-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.attrib-card .card-header .state-container {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.attrib-card .card-header .state-container h4 {
  margin: 0px;
}
.attrib-card .card-header .state-container .card-state {
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  border: 2px solid lavender;
  padding: 0.3rem;
  font-family: PoppinsSemiBold;
}
.attrib-card .card-header .button-container {
  display: flex;
}
.attrib-card .card-body {
  display: flex;
  justify-content: space-evenly;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.58, -0.02, 0.19, 0.85);
}
.attrib-card .card-body .attrib-option {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  border: 2px solid lavender;
  padding: 0.8rem;
  margin: 0.8rem;
  cursor: pointer;
  font-family: PoppinsSemiBold;
  text-transform: uppercase;
}
.attrib-card .card-body .attrib-option[selected] {
  border-color: whitesmoke;
  color: whitesmoke;
}
.attrib-card .card-body .attrib-option[data-option-state=positive] {
  border-color: #0d6efd;
  color: #0d6efd;
}
.attrib-card .card-body .attrib-option[data-option-state=neutral] {
  border-color: #ffc107;
  color: #ffc107;
}
.attrib-card .card-body .attrib-option[data-option-state=negative] {
  border-color: #dc3545;
  color: #dc3545;
}
.attrib-card .card-body .attrib-option[data-option-state=positive][selected] {
  border-color: whitesmoke;
  color: whitesmoke;
  background-color: #0d6efd;
}
.attrib-card .card-body .attrib-option[data-option-state=neutral][selected] {
  border-color: whitesmoke;
  color: whitesmoke;
  background-color: #ffc107;
}
.attrib-card .card-body .attrib-option[data-option-state=negative][selected] {
  border-color: whitesmoke;
  color: whitesmoke;
  background-color: #dc3545;
}
.attrib-card .card-body .attrib-option[data-option-state=untested] {
  display: none;
}
.attrib-card .card-footer .attrib-option-description {
  display: none;
  border: 2px solid lavender;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.attrib-card .card-footer .attrib-option-description[data-option-state=positive] {
  border-color: #0d6efd !important;
}
.attrib-card .card-footer .attrib-option-description[data-option-state=neutral] {
  border-color: #ffc107 !important;
}
.attrib-card .card-footer .attrib-option-description[data-option-state=negative] {
  border-color: #dc3545 !important;
}
.attrib-card .card-footer .attrib-option-description[selected] {
  display: block;
}

.attrib-card[data-edit-mode-enabled=false] {
  outline-color: transparent !important;
  animation-play-state: paused;
}
.attrib-card[data-edit-mode-enabled=false] .card-body .attrib-option {
  pointer-events: none;
}

.attrib-card[data-edit-mode-enabled=true] {
  border-color: lavender !important;
  animation-play-state: running;
}
.attrib-card[data-edit-mode-enabled=true] .card-state {
  background-color: transparent;
}
.attrib-card[data-edit-mode-enabled=true] .attrib-edit-button {
  box-shadow: black 2px 2px 0 0;
  background-color: rgba(89, 131, 146, 0.5607843137);
}

.attrib-card[data-edit-mode-enabled=true][data-attrib-state=positive] .card-state {
  border-color: #0d6efd;
  color: #0d6efd;
}

.attrib-card[data-edit-mode-enabled=true][data-attrib-state=neutral] .card-state {
  border-color: #ffc107;
  color: #ffc107;
}

.attrib-card[data-edit-mode-enabled=true][data-attrib-state=negative] .card-state {
  border-color: #dc3545;
  color: #dc3545;
}

.list-group-item {
  margin-bottom: 1rem;
  background-color: #242a34;
  border: 2px solid #242a30 !important;
  outline: 3px solid transparent !important;
  outline-offset: 2px !important;
  border-radius: 0.5rem !important;
}

.dx-none {
  display: none;
  border: none;
}

.fighter-notes {
  padding: 1rem;
}
.fighter-notes .note-editor-container {
  row-gap: 0.5rem;
  /* show light electric blue outline when note-editor is focused */
}
.fighter-notes .note-editor-container .note-submit-btn {
  margin-left: auto;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.fighter-notes .note-editor-container .note-editor {
  overflow: hidden;
  background-color: #212529;
  border: 1px solid #343a40;
  border-radius: 0.5rem;
  outline: 0px solid #3d7efd;
  width: 100%;
  word-break: break-all;
  min-height: 4rem;
  transition: outline 0.05s ease-out;
}
.fighter-notes .note-editor-container .note-editor:focus {
  outline-width: 3px;
  border-color: transparent;
}
.fighter-notes .notes-list {
  width: 100%;
}
.fighter-notes .notes-list ul {
  border-radius: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0px;
  width: 100%;
  padding: 0px;
}
.fighter-notes .notes-list ul .note {
  background-color: #212529;
  border: 2px solid lavender;
  border-radius: 0.6rem;
  list-style: None;
  display: flex;
  padding: 1rem;
  margin: 0.6rem;
}
.fighter-notes .notes-list ul .note p {
  word-break: break-word;
  text-wrap: wrap;
  min-width: 32ch;
  max-width: 100%;
  margin: 0px;
}

/*greater than */
@media (max-width: 1200px) {
  .xmain-container {
    max-width: 95%;
  }
}
@media (max-width: 996px) {
  .fighter-grid-container {
    grid-template-columns: 1fr 1fr !important;
  }
  .fighter-grid-container .fighter-attrib-list {
    grid-column: span 2 !important;
  }
  .fighter-grid-container .fighter-notes {
    grid-column: span 2 !important;
  }
}/*# sourceMappingURL=assessment_styles.css.map */