.xmain-container {
  border: 1px solid white;
}
.xmain-container .fighter-grid-container {
  border: 1px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.xmain-container .fighter-grid-container .fighter-attrib-list {
  grid-column: span 2;
}

/*greater than */
@media (max-width: 1200px) {
  .fighter-attrib-list {
    grid-column: span 3 !important;
  }
  .fighter-notes {
    grid-column: span 3 !important;
  }
}
.list-group-item {
  margin-bottom: 1rem;
  background-color: #242a30 !important;
  border: 1px solid #343a40 !important;
  border-radius: 0.5rem !important;
}

.fighter-info-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.fighter-info-container :first-child {
  align-items: center;
}

.edit-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.mbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lavender;
  border-radius: 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
}
.mbutton p {
  margin: 0px;
  margin-right: 0.5rem;
}

div[data-changed=true] {
  outline-width: 2px;
}

.mradio-group {
  outline: 0px solid red;
  transition: outline 0.05s ease-out;
}
.mradio-group .group-options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.mradio-group div[data-mradio-selected] {
  color: white;
  outline: 2px solid lavender;
}

.mbutton:hover {
  background-color: lavender;
  cursor: pointer;
}

.state-container h4 {
  margin: 0px;
}
.state-container svg {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 2.7rem;
  width: 2.7rem;
}

.fighter-bio {
  /* a 3x3 grid layout */
}
.fighter-bio .fighter-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.fighter-bio .fighter-info-grid .info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fighter-bio .fighter-info-grid .info-wrapper h6 {
  white-space: nowrap;
  margin: 0px !important;
}

.fighter-notes {
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.fighter-notes .notes-title {
  margin-left: -3rem;
}
.fighter-notes .notes-list {
  background-color: #212529;
  border: 1px solid #343a40 !important;
  border-radius: 0.5rem;
  width: 100%;
}
.fighter-notes .notes-list ul {
  width: 100%;
  /*notes list style dot is a dash instead*/
}
.fighter-notes .notes-list ul li {
  list-style: None;
  display: flex;
}
.fighter-notes .notes-list ul li::before {
  content: "-";
  margin-right: 0.4rem;
  margin-left: -1rem;
}

.note-editor-container {
  row-gap: 0.5rem;
  /* show light electric blue outline when note-editor is focused */
}
.note-editor-container .note-submit-btn {
  margin-left: auto;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.note-editor-container .note-editor {
  overflow: hidden;
  background-color: #212529;
  border: 1px solid #343a40;
  border-radius: 0.5rem;
  outline: 0px solid #3d7efd;
  width: 100%;
  min-height: 4rem;
  transition: outline 0.05s ease-out;
}
.note-editor-container .note-editor:focus {
  outline-width: 3px;
  border-color: transparent;
}

/*container is at most 70% width*/
.container-fluid {
  max-width: 70%;
}

.grappling-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 2rem;
  padding-right: 2rem;
  /*class that ends with ense-container */
}
.grappling-container div[class$=ense-container] {
  width: 100%;
  margin: 0.2rem;
  padding: 0.4rem;
  /*rounded border*/
  border-radius: 0.8rem;
  border: 1px solid #444a50;
  background-color: #212529;
}/*# sourceMappingURL=assessment_styles.css.map */