
body{
  display: flex;
}


.title-container{
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.fighter-creator{
  height: 0px;
  opacity: 0;
  margin: 1rem;
  padding: 0.4rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
 
.fighter-selector{
  display: flex;
  justify-content: center;
  .fighter-name{
    text-transform: capitalize;
  }
}

.fighter-creator.show{
  opacity: 1;
}

.search-suggestion{
  position: absolute;
  height: 0px;
  overflow: visible;
  z-index: 100;
  ul{
    margin: 0px;
    padding: 0px;
    li{
      list-style: none;
      margin: 0px;
    }
    li:hover{
      cursor: pointer;
      background-color: hsl(0, 0%, 10%);
    }
    .suggestion{
      p{
        margin: 0px;
      }
    }
  }
}

 /* fighter-img has rounded corners using crop */
 .fighter-img {
  border-radius: 10%;
}


/*horizontally centered event-title*/
.event-title {
  margin: 0rem;
}

$tableBorderRadius: 0.68em;
$cardBorderColor: #131b23;

table {

  border: None;
  tbody {
    border: 2px solid $cardBorderColor;
  }
  th,
  td {
    vertical-align: middle;
    text-align: center;
  }
  td {
    width: fit-content;
  }

  h1 {
    text-align: center;
    opacity: 0.5;
    width: 2.2ch;
    margin: 0px;
  }

  tr:hover {
    cursor: pointer;
    .weightclass {
      h6 {
        text-decoration: underline;
      }
    }
  }
 

  .fighter-name {

    a {
      width: 18ch;
      text-align: center;
      text-decoration: none;
      h4 {
        margin: 0px;
        color: #dee2e6;
      }
      h4:hover {
        text-decoration: underline;
      }
    }
  }
  .weightclass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      margin: 0px;
    }
  }
}

@media(max-width: 650px) {
  table {
    td{
      display: block;
      // *{
      //   display: block;
      // }
    }
  }
}

/* overriding bootstrap style example */
// .btn{
//   // $bs-btn-bg: #598392 !important;
//   --bs-btn-bg: #598392 !important;
//   // background-color: #598392 !important;
// }

// .btn:hover {
//   // color: var(--bs-btn-hover-color);
//   // background-color: var(--bs-btn-hover-bg);
//   // border-color: var(--bs-btn-hover-border-color);
//   --bs-btn-hover-color: lavender !important;
//   --bs-btn-hover-bg: initial !important;
//   box-shadow: black 4px 4px 0 0;
// }

// .btn:active{
//   box-shadow: black 2px 2px 0 0;
//   --bs-btn-active-bg: hsl(0, 0%, 90%) !important;
// }