nav{
    // height: 100%;
    z-index: 1000;
    *{
        transition: all 0.4s ease-out;
    }
    button{ 
        min-width: 10ch;
        height: fit-content;
    }
    .sidebar-container{
        height: 100%;
        overflow: visible;
        max-width: 10ch;
        .link-container{
            height: 100%;
            overflow: hidden;
            min-width: 10ch;
            width: 10ch;
            background-color: red;
            .dropdown-link-container{
                // overflow: hidden;
            }
        }
        
    }
}