nav{
    transition: all 0.4s ease;
    height: 100vh;
}
.sidebar-container{
    width: fit-content;
}
.link-text-container{
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.4s ease;
}

.link-icon-container{
    button{
        margin-left: auto;
    }
    overflow: hidden;
    transition: all 0.4s ease;
}

button{
    // margin-left: auto;
    width: fit-content;
}

.link{
    button{
        height: fit-content;
    }
    .dropdown-links-container{
        width: 0px;
        overflow: hidden;
        transition: width 0.4s ease-out;
        
        .dropdown-links{
            height: 0px;
            transition: height 0.4s ease-out;
        }
    }
}