/* import font as variable */
/* poppins thin light and regular bold semi-bold font-face declarations  */
@font-face {
  font-family: PoppinsThin;
  src: url("/static/styles/Poppins/Poppins-Thin.ttf") format("truetype");
}
@font-face {
  font-family: PoppinsLight;
  src: url("/static/styles/Poppins/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: PoppinsRegular;
  src: url("/static/styles/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: PoppinsMedium;
  src: url("/static/styles/Poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: PoppinsBold;
  src: url("/static/styles/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: PoppinsSemiBold;
  src: url("/static/styles/Poppins/Poppins-SemiBold.ttf") format("truetype");
}
/* use font as variable */
html,
body {
  min-height: 800px;
  font-family: PoppinsLight;
  font-size: 16px;
  background-color: #212529;
}

h1,
h2,
h3 {
  font-family: PoppinsBold;
}

h4,
h5,
h6 {
  font-family: PoppinsSemiBold;
}

nav {
  background-color: #131b23;
  width: -moz-fit-content;
  width: fit-content;
}
nav .sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 35%;
  border-right: 1px solid lavender;
}
nav .sidebar-container a {
  text-decoration: none;
  color: lavender;
}
nav .sidebar-container .link {
  display: flex;
  align-items: center;
  max-width: 24ch;
}
nav .sidebar-container .link h3 {
  margin: 0px;
  margin-left: 0.4rem;
}
nav .sidebar-container .link svg {
  margin-left: 0.4rem;
  fill: lavender;
  width: 2rem;
  height: 2rem;
}
nav .sidebar-container .home-link {
  margin-bottom: 1rem;
}
nav .sidebar-container .link-wrapper .navbar-heading {
  padding-left: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .sidebar-container .link-wrapper .navbar-heading svg {
  fill: #01161E;
  width: 2rem;
  height: 2rem;
}
nav .sidebar-container .link-wrapper .navbar-heading h3 {
  margin: 0px;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  text-transform: lowercase;
  transition: all 0.15s ease;
}
nav .sidebar-container .link-wrapper .link-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 0.5rem;
  border-bottom: 1px solid lavender;
}
nav .sidebar-container .link-wrapper .link-container .link {
  border: 1px solid transparent;
  margin-left: 0.4rem;
}
nav .sidebar-container .link-wrapper .link-container .link:hover {
  border-top: 1px solid lavender;
  border-bottom: 1px solid lavender;
}
nav .sidebar-container .link-wrapper.active .navbar-heading {
  background-color: #AEC3B0;
  color: #01161E;
  text-shadow: 1.5px 1px #EFF6E0;
}
nav .sidebar-container .navbar-heading:hover {
  cursor: pointer;
  border-color: lavender;
  background-color: #AEC3B0;
  color: #01161E;
}
nav .sidebar-container .link-wrapper:hover .link-container {
  border-bottom: 1px solid lavender;
}

/* responsive media queries for table for all standard screen 
        sizes */
@media (min-width: 576px) {
  .main-container {
    max-width: 100%;
    margin: auto;
  }
}
@media (min-width: 576px) {
  .main-container {
    max-width: 100%;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .main-container {
    max-width: 100%;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .main-container {
    max-width: 75%;
    margin: auto;
  }
}
@media (min-width: 1300px) {
  .main-container {
    max-width: 70%;
    margin: auto;
  }
}
@media (min-width: 1400px) {
  .main-container {
    max-width: 65%;
    margin: auto;
  }
}/*# sourceMappingURL=styles.css.map */