/* import font as variable */

/* poppins thin light and regular bold semi-bold font-face declarations  */
@font-face {
    font-family: PoppinsThin;
    src: url("/static/styles/Poppins/Poppins-Thin.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsLight;
    src: url("/static/styles/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsRegular;
    src: url("/static/styles/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsMedium;
    src: url("/static/styles/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsBold;
    src: url("/static/styles/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url("/static/styles/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

/* use font as variable */
$backgroundColor: #212529;

html,
body {
    min-height: 800px;
    font-family: PoppinsLight;
    font-size: 16px; 
    background-color: $backgroundColor;
}

h1,
h2,
h3 {
    font-family: PoppinsBold;
}

h4,
h5,
h6 {
    font-family: PoppinsSemiBold;
}

$backgroundColor: #212529;
$cardColor: #242a34;
$cardBorderColor: #131b23;
$linkWrapperBorderRadius: 0.5rem;
$sideBarPadding: 0.8rem;

$color-0: #01161E;
$color-1: #124559;
$color-2: #598392;
$color-3: #AEC3B0;
$color-4: #EFF6E0;


.sidebar-collapse-container{
    // background-color: red;
    // display:flex;
    margin-bottom: 30%;
    .sidebar-expand-btn{
        float: left;
    } 
    .sidebar-collapse-btn{
        float: right;
    }  
} 

nav {
    background-color: $cardBorderColor;
    width: fit-content;

    h3{
        font-family: PoppinsSemiBold;
    }
 
    .sidebar-container{
        display: flex;
        flex-direction: column;
        height: 100%;

        border-right: 1px solid lavender;

       

        a{
            text-decoration: none;
            color: lavender;
        }

        .link{
            display: flex;
            align-items: center;
            max-width: 24ch;
            h3{
                margin: 0px;
                margin-left: 0.4rem;
            }
            svg{
                margin-left:0.4rem;
                fill: lavender;
                width: 2rem;
                height: 2rem;
            }
        }

        .home-link{
            margin-bottom: 1rem;
        }

        .link-wrapper{
            .navbar-heading{
                padding-left: 0.4rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                svg{
                    fill: $color-0;
                    width: 2rem;
                    height: 2rem;
                }
                h3{
                    margin: 0px;
                    border: 2px solid transparent;
                    border-radius: $linkWrapperBorderRadius;
                    text-transform: lowercase;

                    transition: all 0.15s ease;
                }
            }

            .link-container{
                display: flex;
                flex-direction: column;
                // height: 0px;
                overflow: hidden;
                padding-left: 0.5rem;
                border-bottom: 1px solid lavender;
                
                .link{
                    border: 1px solid transparent;
                    border-top: 1px solid lavender;
                    margin-left: 0.4rem;
                    margin-bottom: 0.3rem;
                    text-align: center;
                }
                .link:hover{
                    border-top: 1px solid lavender;
                    text-decoration: underline;
                }
                
                :first-child{
                    .link{
                        border-top: 1px solid transparent;
                    }
                }
            }

        }

        .link-wrapper.active{
            .navbar-heading{
                background-color: $color-3;
                color: $color-0;
                // box-shadow: black 4px 4px 0 0;
                text-shadow: 1.5px 1px #EFF6E0, 
            }
        }

        .navbar-heading:hover{
            cursor: pointer;
            border-color: lavender;
            background-color: $color-3;
            color: $color-0;
        }

        .link-wrapper:hover{
            .link-container{
                border-bottom: 1px solid lavender;
            }
        }
    }
}
    

/* responsive media queries for table for all standard screen 
        sizes */
@media (min-width: 576px) {
    .main-container {
        max-width: 100%; 
        margin: auto;
    }
}

@media (min-width: 576px) {
    .main-container {
        max-width: 100%;
        margin: auto;
    }
}

// @media (min-width: 768px) {
//     .main-container {
//         max-width: 85%;
//         margin: auto;
//     }
// }

@media (min-width: 992px) {
    .main-container {
        max-width: 100%;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .main-container {
        max-width: 75%;
        margin: auto;
    }
}

@media (min-width: 1300px) {
    .main-container {
        max-width: 70%;
        margin: auto;
    }
}

@media (min-width: 1400px) {
    .main-container {
        max-width: 65%;
        margin: auto;
    }
}