/* import font as variable */

/* poppins thin light and regular bold semi-bold font-face declarations  */
@font-face {
    font-family: PoppinsThin;
    src: url("/static/styles/Poppins/Poppins-Thin.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsLight;
    src: url("/static/styles/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsRegular;
    src: url("/static/styles/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsMedium;
    src: url("/static/styles/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsBold;
    src: url("/static/styles/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url("/static/styles/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

/* use font as variable */
$backgroundColor: #212529;

html, body {
    height: 100%;
    min-height: 800px;
    font-family: PoppinsLight;
    font-size: 16px; 
    background-color: $backgroundColor;
    overflow: hidden;
}

h1,
h2,
h3,h4 {
    font-family: PoppinsBold;
}

 
h5,
h6 {
    font-family: PoppinsMedium;
}

$backgroundColor: #212529;
$cardColor: #242a34;
$cardBorderColor: #131b23;
$linkWrapperBorderRadius: 0.5rem;
$sideBarPadding: 0.8rem;

$color-0: #01161E;
$color-1: #124559;
$color-2: #598392;
$color-3: #AEC3B0;
$color-4: #EFF6E0;

@import url(sidebar.scss);

$sidebar-width: 10ch;
$sidebar-button-width: 8ch;
$main-container-leftpadding: calc($sidebar-width + 2ch);
.main-container{
    overflow: auto;
}

nav{
    height: 100%;
    z-index: 1000;
    
    button{
        // border: 1px solid red !important;
        min-width: $sidebar-button-width; 
        width: $sidebar-button-width;
        height: fit-content;
        text-align: center;
        svg{
            margin: auto; 
        }
    }
    .matchup-links{
        button{
            font-family: PoppinsSemiBold;
        }
    }
    .sidebar-container{
        height: 100%;
        overflow: visible;
        max-width: $sidebar-width;

        .sidebar-links-container{
            height: 100%;
            overflow: hidden;
            min-width: $sidebar-width;
            width: $sidebar-width;
            background-color: $color-0;
            transition: width 0.4s ease-in-out;

            .link{
                // border: 2px solid lavender;
                .home-link{
                    text-decoration: none;
                    width: $sidebar-button-width;
                    max-width: $sidebar-button-width;
                }
                .dropdown-container{
                    //link item list
                    // border: 1px solid green;
                    margin-left: 2ch;
                    .heading-wrapper{
                        align-items: center;
                        h4{
                            margin: 0px;
                        }
                    }
                    .dropdown-links{
                        background-color: $color-2;
                        overflow: hidden;
                        transition: all 0.3s ease-in-out;
                        a{
                            color: whitesmoke;
                            text-decoration: none;
                        }
                    }
                }
                
            }
        }
        
    }
}
    

/*
    tailwind responsive media queries
*/
// @media (min-width: 640px) {
   
// }
// @media (min-width: 768px) {
    
// @media (min-width: 1024px) {
  
// }
// @media (min-width: 1280px) {
    
// }
