/* import font as variable */
/* poppins thin light and regular bold semi-bold font-face declarations  */
@font-face {
  font-family: PoppinsThin;
  src: url("/static/styles/Poppins/Poppins-Thin.ttf") format("truetype");
}
@font-face {
  font-family: PoppinsLight;
  src: url("/static/styles/Poppins/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: PoppinsRegular;
  src: url("/static/styles/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: PoppinsMedium;
  src: url("/static/styles/Poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: PoppinsBold;
  src: url("/static/styles/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: PoppinsSemiBold;
  src: url("/static/styles/Poppins/Poppins-SemiBold.ttf") format("truetype");
}
/* use font as variable */
html,
body {
  min-height: 800px;
  font-family: PoppinsLight;
  font-size: 16px;
  background-color: #212529;
}

h1,
h2,
h3 {
  font-family: PoppinsBold;
}

h4,
h5,
h6 {
  font-family: PoppinsSemiBold;
}

nav {
  background-color: #131b23;
  width: -moz-fit-content;
  width: fit-content;
}
nav .sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 35%;
  border-right: 1px solid lavender;
}
nav .sidebar-container > * {
  margin-bottom: 0.5rem;
}
nav .sidebar-container a {
  text-decoration: none;
  color: lavender;
}
nav .sidebar-container .link {
  max-width: 24ch;
}
nav .sidebar-container .link-wrapper h4 {
  border: 2px solid transparent;
  border-radius: 0.5rem;
  text-transform: lowercase;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
nav .sidebar-container .link-wrapper .link-container {
  display: flex;
  flex-direction: column;
  height: 0px;
  overflow: hidden;
  padding-left: 0.5rem;
}
nav .sidebar-container .link-wrapper .link-container .link {
  border: 1px solid transparent;
  margin-left: 0.4rem;
}
nav .sidebar-container .link-wrapper .link-container .link:hover {
  border-top: 1px solid lavender;
  border-bottom: 1px solid lavender;
}
nav .sidebar-container .link-wrapper.active h4 {
  background-color: #AEC3B0;
  color: #01161E;
  box-shadow: black 4px 4px 0 0;
}
nav .sidebar-container .link-wrapper.active .link-container {
  border-bottom: 1px solid lavender;
}
nav .sidebar-container .link-wrapper h4:hover {
  cursor: pointer;
  border-color: lavender;
  background-color: #AEC3B0;
  color: #01161E;
  box-shadow: black 4px 4px 0 0;
}
nav .sidebar-container .link-wrapper:hover .link-container {
  border-bottom: 1px solid lavender;
}

/* responsive media queries for table for all standard screen 
        sizes */
@media (min-width: 576px) {
  .main-container {
    max-width: 100%;
    margin: auto;
  }
}
@media (min-width: 576px) {
  .main-container {
    max-width: 100%;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .main-container {
    max-width: 100%;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .main-container {
    max-width: 75%;
    margin: auto;
  }
}
@media (min-width: 1300px) {
  .main-container {
    max-width: 70%;
    margin: auto;
  }
}
@media (min-width: 1400px) {
  .main-container {
    max-width: 65%;
    margin: auto;
  }
}/*# sourceMappingURL=styles.css.map */